img,form,fieldset {
	border: medium none;
}

form,fieldset {
	margin: 0;
	padding: 0;
}

body,h1,h2,h3,h4,h5,h6,dl,dt,dd,p {
	margin: 0;
}

q {
	quotes: none;
}

q:before {
	content: "";
}

q:after {
	content: "";
}

input:focus {
	outline: medium none;
}

textarea:focus {
	outline: medium none;
}

select:focus {
	outline: medium none;
}

html,body {
	width: 100%;
	color: ${foreground_100};
}

body {
	font: 13px Arial, Helvetica, sans-serif;

	background: no-repeat  -moz-linear-gradient(top, ${object1_60} 0, #ffffff 400px); /* FF3.6+ */
	background: no-repeat  -webkit-gradient(linear, left top, left bottom, color-stop(0,${object1_60}), color-stop(400px,#ffffff))); /* Chrome,Safari4+ */
	background: no-repeat  -webkit-linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* Chrome10+,Safari5.1+ */
	background: no-repeat  -o-linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* Opera 11.10+ */
	background: no-repeat  -ms-linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* IE10+ */
	background: no-repeat  linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='${object1_60}', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	color: ${foreground_100};
}

input,select,textarea {
	color: ${foreground_100};
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

input[type=submit] {
	background: ${object1_100};
	border: medium none;
	color: ${object1_10};
	cursor: pointer;
	font-size: 16px;
	padding: 5px 0;
	text-transform: uppercase;
	width: 128px;
	margin: 15px auto 0;
}

table {
	border-collapse: collapse;
}

td {
	padding: 0;
}

a {
	color: ${object1_100};
	outline: medium none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

select {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color: ${foreground_100};
}
.hidden { display:none; }

.header {
	width: 100%;
}

.main {
	margin: 0px auto 0px;
	width: 960px;
	background:${object1_100};
	position:relative;
}

.header .main {
	margin-top: 0px;
	height: 130px;
}

#siteTitle {
	float:left;
	margin:10px;
}
#siteTitle a:hover {
	text-decoration:none;
}
#siteLogo {
	max-width:300px;
	max-height:93px;
}
#noLogo {
	font-size:40px;
	line-height:80px;
	margin-right:20px;
	color: ${foreground_10};
}

#siteAuthInsert {
	float:right;
	margin-top:10px;
	color: #DDD3B4;
	font-size: 15px;
    margin: 0 15px;
    padding: 10px 0;
}
#siteAuthInsert .greeting {
	color:  ${object1_20};
	font-weight: bold;
}
#siteAuthInsert a {
	color:  ${object1_20};
	margin-right: 1em;
}

#siteAuthInsert a:hover {
	color: ${object1_20};
}

.navigation {
	width: 615px;
	vertical-align:bottom;
	text-align:center;
	position:absolute; right:0; bottom:0;
	overflow:hidden;
	padding-bottom: 30px;
}

.navigation ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.navigation ul li {
	display:inline;
}

.navigation ul li span {
	font-size: 18px;
	line-height: 50px;
	padding: 2px 0;
	margin:0 10px;
}

.navigation span:lang(fr) {
	font-size: 16px;
	margin:0 5px;
}

.navigation a {
	color: ${object1_20};
	text-decoration: none;
}


.navigation .active a {
	color: ${object1_20};
}

.navigation a:hover span {
	border-bottom:1px solid ${object1_20};
}

.navigation .active a span {
	border-bottom:2px solid ${object1_20};
}

.navigation .active a:hover {
}

/*
 * Footer
 */

#footer {
	position: relative;
}

#footer .main {
	height:100%;
}
.footer_wrap {
}

ul.footer_locations {
	list-style-type: none;
	display: inline-block;
	width:790px;
	vertical-align:top;
	padding: 0;
	margin-left: 10px;
	margin-top: 20px;
}

ul.footer_locations label {
	display: block;
	text-transform: uppercase;
	padding-bottom: 10px;
	color: ${object2_10};
}

ul.footer_locations li {
	float: left;
	width: 195px;
	font-weight: bold;
}

.footer_locations a {
	color:  ${object1_20};
}

.footer_locations a:hover {
	color: ${object1_20};
}

.footer_links {
	text-align: center;
}

.footer_link:first-child {
	border-left: 0;
}

.footer_link {
	padding: 0 10px;
	border-left: 1px solid ${object1_20};
}

.footer_link a {
	color:  ${object1_20};
}

.footer_link a:hover {
	color: ${object1_20};
}

.locale {
	margin-top:40px;
	text-align:center;
	white-space: nowrap;
}

.langItem {
	margin-left: 10px;
	padding: 0 3px;
	text-align: center;
}

.langItem:first-child {
	margin-left: 0;
}

.langItem a {
	color: ${object1_20};
}

.footer_copyright {
	text-align: center;
	line-height: 60px;
	color: ${object1_20};
}
.footer_social {
	display:inline-block;
	width:140px;
	vertical-align:top;
	padding: 0;
	margin-left: 10px;
	margin-top: 20px;
}
.footer_social span {
	padding:0; margin:0;
}
.footer_social label {
	display: block;
	text-transform: uppercase;
	padding-bottom: 10px;
	color: ${object2_10};
}
.iconSocial {
	display:inline-block;
	width:32px; height:32px;
	background:url("images/social4.png") no-repeat;
}
.iconSocial.Twitter {
	background-position: 0 0;
}
.iconSocial.Facebook {
	background-position: -32px 0;
}
.iconSocial.Youtube {
	background-position: -64px 0;
}
.iconSocial.Flickr {
	background-position: -96px 0;
}

.legal_poweredby {
	text-align: center;
	line-height: 20px;
	color: ${object1_20};
}
.powered_product {
	color: ${object1_20};
}
.powered_by {

}
.powered_logo {
	background: url("images/vista.png") no-repeat;
	display:inline-block;
	width: 100px; height: 20px;
	vertical-align: middle;
}
/*
 * Content
 */
.vista-pmsite-main .caption {
	background-size: 100% 100%;
	background: ${object2_90};
	height: 70px;
	overflow: hidden;
	padding: 0 0 0 30px;
}

.vista-pmsite-main .caption h1 {
	font-size: 36px;
	font-weight: normal;
	line-height: 70px;
	color: ${object2_10};
}
.caption2 {
	height:60px;
	border-bottom:1px solid ${object2_20};
	background: ${object2_90};
}
.vista-pmsite-main .caption2 h1 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 22px 0 0 24px;
	color: ${object2_10};
	float: left;
}
.vista-pmsite-main .caption2 .rightControl {
	height:25px;
	margin:22px 30px 0 0;
	float:right;
	color:${object2_30};
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
}
.vista-pmsite-main .caption2 .rightControl:hover {
	color:${object2_10};
}

.vista-pmsite-sidebarWrap {
		background-color:${object2_10};
}

.vista-pmsite-main .content{
		/*background-color:white;*/
		background-color: #EDE8F0;
		border-left: 1px solid #D1D1D1;
}

.container {
	width: 960px;
	margin: 0 auto;
	background-color: #EDE8F0;
}
