.vista-pmsite-cityPage {
}
.vista-pmsite-cityPage .vista-pmsite-content {
	background: url("images/inner_bg.png") no-repeat;
}
.vista-pmsite-cityPage .vista-pmsite-contentWrap {
	background: url("images/inner_content_bg.png") repeat-x #37393F;
}
.vista-pmsite-cityPage .vista-pmsite-sidebar {
	display: inline-block;
	width: 211px;
	vertical-align: top;
}
.vista-pmsite-cityPage .secondaryNavig {
	color:#aaa;
}
.vista-pmsite-cityPage .secondaryNavig h3 {
	width:100%;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	padding: 10px 0;
	margin-top:5px;
}
.advancedSearchNarrowWrap {
	width: 190px;
	margin: 10px;
}
.advancedSearchNarrowWrap input[type=submit] {
	background:
		url("images/btn.png")
		no-repeat;
	border: none;
	width: 128px;
	height: 32px;
	padding: 5px 0;
	color: #000000;
	font-size: 16px;
	text-shadow: 0 1px 0 #CCCCCC;
	text-transform: uppercase;
	cursor: pointer;
	margin-top:30px;
}

.advancedSearchNarrowWrap label {
	display: block;
	padding: 4px 0;
	white-space: nowrap;
}

.advancedSearchNarrowWrap .inputBlockFrame {
	width: 100%;
	margin-top: 20px;
}

.advancedSearchNarrowWrap .searchTypeSelBox {
	height:40px;
}
.advancedSearchNarrowWrap .searchTypeSelButton {
	float: left;
	width: 70px;
	font-size: 14px;
	letter-spacing: 0px;
	box-shadow:-1px -1px 1px #404247, 1px 1px 1px #24262a;
	border-radius:3px;
	margin-left: 10px;
	padding: 3px 10px;
	background-color: #22242a;
	text-align: center;
}

.advancedSearchNarrowWrap .searchTypeSelButton:first-child {
	margin-left: 0px;
}

.advancedSearchNarrowWrap .searchTypeSelButton .spacer_by {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeSelButton label {
	display: inline-block;
}

.advancedSearchNarrowWrap .searchTypeSelButton input[type=radio] {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeBox {
	height:100px;
}

.advancedSearchNarrowWrap .searchTypeBox select {
	width: 188px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchTypeBox input[type=text] {
	width: 184px;
	margin: 1px;
}

.advancedSearchNarrowWrap .errorPanel {
	padding:2px;
	padding-left:15px;
	margin:0;
	margin-top:10px;
	color:red;
	background:white;
	display:inline-block;
}

.advancedSearchNarrowWrap .searchCommonBox {
}

.advancedSearchNarrowWrap .searchCommonBox select {
	width: 82px;
	margin: 1px;
}

.advancedSearchNarrowWrap .searchCommonBox input[type=text] {
	width: 76px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchCommonBox .searchField .inputJoinBox {
	display:inline-block;
	width:22px;
	text-align:center;
}
.advancedSearchNarrowWrap .searchAmenityBox {
	border-top: 1px dotted #5d5e63;
	padding-top: 10px;
}

.advancedSearchNarrowWrap .searchAmenityBox .searchField>label {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox br {
	display: none;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList label {
	display: inline-block;
	width: 70px;
}
.advancedSearchNarrowWrap .searchAmenityBox .amenityList label:lang(fr) {
	width: 165px;
}

.advancedSearchNarrowWrap .typeselActiveHover {
	background-color: #557329 !important;
}

.advancedSearchNarrowWrap .typeselActive {
	background-color: #85B329 !important;
	color:#333 !important;
	box-shadow:-1px -1px 1px #000 inset, 1px 1px 1px #113300;
	padding-top: 2px !important;
	padding-bottom: 4px !important;
}
.vista-pmsite-cityPage .vista-pmsite-main {
	display: inline-block;
	width: 744px;
	vertical-align: top;
}
.vista-pmsite-cityPage .cityPageWrap {
	line-height:1.6em;
    background-color: white;
    color: #333333;
    min-height: 520px;
    overflow: hidden;
    padding: 30px 30px 0;
}
.vista-pmsite-cityPage .cityPageWrap .cityProperties h3 {
	font-size:18px;
	margin:20px 0;
}
.vista-pmsite-cityPage .cityPageWrap .propertyLink {
	color: #339900;
}
.vista-pmsite-cityPage .cityPageWrap .propertyLink:hover {
	color: #B5E329;
}
