.inquiryPanel .errorPanel {
	padding:2px;
	padding-left:15px;
	margin:0;
	margin-top:10px;
	color:red;
	background:white;
	display:inline-block;
}
.inquiryPanel .inputEntry {
	padding:10px 30px;
}
.inquiryPanel .inputEntry .inputLabel {
	display:inline-block;
	width: 150px;
	padding-right:20px;
	text-align:right;
	vertical-align:top;
	color:#777;
/*
 if EI7
*/	
	*display: inline;
    zoom: 1;
}
.inquiryPanel .inputEntry .inputLabel.altApmnt {
	display:inline;
	padding-right:5px;
/*
 if EI7
*/	
	*display: inline;
    zoom: 1;
//  max-width: 96px;
}

.inquiryPanel .inputBox {
	display:inline-block;
	width:370px;
	vertical-align:top;
/*
 if EI7
*/	
	*display: inline;
    zoom: 1;	
}
.inquiryPanel .inputEntry input {
	vertical-align:top;
}
.inquiryPanel .inputEntry textarea {
	width:360px;
}
.inquiryPanel .inputEntry .apmntBox {
	width:120px;
	display:inline-block;
/*
 if EI7
*/	
	*display: inline;
    zoom: 1;	
}
.inquiryPanel .inputEntry .captcha {
	display:inline-block;
	width:360px;
}
.inquiryPanel input[type=submit] {
    background: url("images/btn.png") no-repeat;
    background-size:100% 64px;
    border: none;
    height: 32px;
    min-width:128px;
    padding:0 8px;
    color: #000000;
    font-size: 16px;
    text-shadow: 0 1px 0 #CCCCCC;
    text-transform: uppercase;
    cursor: pointer;
}
.inquiryPanel input[type=submit]:hover {
	background-position: 0 -32px;
}
/*
 * Datepicker style
 */
.inquiryPanel .inputEntry .ui-datepicker-trigger {
	background:url(../jquery_ui_images/calendar.png) no-repeat;
	display:inline-block;
	width:21px; height:20px;
	margin-left:4px;
	vertical-align:middle;
}
.ui-datepicker {
	font-size:10px !important;
}
