.vista-pmsite-landingPage {
	background: url("images/content_bg.png") repeat-x scroll 0 0
		#37393F;
}
.vista-pmsite-content {
	background: url("images/main_bg.png") no-repeat;
}
.banner {
	height: 375px;
	position: relative;
}
.banner_img {
	height: 430px;
	width: 960px;
	position: absolute; 
	bottom:0;
}

.vista-pmsite-mainWrap {
    overflow: hidden;
}

.vista-pmsite-sidebarWrap {
	width: 100%;
	background:#34363C;
}

.vista-pmsite-sidebar {
	width: 280px;
	float:left;
	background: url("images/bg_sidebar.gif") repeat-x #34363C;
	background-size:100% 100%;
}

.vista-pmsite-main {
	margin-left: 280px;
}

.quickSearch h3 {
	color: #FFFFFF;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

.quickSearch label {
	color: #CCCCCC;
	display: block;
	font-size: 13px;
	padding: 0 0 3px;
}

.quickSearch select {
	margin-bottom: 15px;
	width: 100%;
}

.quickSearch input {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #000000;
	cursor: pointer;
	font-size: 16px;
	padding: 5px 0;
	text-shadow: 0 1px 0 #CCCCCC;
	text-transform: uppercase;
	width: 128px;
}

.quickSearch .submit {
	background: url("images/btn.png") no-repeat scroll 0 0
		transparent;
	height: 32px;
	margin: 15px auto 0;
	overflow: hidden;
	width: 128px;
}

.quickSearch .submit:hover {
	background-position:0 -32px;
}

.wideGadgetBox.quickSearch .selectField {
	display:inline-block;
	width:49%;
}

.newsBox {
	padding: 20px 30px;
}

.newsBox .date {
	color: #777;
	padding-top: 10px;
}

.newsBox .headline {
	padding-top: 10px;
	color: #B5E329;
}

.newsBox .text {
	padding-top: 10px;
}

.newsBox .read_more {
	color: #B5E329;
	font-size: 20px;
	line-height: 14px;
	vertical-align: text-top;
}

.promoBox {
	height:240px;
	padding:20px 10px 0;
	float:left;
	overflow:hidden;
	width: 100%;
}

.promoBox .infobox_content {
	width:140px;
	height:150px;
	float:left;
	margin-left:20px;
}

.promoBox .infobox_content:first-child {
	margin-left:0px;
}

.promoBox .picture {
	width:${image_building_medium_width};
	background:grey;
}
.promoBox a .picture {
	border:3px solid #34363C;
}
.promoBox a:hover .picture {
	border-color:#B5E329;
}
.promoBox a .address {
	color:white;
}
.promoBox a:hover .address {
	color: #B5E329;
	text-decoration:underline;
}
.promoBox .read_more {
	color:#B5E329;
	font-size:16px;
	padding-left:10px;
}
.promoBox .citySelectionForm {
	margin-bottom: 20px;
	margin-left: 20px;
}

.testimBox {
	padding: 20px 10px;
	float: left;
}

.testimBox .infobox_decor {
	position: relative;
	display:inline-block;
	float: left;
}

.testimBox .callout_line {
	fill:#2A2C30;
	stroke:#1F2125;
	stroke-width:1;
}

.testimBox .callout {
	position: absolute;
	top:156px;
	left:250px;
}

.testimBox .infobox_content {
	overflow: hidden;
	float: left;
	width: 260px;
	height: 100px;
	margin: 15px 10px;
	padding: 20px;
	background: #2A2C30;
	
	border: 1px solid #1F2125;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;	
}

.testimBox .name {
	color: #B5E329;
	text-align: right;
	padding: 10px 0 0 0;
}

.testimBox .read_more {
	color: #B5E329;
	font-size: 16px;
	padding-left: 10px;
}

.wideGadgetBox {
	padding: 20px 10px;
}
.narrowGadgetBox {
	padding: 20px 30px;
}

.infobox_header_title {
	font-size: 22px;
	line-height: 60px;
	white-space: nowrap;
}
.infobox_header_title:lang(fr) {
	font-size: 18px;
}
