img,form,fieldset {
	border: medium none;
}

form,fieldset {
	margin: 0;
	padding: 0;
}

body,h1,h2,h3,h4,h5,h6,dl,dt,dd,p {
	margin: 0;
}

q {
	quotes: none;
}

q:before {
	content: "";
}

q:after {
	content: "";
}

input:focus {
	outline: medium none;
}

textarea:focus {
	outline: medium none;
}

select:focus {
	outline: medium none;
}

html,body {
	width: 100%;
}

body {
	background: url("images/bg_body.gif") repeat-x scroll 0 0
		#202226;
	color: #C9CAC8;
	font: 13px Arial, Helvetica, sans-serif;
}

input,select,textarea {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin-left: 0;
}

table {
	border-collapse: collapse;
}

td {
	padding: 0;
}

a, a:link, a:visited {
	color: #B5E329;
	outline: medium none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

select {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-color: #eee;
	color: #333;
}
.hidden { display:none; }
/*
 * header
 */
.header {
	background: url("images/header_right.jpg") no-repeat scroll
		100% 0 transparent;
	width: 100%;
}

.header .main {
	height: 164px;
}

.main {
	margin: 0 auto;
	position: relative;
	width: 960px;
	z-index:100;
}

#siteTitle {
	float:left;
	margin:10px;
}
#siteTitle a:hover {
	text-decoration:none;
}
#noLogo {
	font-size:40px;
	line-height:80px;
	margin-right:20px;
}
#siteAuthInsert {
	float:right;
	margin-top:10px;
}

#siteAuthInsert .greeting {
    color: #339900;
	font-weight: bold;
	padding-right:10px;
}

#siteAuthInsert a {
    color: #339900;
    margin-right: 1em;
}

#siteAuthInsert a:hover {
	color: #B5E329;
}

.navigation {
	height: 60px;
	left: 0;
	position: absolute;
	top: 101px;
	width: 100%;
}

.navigation ul {
	float: right;
	height: 60px;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 100;
}

.navigation ul li {
	float: left;
	height: 60px;
}

.navigation ul li span {
	text-shadow: 0 0 16px #6AAF34;
	font-size: 18px;
	line-height: 60px;
	margin-left: 30px;
	margin-right: 30px;
	color: #bbb;
}

.navigation a {
	text-decoration: none;
	float: left;
}

.navigation span:lang(fr) {
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;
}

.navigation .active a { /*	background-color: #6fb700; */
	color: #191B22;
	height: 84px;
	line-height: 64px;
	background-image: url("images/top_menu_bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
/*
 * for EI7, EI8
 */
	background-position: top center;
}

.navigation .active span {
	color: #111;
}

.navigation span:hover {
	color: #B5E329;
}

.navigation .active span:hover {
	color: #191B22;
}

/*
 * Footer
 */
#footer {
	position: relative;
}

.footer_wrap {
}

ul.footer_locations {
	list-style-type: none;
	display: inline-block;
	width:790px;
	vertical-align:top;
	padding: 0;
	margin-left: 10px;
	margin-top: 20px;
}

ul.footer_locations label {
	display: block;
	text-transform: uppercase;
	padding-bottom: 10px;
	color: #C9CAC8;
}
ul.footer_locations li {
	float: left;
	width: 195px;
	color: #339900;
	font-weight: bold;
}

.footer_locations a {
	color: #339900;
}

.footer_locations a:hover {
	color: #B5E329;
}

.footer_links {
	text-align: center;
}

.footer_link:first-child {
	border-left: 0;
}

.footer_link {
	padding: 0 10px;
	border-left: 1px solid #339900;
}

.footer_link a,
.footer_link a:link,
.footer_link a:visited {
	color: #339900;
}

.footer_link a:hover {
	color: #B5E329;
}

.locale {
	margin-top:40px;
	text-align:center;
	white-space: nowrap;
}

.langItem {
	margin-left: 10px;
	padding: 0 3px;
	text-align: center;
}

.langItem:first-child {
	margin-left: 0;
}

.langItem a {
	color: inherit;
}

.footer_copyright {
	text-align: center;
	line-height: 60px;
}

.footer_social {
	display:inline-block;
	width:140px;
	vertical-align:top;
	padding: 0;
	margin-left: 10px;
	margin-top: 20px;
}
.footer_social span {
	padding:0; margin:0;
}
.footer_social label {
	display: block;
	text-transform: uppercase;
	padding-bottom: 10px;
	color: #C9CAC8;
}
.iconSocial {
	display:inline-block;
	width:32px; height:32px;
	background:url("images/social4.png") no-repeat;
}
.iconSocial.Twitter {
	background-position: 0 0;
}
.iconSocial.Facebook {
	background-position: -32px 0;
}
.iconSocial.Youtube {
	background-position: -64px 0;
}
.iconSocial.Flickr {
	background-position: -96px 0;
}
.legal_poweredby {
	text-align: center;
	line-height: 20px;
}

.powered_logo {
	background: url("images/vista.png") no-repeat;
	display:inline-block;
	width: 83px; height: 17px;
}

/*
 * Content
 */
.vista-pmsite-content {
	margin: 0 auto;
	width: 960px;
	padding: 0 19px;
}

.vista-pmsite-content a {
	color: #1e2f01;
	font-style: italic;
}

.vista-pmsite-main .caption {
	background: url("images/title_bg.gif") repeat-y scroll 0 -40px
		transparent;
	background-size: 100% 100%;
	height: 80px;
	overflow: hidden;
	padding: 40px 0 0 30px;
}
.vista-pmsite-main .caption h1 {
	font-size: 36px;
	font-weight: normal;
	line-height: 38px;
	color:#ccc;
}
.caption2 {
	background:
		url("images/subtitle_bg.gif")
		repeat-x transparent;
	height:60px;
}
.vista-pmsite-main .caption2 h1 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 22px 0 0 24px;
	color: #222;
	float: left;
}
.vista-pmsite-main .caption2 .rightControl {
	height:25px;
	margin:22px 30px 0 0;
	float:right;
	color:#6c6d6f;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
}
.vista-pmsite-main .caption2 .rightControl:hover {
	color:#339900;
}