<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
<!-- @version $Revision: 4578 $ ($Author: michaellif $) $Date: 2009-12-30 06:03:15 -0500 (Wed, 30 Dec 2009) $ -->
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>test.html</welcome-file>
	</welcome-file-list>

</web-app>
