.vista-pmsite-aptDetailsPage .vista-pmsite-sidebar {
	background-color:${object2_10};
	float:left;
	padding:20px;
	width: 260px;
}
.vista-pmsite-aptDetailsPage .vista-pmsite-main {
	margin-left: 320px;    
	padding-bottom: 20px;
}

.vista-pmsite-aptDetailsPage .vista-pmsite-main .caption2 {
	border-bottom: 5px solid black;
}

.apartmentDetailsWrap .detailBox {
	padding-bottom:20px;
}

.apartmentDetailsWrap .detailBox .detailBoxTitle {
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	padding: 30px 0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry {
	padding: 10px 0;
	border-bottom: 1px solid #000000;
}

.apartmentDetailsWrap .detailBox .detailBoxEntry:first-child {
    border-top: 1px solid #000000;
}

.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxCaption {
	padding: 0 20px 6px 0px;
	font-weight:bold;
	text-transform:uppercase;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxText {
	display:inline-block;
	zoom: 1;
	*display: inline;
	vertical-align:top;
	width:460px;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText {
	padding-left:10px;
	margin:0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText li {
	width:230px;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry.units:hover {
	background-color:#999999;
	color:#FFFFFF;
}

.apartmentDetailsWrap .unitDetails {
	_float: left;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	width:380px;
	padding:0 10px;
}
.apartmentDetailsWrap .unitDetails .details {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	width:320px;
	padding:0 20px;
} 
.apartmentDetailsWrap .unitDetails .unitEntry {
	padding:2px 0;
} 
.apartmentDetailsWrap .unitDetails .unitEntry .unitEntryCaption {
	display: inline-block;
	zoom: 1;
	*display: inline;
	width:80px;
	text-align:right;
	padding-right:8px;
}
.apartmentDetailsWrap .unitDetails .unitEntry .unitEntryText {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	width:210px;
	font-weight:bold;
}
.apartmentDetailsWrap .unitDetails .infoBox .amenities li {
	float: left;
	margin: 0 10px;
}

.apartmentDetailsWrap .unitDetails .infoBox .amenities li:first-child {
	list-style: none;
	margin-left: 0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .controlBox {
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	width:100px;
} 
.apartmentDetailsWrap .controlBox .controlButton {
    float: right;
    padding: 6px 0;
    width: 80px;
}
.listingCtlButton {
	background-image: url("images/aptListIcons.png");
	background-repeat: no-repeat;
	display: inline-block;
	zoom: 1;
	*display: inline;
	width:70px;
	height:25px;
	padding-top:5px;
	padding-left:30px;
	font-weight:bold;
	cursor:pointer;
}
a.listingCtlButton {
	text-decoration:none;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry.units:hover .listingCtlButton {
	background-image: url("images/aptListIcons-hlight.png");
	color:${foreground_100} !important;
}
#btnViewDetails {
	background-position:0px -30px;
}
.apartmentDetailsWrap .requestBtn {
	background: ${object1_100};
	color: ${object1_10};
    padding:8px;
    margin-left:40px;
    font-size: 16px;
    text-transform: uppercase;
}