.vista-pmsite-cityPage {
}
.vista-pmsite-cityPage .vista-pmsite-mainWrap {
	width: 920px;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
	overflow: hidden;
    /*background: ${background_10};*/
    background-color: #FFFFFF;
}
.vista-pmsite-cityPage .vista-pmsite-sidebar {
	display: inline-block;
	width: 280px;
	min-height: 630px;
	float: left;
	/*color: ${object2_100};*/
	color: #FFFFFF;
	vertical-align: top;
	margin-right: 20px;
	border-top: 1px solid black;
}
.vista-pmsite-cityPage .secondaryNavig {
	/*color: ${object2_100};*/
	color:#FFFFFF;
}
.vista-pmsite-cityPage .secondaryNavig h3 {
	width:100%;
	text-align:left;
	font-family:monospace;
	font-size:19px;
	font-weight:normal;
	padding: 5px 0;
	height: 30px;
	color: #000000;
}
.advancedSearchNarrowWrap {
	width: 280px;
	height: 520px;
	border-top: 5px solid black;
	background-color: #999999;
}
.advancedSearchNarrowWrap input[type=submit] {
	background: ${object1_100};
	border: 2px solid ${object1_100};
	color: ${object1_10};
	cursor: pointer;
	font-size: 16px;
	margin: 10px 0 0 0;
	*margin-top: 0;
	padding: 10px;
	float: right;
	width: auto;
	height: auto;
}

.advancedSearchNarrowWrap label {
	display: block;
	padding: 4px 0;
	white-space: nowrap;
	color:#FFFFFF;
	/*color: ${object2_100};*/
}

.advancedSearchNarrowWrap .inputBlockFrame {
	width: auto;
	margin-top: 20px;
}

.advancedSearchNarrowWrap .searchTypeSelBox {
	height:40px;
	margin-top: 20px;
}
.advancedSearchNarrowWrap .searchTypeSelButton {
	float: left;
	width: 90px;
	font-size: 14px;
	letter-spacing: 0px;
	/*background-color:${contrast2_100};*/
	background-color: #CCCCCC;
	margin-left: 30px;
	padding: 3px 0;
	text-align: center;
}
.advancedSearchNarrowWrap .searchTypeSelButton label {
	color:${foreground_100};
}

.advancedSearchNarrowWrap .searchTypeSelButton:first-child {
}

.advancedSearchNarrowWrap .searchTypeSelButton .spacer_by {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeSelButton label {
	display: inline-block;
}

.advancedSearchNarrowWrap .searchTypeSelButton input[type=radio] {
	display: none;
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActiveHover {
	background-color:${object1_100};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActiveHover label {
	color:${object1_20};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActive {
	background-color:${object1_100};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActive label {
	color:${object2_10};
}
.advancedSearchNarrowWrap .searchTypeBox {
	height:100px;
	margin-left: 30px;
}

.advancedSearchNarrowWrap .searchTypeBox select {
	/*color:${background_100};*/
	color:#999999;
	width: 209px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchTypeBox input[type=text] {
	color:${background_100};
	width: 184px;
	margin: 1px;
}

.advancedSearchNarrowWrap .errorPanel {
	padding:2px;
	padding-left:15px;
	margin:0;
	margin-top:10px;
	color:red;
	background:white;
	display:inline-block;
}

.advancedSearchNarrowWrap .searchCommonBox {
	margin-left: 30px;
}

.advancedSearchNarrowWrap .searchCommonBox select {
	/*color:${background_100};*/
	color:#999999;
	width: 93px;
	margin: 1px;
}

.advancedSearchNarrowWrap .searchCommonBox input[type=text] {
	color:${background_100};
	width: 91px;
	*width:89px;
	margin: 1px;
	border: 1px solid black;
}
.advancedSearchNarrowWrap .searchCommonBox .searchField .inputJoinBox {
	display:inline-block;
	width:22px;
	text-align:center;
}
.advancedSearchNarrowWrap .searchAmenityBox {
	width: 210px;
	/*border-top: 1px dotted ${object2_100};*/
	border-top: 1px solid white;
	padding-top: 10px;
	margin-bottom: 30px;
	margin-left: 30px;
}

.advancedSearchNarrowWrap .searchAmenityBox .searchField>label {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox br {
	display: none;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList {
	display: block;
	width: 190px;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList label {
	display: inline-block;
	width: 70px;
	/*color: ${object2_100};*/
	color:#FFFFFF;
}
.advancedSearchNarrowWrap .searchAmenityBox .amenityList label:lang(fr) {
	/*width: 165px;*/
}

.vista-pmsite-cityPage .vista-pmsite-main {
	width: 620px;
	display: inline-block;
	vertical-align: top;
}
.vista-pmsite-cityPage .cityPageWrap {
	line-height:1.6em;
	min-height: 400px;
	color: black;
	background: white;
	overflow: hidden;
	padding: 5px 30px 0;
	*padding-top: 26px;
	border-top: 5px solid black;
}
.vista-pmsite-cityPage .cityPageWrap .cityProperties h3 {
	font-size:18px;
	margin:20px 0;
}
.vista-pmsite-cityPage .cityPageWrap .propertyLink {
	color:  #000000;
}
.vista-pmsite-cityPage .cityPageWrap .propertyLink:hover {
	color: ${object1_20};
}