.vista-pmsite-findAptPage .vista-pmsite-content {
	color: #FFFFFF;
    font-size: 16px;
    overflow: hidden;
}

.vista-pmsite-findAptPage .vista-pmsite-content .content {
    border-top: 5px solid #000000;
    background: url("images/FreeCableTV.png") no-repeat right;
}

.vista-pmsite-findAptPage #advancedSearchCriteriaForm1 {
	top: 0;
	height: 383px;
}

.vista-pmsite-findAptPage .vista-pmsite-mainWrap {
	overflow: hidden;
}

.vista-pmsite-findAptPage .vista-pmsite-main .caption h1 {
    font-family: monospace;
    font-size: 14pt;
    color: #000000;
  }

.advancedSearchWideWrap {
	_padding: 0 80px;
	width:620px;
	background-color: #999999;
}

.advancedSearchWideWrap .errorPanel {
	padding:2px;
	padding-left:15px;
	margin:0;
	margin-top:10px;
	color:red;
	background:white;
	display:inline-block;
}

.advancedSearchWideWrap input[type=submit] {
	float: right;
	margin: 20px 0;
}

.advancedSearchWideWrap label {
	display:block;
	white-space:nowrap;
}
.advancedSearchWideWrap .searchTypeSelBox {
	float:left;
	margin-top:30px;
	padding: 0 80px;
}
.advancedSearchWideWrap .searchTypeSelButton {
	width:214px;
	font-size:20px;
	letter-spacing:1px;
	margin-left:30px;
	color: #000000;
	background-color:#CCCCCC;
	text-align:center;
	float:left; 
}
.advancedSearchWideWrap .searchTypeSelButton:first-child {
	margin-left:0px;
}

.advancedSearchWideWrap .searchTypeSelButton label {
	display:inline-block;
	padding:6px 0;
}
.advancedSearchWideWrap .searchTypeSelButton input[type=radio] {
	display:none;
}

.advancedSearchWideWrap .amenityList input[type=checkbox] {
//	margin: 0 2px; /*for IE7*/
}

.advancedSearchWideWrap .searchTypeBox {
	float:left;
	_clear:both;
	margin-top:30px;
	padding: 0 80px;
}
.advancedSearchWideWrap .searchTypeBox .searchField {
	float:left;
	margin-left:30px;
	padding-right: 0;
}
.advancedSearchWideWrap .searchTypeBox .searchField:first-child {
	margin-left:0;
	width: 214px;
}
.advancedSearchWideWrap .searchTypeBox select {
	width:212px;
	margin: 0;
	border: 1px solid #000000;
    color: #999999;
}
.advancedSearchWideWrap .searchTypeBox input[type=text] {
	color:${background_100};
	width:212px;
	border: 1px solid #000000;
}
.advancedSearchWideWrap .searchCommonBox {
	_clear:both;
	float:left;
	padding: 0 0 0 80px;
	*padding-bottom: 8px;
	margin-top:30px;
}
.advancedSearchWideWrap .searchCommonBox .searchField {
	margin-left:23px;
	display: inline-block;
	float:left;
	zoom: 1;
	*display: inline;
	*float:none;
}
.advancedSearchWideWrap .searchCommonBox .searchField:first-child {
	margin-left:0px;
}
.advancedSearchWideWrap .searchCommonBox .searchField .inputJoinBox {
	display:inline-block;
	zoom: 1;
	*display: inline;
	width:25px;
	text-align:center;
}
.advancedSearchWideWrap .searchCommonBox select {
	width:55px;
	margin: 0;
	border: 1px solid #000000;
    color: #999999;
}
.advancedSearchWideWrap .searchCommonBox input[type=text] {
	color:${background_100};
	display:inline-block;
	zoom: 1;
	*display: inline;
	width:53px;
	margin:0px;
	border: 1px solid #000000;
}
.advancedSearchWideWrap .searchAmenityBox {
	float:left;
	_clear:both;
	border-top: 1px solid #fff;
	padding: 20px 80px 0 80px;
	margin-top:30px;
	margin-bottom:40px;
}
.advancedSearchWideWrap .searchAmenityBox br {
	display:none;
}
.advancedSearchWideWrap .searchAmenityBox .amenityList {
	float:left;
	display: inline-block;
	zoom: 1;
	*display: inline;
	clear: both;
}


.advancedSearchWideWrap .searchAmenityBox .amenityList label {
	display:inline-block;
	zoom: 1;
	*display: inline;
	width:88px;
	font-size:13px;
	_float: left;
	_clear: both;
}
.advancedSearchWideWrap .typeselActiveHover {
	color:${object1_20} !important;
	background-color:${object1_100} !important;
}
.advancedSearchWideWrap .typeselActive {
	color:${object1_20} !important;
	background-color:${object1_100} !important;
	width:214px;
}

.vista-pmsite-findAptPage .advancedSearchCriteria {
	top: 0;
	height: 383px;
}
