.floorplanInfoPanel .pictureBox .picture {
	width:100%;
}
.floorplanInfoPanel .pictureBox .gallery {
	height:50px;
}
.floorplanInfoPanel .pictureBox .gallery img {
	width:57px;
	height:40px;
	cursor:pointer;
}
.floorplanInfoPanel .pictureBox .gallery span {
	float:left;
}

.floorplanInfoPanel .infoBox {
	font-weight:bold;
	padding-left: 10px;
} 
.floorplanInfoPanel .infoBoxEntry {
	padding-top:15px;
} 
.floorplanInfoPanel .infoBoxEntry .infoBoxCaption, .floorplanInfoPanel .infoBoxEntry .infoBoxText {
	display:block;
	padding-top:4px;
}