.vista-pmsite-contentWrap {
	margin: 0px auto 0px;
	width: 940px;
	background: #fff;
	padding: 0 20px 20px 20px;
}

.vista-pmsite-content {
    margin: 0 auto;
    margin-bottom:0;
	width: 940px;
	/* anti-space trick */
	font-size:0;
}

.infobox_body {
	overflow:hidden;
}

.infobox_body .selectField{
    float: left;
    padding-bottom: 10px;
}

.banner {
	/*position: relative;*/
	vertical-align:top;
	z-index: 100;
	font-size:13px;
}

.banner_img {
	border-top: 5px solid #000000;
	background-image: url("images/landing.png"); 
	background-color: #fff;
    background-repeat: no-repeat;
    height: 408px;
    width: 940px;
    padding: 0 0 30px;
}

.banner .infobox_header {
	background: #fff;
}

.quickSearchPanel {
	width: 300px;
	/*background: #fff;*/
}
.quickSearchPanel .infobox_body {
      float:none;
      margin-bottom: 1em;
      background: #999999;
      border-top: 5px solid #000000;
      padding-top: 10px;
}

.quickSearchPanel h3 {
	color: #555555;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

.quickSearchPanel label {
	color: #fff;
	display: block;
	font-size: 12px;
	margin: 0 0 0 14px;
	width: 128px;
}

.quickSearchPanel select {
	color: #999999;
	width: 128px;
	margin-bottom: 15px;
	border: 1px solid #000000;
	margin: 0 0 6px 14px;
}

.quickSearchPanel input[type=submit] {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: ${object1_10};
	cursor: pointer;
	font-size: 12px;
	padding: 1em;
//	width: 74px;
}

.quickSearchPanel .submit {
	background: ${object1_100};
	float: right;
	overflow: hidden;
	width: 74px;
	border: 2px splid ${object1_100};
}

.vista-pmsite-mainWrap {
	display:inline-block;
	background: #fff;
	font-size:13px;
	width: 100%;
//	padding: 0 20px;
}

.vista-pmsite-sidebarWrap {
	position: relative;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.vista-pmsite-sidebar {
	position: relative;
	float: left;
	display:inline-block;
	min-width:300px;
	min-height:380px;
}

.vista-pmsite-main {
	width: 622px;
	float: right;
	position: relative;
	background: ${bgC0lor_100};
	display:inline-block;
}

.testimBox {
	float: left;
	overflow:hidden;
	width: 100%;
}

.testimBox .infobox_header {
	height: 36px;
}

.testimBox .infobox_body {
	border-top: 5px solid #000000;
	padding-top: 12px;
	width: 622px;
}

.testimBox .infobox_decor {
	float: right;
	width: 305px;
}

.testimBox .infobox_decor:first-child {
	float: left;
}

.testimBox .callout_line {
	fill:#CCCCCC;
	stroke:CCCCCC;
	stroke-width:1;
}

.testimBox .callout {
	position: relative;
//	top:140px;
	left:135px;
}

.testimBox .infobox_content {
	//float: right;
	width: 265px;
	height: 140px;
	padding: 20px;
	background: #CCCCCC;
	font-family: monospace;
    font-size: 12pt;

//	border: 1px solid ${object2_80};
//	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;	
}

.testimBox .name {
	color: #000000;
	text-align: right;
	padding: 10px 0 0 0;
}

#narrowSpacer {
	float: left;
	padding-top: 340px;
	width: 300px;
	display: inline-block;
	background: #fff;
}

.newsBox {
	width: 300px;
	display: inline-block;
//	min-height: 520px;
	float: right;
	background: #fff;
}

.newsBox .infobox_header {
	background: #fff;
}


.newsBox .date {
	color: #828282;
	font-size: 12px;
	margin: 5px 0 2px 0;
}

.newsBox .headline {
	color: #000000;
	font-family: monospace;
	font-weight: bold;
	text-transform: uppercase;
    font-size: 12pt;
    margin-bottom: 5px;
    display: block;
}

.newsBox .text {
	color: ${object2_100};
//	font-family: monospace;
//  font-size: 1em;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
 	font-size: 9pt;
	line-height: 11pt;
 	text-align: justify;
}

.newsBox .infobox_content {
	border-top: 5px solid #000000;
}

.infobox_content .read_more {
	color: ${object1_50};
	font-size: 20px;
	line-height: 14px;
	vertical-align: text-top;
}

.infobox_header .read_more {
	color: #fff;
//	display: block;
	background: #000000;
	font-size: 12px;
	width: 50px;
	padding: 1em;
	position: relative;
	bottom: -210px;
	float: right;
	text-decoration:none;
	//margin-right: 22px;
	z-index: 1;
}

.infobox_header {
	background: #fff;
//	padding: 0 0 0 20px;
	border-top: 1px solid #000000;
}

.infobox_header_title {
	font-family: monospace;
    font-weight: normal;
	font-size: 14pt;
//	line-height: 40px;
    display: block;
    margin: 5px 0;
}
.infobox_header_title:lang(fr) {
	font-size: 18px;
}

.promoBox {
	height:340px;
	float: right;
	overflow:hidden;
	width: 622px;
}

.promoBox .infobox_content {
	width: 204px;
	height:300px;
	float:left;
	border-top: 5px solid #000000;
	margin-right: 3px;
	overflow: hidden;
}

.promoBox .infobox_header {
}

.address {
	display: inline-block;
	margin: 12px 0;
}

.promoBox .infobox_content:first-child {
	margin-left:0px;
}

.promoBox .picture {
	//width:205px;
	height: 205px;
	background:#fff;
}

.promoBox a .picture {
//	border:1px solid ${contrast1_100};
}

.promoBox a:hover + .address {
	border-bottom: 3px solid #000000;
}

.wideGadgetBox {
	float:left;
	overflow:hidden;
	width: 100%;
}

.narrowGadgetBox {
    float:left;
	display:inline-block;
	width:300px;
	background: ${object2_10};
}
.narrowGadgetBox .infobox_header {
	background: ${object2_90};
}
.narrowGadgetBox .infobox_body {
	border:0;
}

