.vista-pmsite-contentWrap {
	margin: 0px auto 0px;
	width: 960px;
	background: #fff;
	/* padding: 0 20px 20px 20px; */
}

.vista-pmsite-content {
    margin: 0 auto;
    margin-bottom:0;
	/*width: 960px; */
	/* anti-space trick */
	font-size:0;
	background-color: #FFFFFF;
}

.infobox_body {
	border-top: 5px solid #000000;
	overflow:hidden;
}

.infobox_body .selectField{
    float: left;
    padding-bottom: 15px;
}

.banner {
	/*position: relative;*/
	vertical-align:top;
	z-index: 100;
	font-size:13px;
}

.banner_img {
	border-top: 5px solid #000000;
	background-image: url("images/landing.png"); 
	background-color: #fff;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 620px 375px;
    height: 375px;
    width: 920px;
    margin-left: 20px;
    padding: 0 0 30px;
}

.banner .infobox_header {
	background: #fff;
}

.quickSearchPanel {
	width: 280px;
	background: #fff;
}
.quickSearchPanel .infobox_body {
      float:none;
      margin-bottom: 14px;
      background: #999999;
      border-top: 5px solid #000000;
      padding: 25px 20px;
}

.quickSearchPanel h3 {
	color: #555555;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

.quickSearchPanel label {
	color: #fff;
	display: block;
	font-size: 12px;
//	width: 128px;
}

.quickSearchPanel select {
	color: #999999;
	width: 240px;
	margin-bottom: 15px;
	border: 1px solid #000000;
	margin: 0 0 6px 0;
}

.quickSearchPanel input[type=submit] {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color:#fff;
	cursor: pointer;
	padding: 10px;
}

.quickSearchPanel .submit {
	background: ${object1_100};
	float: right;
	overflow: hidden;
	border: 2px solid ${object1_100};
}

.vista-pmsite-mainWrap {
	display:inline-block;
	background: #fff;
	background-color: #FFFFFF;
	font-size:13px;
	width: 100%;
}

.vista-pmsite-sidebarWrap {
	position: relative;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.vista-pmsite-sidebar {
	float: left;
	width:280px;
	margin-left: 20px;
	border-top: 1px solid #000000;
}

.vista-pmsite-main {
	width: 620px;
	float: right;
	position: relative;
	background: ${bgC0lor_100};
	display:inline-block;
	margin-right: 20px;
}

.testimBox {
	border-top: 1px solid #000000;
	float: left;
	overflow:hidden;
	width: 100%;
}

.testimBox .infobox_header {
}

.testimBox .infobox_body {
	padding-top: 12px;
}

.testimBox .infobox_decor {
	float: right;
}

.testimBox .infobox_decor:first-child {
	float: left;
}

.testimBox .callout_line {
	fill:#CCCCCC;
	stroke:CCCCCC;
	stroke-width:1;
}

.testimBox .callout {
	position: relative;
	left:135px;
}

.testimBox .infobox_content {
	width: 255px;
	height: 150px;
	padding: 20px;
	background: #CCCCCC;
	font-family: monospace;
    font-size: 12pt;	
}

.testimBox .name {
	color: #000000;
	text-align: right;
	padding: 10px 0 0 0;
}

.newsBox {
	min-height: 380px;
}

.newsBox .infobox_header {
	background: #fff;
}


.newsBox .date {
	color: #828282;
	font-size: 12px;
	margin: 5px 0 2px 0;
}

.newsBox .headline {
	color: #000000;
	font-family: monospace;
	font-weight: bold;
	text-transform: uppercase;
    font-size: 12pt;
    margin-bottom: 5px;
    display: block;
}

.newsBox .text {
	color: ${object2_100};
//	font-family: monospace;
//  font-size: 1em;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
 	font-size: 9pt;
	line-height: 11pt;
 	text-align: justify;
}

.newsBox .infobox_content {
	border-top: 5px solid #000000;
}

.infobox_content .read_more {
	color: ${object1_50};
	font-size: 20px;
	line-height: 14px;
	vertical-align: text-top;
}

.infobox_header .read_more {
	color: #fff;
	background: #000000;
	padding: 7px;
}

.infobox_header {
	background: #fff;
}

.infobox_header_title {
	font-family: monospace;
    font-weight: normal;
	font-size: 14pt;
    display: inline-block;
    margin: 5px 20px 5px 0;
}
.infobox_header_title:lang(fr) {
	font-size: 18px;
}

.promoBox {
	border-top: 1px solid #000000;
	float: left;
	overflow:hidden;
	width: 100%;
	margin-bottom: 20px;
}

.promoBox .infobox_content {
	width: 140px;
	float:left;
	border-top: 5px solid #000000;
	margin-right: 5px;
	overflow: hidden;
}

.promoBox .infobox_header {
}

.address {
	display: inline-block;
	margin: 12px 0;
}

.promoBox .infobox_content:first-child {
	margin-left:0px;
}

.promoBox .picture {
	background:#fff;
}

.promoBox a .picture {
}

.promoBox a:hover + .address {
	border-bottom: 3px solid #000000;
}
.promoBox .citySelectionForm {
	margin: 10px 0;
}

.wideGadgetBox {
	float:left;
	overflow:hidden;
	width: 100%;
}

.narrowGadgetBox {
    float:left;
	display:inline-block;
	width:300px;
	background: ${object2_10};
}
.narrowGadgetBox .infobox_header {
	background: ${object2_90};
}
.narrowGadgetBox .infobox_body {
	border:0;
}

