img,form,fieldset {
	border: medium none;
}

form,fieldset {
	position: relative;
	top: 438px;
	z-index: 1;
	margin: 0;
	padding: 0;
}

body,h1,h2,h3,h4,h5,h6,dl,dt,dd,p {
	margin: 0;
}

q {
	quotes: none;
}

q:before {
	content: "";
}

q:after {
	content: "";
}

input:focus {
	outline: medium none;
}

textarea:focus {
	outline: medium none;
}

select:focus {
	outline: medium none;
}

html,body {
	width: 100%;
	/*color: ${foreground_100};*/
}

body {
	font: 13px Arial, Helvetica, sans-serif;
	line-height: 1.4;
	background: #fff url("images/bg-pattern.jpg");
	/*background: no-repeat  -moz-linear-gradient(top, ${object1_60} 0, #fff 400px); /* FF3.6+ */
	/*background: no-repeat  -webkit-gradient(linear, left top, left bottom, color-stop(0,${object1_60}), color-stop(400px,#ffffff))); /* Chrome,Safari4+ */
	/*background: no-repeat  -webkit-linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* Chrome10+,Safari5.1+ */
	/*background: no-repeat  -o-linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* Opera 11.10+ */
	/*background: no-repeat  -ms-linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* IE10+ */
	/*background: no-repeat  linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='${object1_60}', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
}

input,select,textarea {
	color: ${background_100};
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

table {
	border-collapse: collapse;
}

td {
	padding: 0;
}

a {
	color: ${object1_20};
	outline: medium none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

select {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color: ${background_100};
}

.header {
	width: 100%;
}

.main {
	margin: 0px auto 0px;
	width: 960px;
	background: #fff;
	position:relative;
	border-top: 6px solid #000000;
}

.header .main {
	margin-top: 0 auto;
	height: 130px;
}

#siteTitle {
	/*float:left;*/
	margin:10px;
	position: absolute;
	left: 45%;
}

#siteTitle a:hover {
	text-decoration:none;
}
#siteLogo {
	height:70px;
}
#noLogo {
	font-size:40px;
	line-height:80px;
	margin-right:20px;
}

#siteAuth {
	float:right;
	margin:10px;
}
#siteAuth .greeting {
	color:  ${object1_20};
	font-weight: bold;
	padding-right:10px;
}
#siteAuth a {
	color: #000000;
}

#siteAuth a:hover {
	color: ${object1_20};
}

.navigation {
	height: 60px;
	position: absolute;
	top: 68%;
	width: 100%;
    /*background: ${object1_100}*/
}

.navigation ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.navigation ul li {
	 display: inline-block;
     margin: 0 4px;
}

.navigation ul li span {
	font-size: 12px;
	border-top: 1px solid #000;
    border-collapse: collapse;
    color: #000;
    display: block;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    width: 120px;
}

.navigation ul li span:hover {
	border-top: 4px solid #000;
    padding-top: 7px;
}

.navigation .active span {
	border-top: 4px solid #000;
	padding-top: 7px;
}

.navigation span:lang(fr) {
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;
}

.navigation a {
	color: ${object1_10};
	text-decoration: none;
	float: left;
}

.navigation a:hover {
	color: ${contrast1_100};
}

/*
 * Footer
 */
 
#footer {
	position: relative;
}

#footer .main {
	height:100%;
	border-top: 1px solid #000000;
}
.footer_wrap {
	padding: 0px 20px;
}

ul.footer_locations {
	list-style-type: none;
//	display: block;
	position: relative;
	width:300px;
	padding: 0 20px;
	left: 150px; 
}

ul.footer_locations label {
	display: block;
	text-transform: uppercase;
	padding-bottom: 10px;
	color:#000000;
	width: 300px;
}

ul.footer_locations li {
	float: left;
	width: 120px;
}

.footer_locations a {
	color:  #000000;
}

.footer_locations a:hover {
	color: ${object1_20};
}

.footer_links {
	text-align: center;
	padding-top: 20px;
}

.footer_link:first-child {
	border-left: 0;
}

.footer_link {
	padding: 0 10px;
	border-left: 1px solid #000000;
//	position: relative;
	display: inline-block;
//	top: 200px;
}

.footer_link a {
	color:  #000000;
}

.footer_link a:hover {
	color: ${object1_20};
}

.locale {
	margin-top:20px;
//	text-align:center;
	white-space: nowrap;
	height: 0px;
}

.langItem {
	display: block;
	position: relative;
	margin-left: 20px;
	padding: 0 3px;
	top: -160px;
	width: 300px;

}

.langItem:first-child {
//	margin-left: 0;
}

.langItem a {
	color: #000000;
}

.footer_copyright {
	text-align: center;
	line-height: 60px;
	color: #000000;
}
.footer_social {
	display:inline-block;
	width:140px;
	vertical-align:top;
	margin-left: 10px;
	margin-top: 20px;
}
.footer_social span {
	padding:0; margin:0;
}
.footer_social label {
	display: block;
	text-transform: uppercase;
	padding-bottom: 10px;
	color: #000000;
}
.iconSocial {
	display:inline-block;
	width:32px; height:32px;
	background:url("images/social4.png") no-repeat;
}
.iconSocial.Twitter {
	background-position: 0 0;
}
.iconSocial.Facebook {
	background-position: -32px 0;
}
.iconSocial.Youtube {
	background-position: -64px 0;
}
.iconSocial.Flickr {
	background-position: -96px 0;
}

.legal_poweredby {
	text-align: center;
	line-height: 20px;
	color: #000000;
}
.powered_product {
}
.powered_by {
	
}
.powered_logo {
	background: url("images/vista.png") no-repeat;
	display:inline-block;
	width: 100px; height: 20px;
}

/*
 * Content
 */
.vista-pmsite-main .caption {
//	background-size: 100% 100%;
	background: white;
	height: 30px;
	overflow: hidden;
	padding: 5px 0 5px 0;
}

.vista-pmsite-main .caption h1 {
	font-family: monospace;
    font-size: 14pt;
    font-weight: normal;
	//line-height: 70px;
	//color: ${object2_10};
}
.caption2 {
	height:60px;
	background: ${object2_90};
}
.vista-pmsite-main .caption2 h1 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 22px 0 0 24px;
	color: ${object2_10};
	float: left;
}
.vista-pmsite-main .caption2 .rightControl {
	height:25px;
	margin:22px 30px 0 0;
	float:right;
	color:${object2_30};
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
}
.vista-pmsite-main .caption2 .rightControl:hover {
	color:${object2_10};
}

.vista-pmsite-sidebarWrap {
	background-color:${object2_10};	
}

.vista-pmsite-main .content{
	background-color:${object2_100};	
}
