.vista-pmsite-residentPage .vista-pmsite-content {
	min-height: 400px;
}

.vista-pmsite-residentPage .caption {
	border-top: 1px solid #000000;
	border-bottom: 5px solid #000000;
	overflow: hidden;
}

.vista-pmsite-residentPage .secondaryNavig {
	border-top: 1px solid #000000;
	width: 211px;
	float: left;
	min-height: 400px;
	margin-right: 20px;
}

.vista-pmsite-residentPage .secondaryNavig ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	font-size: 16px;
    font-weight: normal;
}

.vista-pmsite-residentPage .secondaryNavig ul li {
	font-size: 16px;
	font-weight: normal;
	height: 28px;
	overflow: hidden;
	padding: 0 10px 0 20px;
}

.vista-pmsite-residentPage .secondaryNavig ul li.active {
    background: url("images/menu_active.png") no-repeat scroll 0 50% transparent;
}

.vista-pmsite-residentPage .secondaryNavig ul li:hover {
	color: #CCCCCC;
    outline: medium none;
    text-decoration: none;
    text-decoration: underline;
}

.vista-pmsite-residentPage .MainMenu {
    padding: 20px 0;
}

.vista-pmsite-residentPage .vista-pmsite-main .content {
	min-height: 200px;
	line-height: 20px;
	padding-top: 30px;
    overflow: hidden;
}

.vista-pmsite-residentPage .TenantDashboard .FormFlexPanelH1Label, .FormFlexPanel .FormFlexPanelH1Label, .LandingCaptionTextEmph  {
	font-family: monospace;
    font-size: 14pt;
    font-weight: bold;
    text-shadow: none;
}

.vista-pmsite-residentPage .LandingViewSectionHeader {
	text-align: center;
	font-family: monospace;
    font-size: 14pt;
}

.vista-pmsite-residentPage a {
	color: #999999;
	white-space: nowrap;
	font-size: 14px;
}

.vista-pmsite-residentPage .TenantDashboardSection {
	padding-top: 20px;
}

.TenantDashboardSection td {
    vertical-align: middle !important;
}

.LandingButtonHolder {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center !important;
    width: 20em;
}

.vista-pmsite-residentPage .FormFlexPanelH3Label {
    color: black;
    font-family: monospace;
    font-size: 13pt;
    font-weight: normal;
    font-style: normal;
}

.vista-pmsite-residentPage .Button, .gwt-Button {
    background: none repeat scroll 0 0 #000000;
    border: none;
    color: #E6E6E6;
    cursor: pointer;
    float: right;
    font-size: 16px;
    padding: 10px;
    width: auto;
    min-width: 70px;
    text-align: center;
    filter: false; /*for IE9*/
}

.vista-pmsite-residentPage .LandingButtonHolder .Button{
	float: none;
    height: 1.5em;
    width: 7em;
}

.vista-pmsite-residentPage .Button-disabled{
	cursor: default;
}

.vista-pmsite-residentPage .EntityFolderAddButton, .vista-pmsite-residentPage .EntityFolderTableHeaderLabel  {
	color: #000000;
	font-weight: bold;
}

.vista-pmsite-residentPage .Header {
	background-color: #F0F0F0 !important;
    border: medium none !important;
    line-height: 35px !important;
    width: 100% !important;
}

.vista-pmsite-residentPage .TextBox, .vista-pmsite-residentPage .ListBox {
	border: 1px solid #000000;
}


.vista-pmsite-residentPage .LandingTermsAndConditionsBox {
	margin-left: 60px;
	margin-right: 60px;
}

.vista-pmsite-residentPage .WidgetDecorator-readOnly .WidgetDecoratorLabel, .vista-pmsite-residentPage .BillingLineItem, .vista-pmsite-residentPage  .WidgetDecoratorLabel {
    color: #000000;
}

.vista-pmsite-residentPage .WidgetDecorator-readOnly, .vista-pmsite-residentPage  .BillingBillTotal .WidgetDecoratorComponent {
	color: #000000;
	font-weight: normal;
}

.vista-pmsite-residentPage .ValidationLabel ul {
	padding-left: 6px;
}


.vista-pmsite-residentPage .PaymentEditorForm {
	max-width: 491px;
}

.vista-pmsite-residentPage .PaymentEditorLegalTerms {
	max-width: 673px;
}

.FormFlexPanel {
	max-width: 685px;
	overflow: hidden;
}

.TriggerPannel .TextBox	{
	width: 90px !important;
}

.SiteViewAction .Anchor {
	white-space: nowrap;
	float: right;
}

.Dialog {
    background-color: #999999 !important;
}

.DialogCaption {
    background: none repeat scroll 0 0 #CCCCCC !important;
    color: #fff!important;
}

.TenantSureManagementStatusDetailsPanel {
    width: 65% !important;
}


.TenantSureManagementActionsPanel {
    width: 35% !important;
}

.TenantSureManagementActionsPanel .Anchor-disabled {
	color: #666666 !important;
    text-decoration: none;
    cursor: default;
}

.PortalView {
	min-width: 920px !important;
    width: 100% !important;
}