.vista-pmsite-residentPage {
}

.vista-pmsite-residentPage .vista-pmsite-main {
	background: #999999;
	border-top: 1px solid #000;
}

.vista-pmsite-residentPage .vista-pmsite-content {
	min-height: 500px;
}

.vista-pmsite-residentPage .vista-pmsite-mainWrap {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.vista-pmsite-residentPage .caption {
	height: 30px;
	overflow: hidden;
}

.vista-pmsite-residentPage .secondaryNavig {
	padding: 35px 0;
	width: 211px;
	float: left;
	min-height: 400px;
}

.vista-pmsite-residentPage .secondaryNavig ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.vista-pmsite-residentPage .secondaryNavig ul li {
	//color: ${object2_100};
	font-size: 16px;
	font-weight: normal;
	height: 28px;
	overflow: hidden;
	padding: 0 10px 0 35px;
}


.vista-pmsite-residentPage .secondaryNavig ul li:hover div {
	color: white;
}

.vista-pmsite-residentPage .secondaryNavig ul li.active div {
	color: white;
	font-weight: bold;
}

.vista-pmsite-residentPage .vista-pmsite-main .content {
	min-height: 500px;
	background: white;
	line-height: 20px;
	overflow: hidden;
}
