.vista-pmsite-signInPage {
    font-size: 16px;
}

.vista-pmsite-signInPage .vista-pmsite-mainWrap {
	width: 920px;
	margin: 0 auto;
	overflow: hidden;
	background: white;
	padding: 0 20px 30px 20px;
}

.vista-pmsite-signInPage .vista-pmsite-content .caption {
	color: #000000;
	background: white;
	border-top: 1px solid #000;
	height: 30px;
	overflow: hidden;
	padding: 5px 0px;
}

.vista-pmsite-signInPage .vista-pmsite-content .caption h1 {
	font-family: monospace;
    font-size: 14pt;
    font-weight: normal;
}

.vista-pmsite-signInPage .content {
	background: url("images/resident.jpg") no-repeat right;
	background-position: right top;
	overflow: hidden;
	background-color: white;
	border-top: 5px solid #000;	
}
.vista-pmsite-signInPage #signInForm {
	top: 0px;
	width: 380px;
	background: #999999;
	padding: 20px 120px 20px 120px;
	color: #fff;
}

.vista-pmsite-signInPage .signInFormWrap input[type=submit] {
	background: ${object1_100};
	border: medium none;
	color: ${object1_10};
	cursor: pointer;
	font-size: 16px;
	width: 76px;
	padding: 10px;
}

.vista-pmsite-signInPage .signInFormWrap .signInFormInput {
	margin: 12px 0;
}

.vista-pmsite-signInPage .signInFormWrap .registration {
    color: #FFFFFF;
    float: right;
    text-decoration: underline;
}

.vista-pmsite-signInPage .signInFormWrap .signInFormInput.hint {
    padding-top: 30px;
}

.vista-pmsite-signInPage .signInFormWrap .signInFormInput label {
	display:inline-block;
	width:100px;
}
.vista-pmsite-signInPage .signInFormWrap .signInFormInput.remember label {
	display:inline;
	width: auto;
}
.vista-pmsite-signInPage .signInFormWrap .signInFormInput .pwdreset {
	*margin-top: -20px;
	float:right;
	text-decoration:underline;
	color: #fff;
}
.vista-pmsite-signInPage .signInFormWrap .signInFormInput.hint a {
	color: ${foreground_100};
	font-weight:bold;
}
.vista-pmsite-signInPage .signInFormWrap .signInFormInput input[type=text],
.vista-pmsite-signInPage .signInFormWrap .signInFormInput input[type=password] {
	width:272px;
	color:${background_100};
	border: 1px solid #000000;
}