.vista-pmsite-staticPage {
}

.vista-pmsite-staticPage .vista-pmsite-main {
	background: #999999;
	border-top: 1px solid #000;
}

.vista-pmsite-staticPage .vista-pmsite-mainWrap {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.vista-pmsite-staticPage .secondaryNavig {
	padding: 35px 0;
	width: 211px;
	float: left;
	min-height: 400px;
}

.vista-pmsite-staticPage .secondaryNavig ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.vista-pmsite-staticPage .secondaryNavig ul li {
	//color: ${foreground_100};
	font-size: 16px;
	font-weight: normal;
	height: 28px;
	//line-height: 38px;
	overflow: hidden;
	padding: 0 10px 0 35px;
}



.vista-pmsite-staticPage .secondaryNavig ul li a {
	color: black;
	text-decoration: none;
}


.vista-pmsite-staticPage .secondaryNavig ul li.active a {
	color: white;
	font-weight: bold;
}


.vista-pmsite-staticPage .secondaryNavig ul li a:hover span {
	color: white;
}

.vista-pmsite-staticPage .secondaryNavig ul li.active a span {
}


.vista-pmsite-staticPage .vista-pmsite-main .content {
	min-height: 400px;
	color: black;
	background: white;
	overflow: hidden;
	padding: 30px 30px 0;
}

.vista-pmsite-staticPagen .content  a {
	text-decoration:underline;
}

.vista-pmsite-staticPage .content  p {
	padding: 0 0 25px;
}

.vista-pmsite-staticPage .content h1 {
	
}

.vista-pmsite-staticPage .content  h2 {
	font-size: 18px;
	line-height: 20px;
	padding: 0 0 25px;
}

.vista-pmsite-staticPage .content  h3 {
	font-size: 16px;
	line-height: 20px;
	padding: 0 0 25px;
}

.vista-pmsite-staticPage .content  h4 {
	font-size: 14px;
	line-height: 20px;
	padding: 0 0 25px;
}

.vista-pmsite-staticPage .content  address {
	padding: 0 0 25px;
}

.vista-pmsite-staticPage .content ul,.staticMain .content ol {
	margin: 0;
	padding: 0 0 25px 25px;
}