.vista-pmsite-staticPage .secondaryNavig {
	border-top: 1px solid #000;
	width: 260px;
	float: left;
	min-height: 400px;
	margin-right: 20px;
	padding-top: 20px;
}

.vista-pmsite-staticPage .secondaryNavig ul {
	margin: 0;
	padding: 0;
}

.vista-pmsite-staticPage .secondaryNavig ul li {
	font-size: 16px;
	height: 28px;
	overflow: hidden;
	padding: 0 10px 0 20px;
}

.vista-pmsite-staticPage .secondaryNavig ul li.active {
	background: url("images/menu_active.png") no-repeat left center;
}

.vista-pmsite-staticPage .secondaryNavig ul li a {
	color: black;
}

.vista-pmsite-staticPage .secondaryNavig ul li a:hover span {
	color: #CCCCCC;
    outline: medium none;
    text-decoration: none;
    text-decoration: underline;
}

.vista-pmsite-staticPage .content {
	overflow: hidden;
	padding-top: 30px;
	border-top: 5px solid #000000;
	text-align: justify;
	min-height: 350px;
}

.vista-pmsite-staticPagen .content  a {
	text-decoration:underline;
}

.vista-pmsite-staticPage .content  p {
	padding: 0 0 15px;
}

.vista-pmsite-staticPage .content  p em {
	font-family: monospace;
    font-size: 14pt;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 15px;
    font-style: normal; 
}

.vista-pmsite-staticPage .content h1 {
	font-family: monospace;
    font-size: 14pt;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 15px;    
}

.vista-pmsite-staticPage .content  h2 {
    font-family: monospace;
    font-size: 14pt;
    font-weight: bold;	
    line-height: 20px;
	padding-bottom: 15px;
}

.vista-pmsite-staticPage .content  h3 {
	font-family: monospace;
    font-size: 13pt;
    font-weight: bold;
	line-height: 20px;
	padding: 0 0 25px;
}

.vista-pmsite-staticPage .content  address {
	padding: 0 0 25px;
}

.vista-pmsite-staticPage .content ul,.staticMain .content ol {
	margin: 0;
	padding: 0 0 25px 25px;
}

.vista-pmsite-staticPage .testimItem {
    background-color: #CCCCCC;
    margin-bottom: 20px;
    padding: 20px;
}


.vista-pmsite-staticPage .testimItem .name {
	font-family: monospace;
    font-size: 12pt;
    text-align: right;
}

.vista-pmsite-staticPage .newsItem {
    padding-bottom: 20px;
}

.vista-pmsite-staticPage .newsItem .date {
    color: #999999;
}

.vista-pmsite-staticPage .newsItem .headline {
    font-family: monospace;
    font-size: 14pt;
    font-weight: bold;
}

.vista-pmsite-staticPage .newsItem .text {
    padding: 5px 0;
}