.vista-pmsite-legalPage {
    color: ${foreground_100};
    font-size: 16px;
}

.vista-pmsite-legalPage .vista-pmsite-mainWrap {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	background: white;
}

.vista-pmsite-legalPage .vista-pmsite-content{
	margin: 0px 80px;
}

.vista-pmsite-legalPage .caption {
	//background-size: 100% 100%;
	background: white;
	border-top: 1px solid #000;
	height: 30px;
	overflow: hidden;
	padding: 5px 0px;
}

.vista-pmsite-legalPage .caption h1 {
	font-family: monospace;
    font-size: 14pt;
    font-weight: normal;
	color: black;
}

.vista-pmsite-legalPage .legalFormWrap {
	//margin: 0px 80px;
	border-top: 5px solid #000;
	background-color:#999999;
	padding:20px 60px;
}

.vista-pmsite-legalPage .legalContent {
	height:500px;
	padding:20px;
	overflow:auto;
	color: white;
	background-color: #999999;
	line-height: 20px;
}
.vista-pmsite-legalPage .acceptForm {
	top: 0;
}

.vista-pmsite-legalPage table.acceptNote {
	width:100%;
}
.vista-pmsite-legalPage table.acceptNote td {
	padding:20px;
}
.vista-pmsite-legalPage .accept2 {
	padding:20px;
	text-align:right;
}

.vista-pmsite-legalPage .legalFormWrap input[type=submit] {
	background: #999999;
	//border: 2px solid ${object1_100};
	color: white;
	cursor: pointer;
	font-size: 16px;
	text-transform: uppercase;
	width: 128px;
	height: 32px;
}
.vista-pmsite-legalPage .legalFormWrap input[type=submit].decline {
	float:right;
}
