.vista-pmsite-unitDetailsPage {
	font-size:14px;
}
.vista-pmsite-unitDetailsPage .vista-pmsite-mainWrap {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
    background: #fff;
}
.vista-pmsite-unitDetailsPage .vista-pmsite-sidebar {
	display: inline-block;
	width: 300px;
	vertical-align: top;
	float: left;
	padding-bottom: 20px;
}
.vista-pmsite-unitDetailsPage .vista-pmsite-main {
	display: inline-block;
	width: 600px;
	vertical-align: top;
	min-height:600px;
	float: right;
}
.vista-pmsite-unitDetailsPage .vista-pmsite-main .caption2 {
}

.vista-pmsite-unitDetailsPage .apartmentDetailsWrap {
	min-height: 550px;
	border-top: 5px solid #000000;
}

.vista-pmsite-sidebarWrap {
	margin: 0 20px 20px 20px;
}

.apartmentDetailsWrap .detailBox {
	padding: 20px 0;
}
.apartmentDetailsWrap .detailBox .detailBoxTitle {
	padding: 30px 20px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:${foreground_100};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry {
	padding: 10px 0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry:first-child {
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxCaption {
	display:inline-block;
	vertical-align:top;
	width:80px;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
	padding-right: 10px;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxText {
	display:inline-block;
	vertical-align:top;
	width:460px;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText {
	padding-left:10px;
	margin:0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText li {
	float:left;
	width:230px;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .picture {
	display: inline-block;
	vertical-align: top;
	width:80px;
	min-height:75px;
	text-align:center;
	padding-left:10px;
} 
.apartmentDetailsWrap .requestBtn {
	background: ${object1_100};
	border: 2px solid ${object1_100};
	color: ${object1_10};
    display:inline-block;
    line-height: 32px;
    padding:0 8px;
    margin-left:40px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration:none;
}
