.vista-pmsite-aptListPage .vista-pmsite-content {
	overflow: hidden;
}
.vista-pmsite-aptListPage .vista-pmsite-sidebar {
	width: 280px;
	border-top: 1px solid #000000;
	float: left;
}

.vista-pmsite-aptListPage .advancedSearchCriteria {
    padding: 20px 0;
}

.vista-pmsite-aptListPage h3 {
	font-size:14pt;
	padding: 5px 0;
	height:30px;
	font-family: monospace;
	font-weight: normal;
}

.advancedSearchNarrowWrap {
	border-top: 5px solid #000000;
	background: #999999;
}
.advancedSearchNarrowWrap input[type=submit] {
    margin-top: 30px;
}

.advancedSearchNarrowWrap label {
	display: block;
	padding: 4px 0;
	white-space: nowrap;
	color: #fff;
}

.advancedSearchNarrowWrap .inputBlockFrame {
	margin-top: 20px;
}

.advancedSearchNarrowWrap .searchTypeSelBox {
	height:40px;
	*margin-left: 30px;
}
.advancedSearchNarrowWrap .searchTypeSelButton {
	float: left;
	width: 90px;
	font-size: 14px;
	background-color: #CCCCCC;
	padding: 3px 0;
	text-align: center;
	margin-left: 30px;
}
.advancedSearchNarrowWrap .searchTypeSelButton label {
	color:${foreground_100};
}

.advancedSearchNarrowWrap .searchTypeSelButton .spacer_by {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeSelButton input[type=radio] {
	display: none;
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActiveHover {
	background-color:${object1_100};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActiveHover label {
	color:${object1_20};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActive {
	background-color:${object1_100};
	
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActive label {
	color:${object2_10};
}
.advancedSearchNarrowWrap .searchTypeBox {
	padding-left: 30px;
}

.advancedSearchNarrowWrap .searchTypeBox select {
	color: #999999;
	width: 210px;
	margin: 1px;
	border: 1px solid #000000;
}
.advancedSearchNarrowWrap .searchTypeBox input[type=text] {
	color:${background_100};
	width: 210px;
	margin: 1px;
	border: 1px solid #000000;
}

.advancedSearchNarrowWrap .errorPanel {
	padding:2px;
	padding-left:15px;
	margin:0;
	margin-top:10px;
	color:red;
	background:white;
	display:inline-block;
}

.advancedSearchNarrowWrap .searchCommonBox {
	padding-left: 30px;
}

.advancedSearchNarrowWrap .searchCommonBox select {
	width: 92px;
	margin: 1px;
	border: 1px solid #000000;
    color: #999999;
}

.advancedSearchNarrowWrap .searchCommonBox input[type=text] {
	color:${background_100};
	width: 92px;
	margin: 1px;
	border: 1px solid #000000;
}
.advancedSearchNarrowWrap .searchCommonBox .searchField .inputJoinBox {
	display:inline-block;
	width:26px;
	text-align:center;
	color: #fff;
}
.advancedSearchNarrowWrap .searchAmenityBox {
	border-top: 1px solid #fff;
	padding-top: 10px;
	margin-left: 30px;
	margin-bottom: 10px;
	width:210px;
}

.advancedSearchNarrowWrap .searchAmenityBox .searchField>label {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox br {
	display: none;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList {
	display: block;
	width: 190px;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList label {
	display: inline-block;
	width: 70px;
}
.advancedSearchNarrowWrap .searchAmenityBox .amenityList label:lang(fr) {
	white-space: nowrap;
}

.vista-pmsite-aptListPage .vista-pmsite-main {
	margin-left: 300px;
}

.vista-pmsite-aptListPage .apartmentListingWrap .listing_listview {
	min-height:600px;
	border-top: 5px solid black;
}

#aptListModeSwitch {
	background-image: url("images/aptListIcons.png");
	background-repeat: no-repeat;
	height:25px;
	padding-top:7px;
	padding-left:30px;
	float:right;
	color:${object2_30};
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
}
.aptListModeSwitch:hover {
	background-image: url("images/aptListIcons-hlight.png");
	color:${object2_10};
}
.aptListMode_map {
	background-position:0px 0px;
}
.aptListMode_list {
	background-position:0px -60px;
}
.vista-pmsite-aptListPage .apartmentListingWrap .listing_mapview {
	width:744px;
	height:650px;
}
.apartmentListingWrap .listingEntry {
	padding:20px 0;
	border-top: 1px solid #000000;
	*float: left;
	zoom: 1;
	*display: inline;
}
.apartmentListingWrap .listingEntry:hover {
	background-color:#CCCCCC;
}
.apartmentListingWrap .listingEntry:first-child {
	border-top: none;
}
.apartmentListingWrap .listingEntry .pictureBox {
	display: inline-block;
	width:80px;
	zoom: 1;
	*display: inline;
	*float:left;
} 
.apartmentListingWrap .listingEntry .pictureBox .picture {
	width:100%;
}
.apartmentListingWrap .listingEntry .infoBox {
	display: inline-block;
	vertical-align: top;
	width:430px;
	*width:auto;
	zoom: 1;
	*display: inline;
	*float:left;
} 
.apartmentListingWrap .listingEntry .infoBoxEntry {
	padding:4px 0;
} 
.apartmentListingWrap .listingEntry .infoBoxEntry .infoBoxCaption {
	display: inline-block;
	*display: inline;
	*float:left;
	width:75px;
	text-align:right;
	padding-right:8px;
}
.apartmentListingWrap .listingEntry .infoBoxEntry .infoBoxText {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	width:330px;
	font-weight:bold;
}
.apartmentListingWrap .listingEntry .infoBoxEntry .infoBoxText .typeInfo {
	font-weight:normal;
}
.apartmentListingWrap .listingEntry .infoBox .description .infoBoxText {
	font-weight:normal;
}
.apartmentListingWrap .listingEntry .infoBox ul.infoBoxText {
	margin:0;
	padding:0;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.apartmentListingWrap .listingEntry .infoBox .types li {
	list-style:none;
}
.apartmentListingWrap .listingEntry .infoBox .amenities li {
	float: left;
	margin: 0 10px;
}

.apartmentListingWrap .listingEntry .infoBox .amenities li:first-child {
	list-style: none;
	margin-left: 0;
	*margin-left: 0;
}
.apartmentListingWrap .listingEntry .controlBox {
	position:relative;
	display: inline-block;
	vertical-align: top;
	width:80px;
	float: right;
	zoom: 1;
	*display: inline;
	*clear: both;
} 
.apartmentListingWrap .listingEntry .controlButton {
	width: 80px;
	float:right;
	padding:6px 0;
	border-bottom: 1px solid #999999;
}
.apartmentListingWrap .notFoundNote {
	font-size:18px;
	color:${foreground_50};
	padding:40px 20px;
}
.listingCtlButton {
	background-image: url("images/aptListIcons.png");
	background-repeat: no-repeat;
	display:block;
	width:70px;
	height:25px;
	padding-top:5px;
	padding-left:30px;
	font-weight:bold;
	cursor:pointer;
	color:${foreground_50};
}
a.listingCtlButton {
	color:#CCCCCC !important;
	text-decoration:none;
}
.apartmentListingWrap .listingEntry:hover .listingCtlButton {
	background-image: url("images/aptListIcons-hlight.png");
	color:${foreground_80} !important;
}
.btnShowOnMap {
	background-position:0px 0px;
}
.btnViewDetails {
	background-position:0px -30px;
}
/*
 * Map style
 */
.PropertyCardCardContentItem {
	font-size:12px;
	padding-bottom:8px;
	margin-bottom:4px;
	border-bottom:1px solid ${foreground_20};
}
.PropertyCardCardContentItem.address {
	color: ${object1_60};
	font-weight:bold;
}
.PropertyCardCardContentItem.types {
	color: ${foreground_100};
}
.PropertyCardCardContentItem.amenities {
	color: ${foreground_100};
}
.PropertyCardCardLeftLabel {
	font-size:12px;
	white-space:nowrap;
	color: ${foreground_100};
}
.PropertyCardCardLeftItem.price {
	color: ${object1_60};
	font-weight:bold;
}
