.vista-pmsite-cityPage {
	overflow: hidden;
	padding-bottom: 20px;
}

.vista-pmsite-cityPage .vista-pmsite-sidebar {
	width: 280px;
	float: left;
	border-top: 1px solid black;
}

.vista-pmsite-cityPage .vista-pmsite-main {
	margin-left: 300px;
}

.vista-pmsite-cityPage .secondaryNavig {
	color:#FFFFFF;
}
.vista-pmsite-cityPage .secondaryNavig h3 {
	width:100%;
	text-align:left;
	font-family:monospace;
	font-size:19px;
	font-weight:normal;
	padding: 5px 0;
	height: 30px;
	color: #000000;
}
.advancedSearchNarrowWrap {
	width: 280px;
	height: 520px;
	border-top: 5px solid black;
	background-color: #999999;
}

.advancedSearchNarrowWrap label {
	display: block;
	padding: 4px 0;
	white-space: nowrap;
	color:#FFFFFF;
}

.advancedSearchNarrowWrap .inputBlockFrame {
	width: auto;
	margin-top: 20px;
}

.advancedSearchNarrowWrap .searchTypeSelBox {
	height:40px;
	margin-top: 20px;
}
.advancedSearchNarrowWrap .searchTypeSelButton {
	float: left;
	width: 90px;
	font-size: 14px;
	letter-spacing: 0px;
	background-color: #CCCCCC;
	margin-left: 30px;
	padding: 3px 0;
	text-align: center;
}
.advancedSearchNarrowWrap .searchTypeSelButton label {
	color:${foreground_100};
}

.advancedSearchNarrowWrap .searchTypeSelButton .spacer_by {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeSelButton label {
	display: inline-block;
}

.advancedSearchNarrowWrap .searchTypeSelButton input[type=radio] {
	display: none;
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActiveHover {
	background-color:${object1_100};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActiveHover label {
	color:${object1_20};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActive {
	background-color:${object1_100};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActive label {
	color:${object2_10};
}
.advancedSearchNarrowWrap .searchTypeBox {
	height:100px;
	margin-left: 30px;
}

.advancedSearchNarrowWrap .searchTypeBox select {
	color:#999999;
	width: 209px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchTypeBox input[type=text] {
	color:${background_100};
	width: 184px;
	margin: 1px;
}

.advancedSearchNarrowWrap .errorPanel {
	padding:2px;
	padding-left:15px;
	margin:0;
	margin-top:10px;
	color:red;
	background:white;
	display:inline-block;
}

.advancedSearchNarrowWrap .searchCommonBox {
	margin-left: 30px;
}

.advancedSearchNarrowWrap .searchCommonBox select {
	color:#999999;
	width: 93px;
	margin: 1px;
}

.advancedSearchNarrowWrap .searchCommonBox input[type=text] {
	color:${background_100};
	width: 91px;
	*width:89px;
	margin: 1px;
	border: 1px solid black;
}
.advancedSearchNarrowWrap .searchCommonBox .searchField .inputJoinBox {
	display:inline-block;
	width:22px;
	text-align:center;
}
.advancedSearchNarrowWrap .searchAmenityBox {
	width: 210px;
	border-top: 1px solid white;
	padding-top: 10px;
	margin-bottom: 30px;
	margin-left: 30px;
}

.advancedSearchNarrowWrap .searchAmenityBox .searchField>label {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox br {
	display: none;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList {
	display: block;
	width: 190px;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList label {
	display: inline-block;
	width: 70px;
	color:#FFFFFF;
}

.vista-pmsite-cityPage .cityPageWrap {
	line-height:1.6em;
	min-height: 400px;
	overflow: hidden;
	padding: 20px 0;
	*padding-top: 26px;
	border-top: 5px solid black;
}
.vista-pmsite-cityPage .cityPageWrap .cityProperties h3 {
	font-family: monospace;
    font-size: 14pt;
    line-height: 20px; 
}
.vista-pmsite-cityPage .cityPageWrap .propertyLink {
	color:  #000000;
}
.vista-pmsite-cityPage .cityPageWrap .propertyLink:hover {
	color: ${object1_20};
}