.vista-pmsite-inquiryFormPage {
	overflow: hidden;
	padding-bottom: 20px;
}

.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar {
	width: 260px;
	padding: 0 20px 20px 20px;
	float: left;
	background-color:${object2_10};
}
.vista-pmsite-inquiryFormPage .vista-pmsite-main {
	margin-left: 320px;
}

.vista-pmsite-inquiryFormPage .inquiryFormWrap {
	min-height: 550px;
	border-top: 5px solid #000000;
}
