img,form,fieldset {
	border: medium none;
}

form,fieldset {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
}

body,h1,h2,h3,h4,h5,h6,dl,dt,dd,p {
	margin: 0;
}

q {
	quotes: none;
}

q:before {
	content: "";
}

q:after {
	content: "";
}

input:focus {
	outline: medium none;
}

textarea:focus {
	outline: medium none;
}

select:focus {
	outline: medium none;
}

html,body {
	width: 100%;
	/*color: ${foreground_100};*/
}

body {
	font: 13px Arial, Helvetica, sans-serif;
	line-height: 1.4;
	background: #fff url("images/bg-pattern.jpg");
	/*background: no-repeat  -moz-linear-gradient(top, ${object1_60} 0, #fff 400px); /* FF3.6+ */
	/*background: no-repeat  -webkit-gradient(linear, left top, left bottom, color-stop(0,${object1_60}), color-stop(400px,#ffffff))); /* Chrome,Safari4+ */
	/*background: no-repeat  -webkit-linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* Chrome10+,Safari5.1+ */
	/*background: no-repeat  -o-linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* Opera 11.10+ */
	/*background: no-repeat  -ms-linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* IE10+ */
	/*background: no-repeat  linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='${object1_60}', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

input,select,textarea {
	color: ${background_100};
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

input[type=submit] {
	float:right;
	background: ${object1_100};
	border: medium none;
	color:#fff;
	cursor: pointer;
	padding: 10px;
	font-size: 15px;
}


table {
	border-collapse: collapse;
}

td {
	padding: 0;
}

a {
	color: ${object1_20};
	outline: medium none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

select {
	color: #999999;
	border: 1px solid #000000;
}
.hidden { display:none; }

.header {
	width: 100%;
}

.main {
	background: #fff;
	position:relative;
	border-top: 6px solid #000000;
}

.header .main {
	margin-top: 0 auto;
	height: 150px;
}

#siteTitle {
	margin: 5px 180px;
	position: absolute;
	width: 600px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}

#siteTitle a:hover {
	text-decoration:none;
}
#siteLogo {
	height:93px;
}
#noLogo {
	font-size:35px;
	line-height:80px;
}

#siteAuthInsert {
	float:right;
	margin:10px;
}

.main #siteAuthInsert .greeting {
	color:  #999999;
	font-weight: bold;
}

#siteAuthInsert a:last-child {
    color: #999999;
    margin-right: 1em;
}

#siteAuthInsert a:first-child {
	color: #000000;
	margin-right: 1em;
}

#siteAuthInsert a:hover {
	color: #999999;
}

.navigation {
	height: 60px;
	position: absolute;
	top: 68%;
	width: 100%;
    /*background: ${object1_100}*/
}

.navigation ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.navigation ul li {
	 display: inline-block;
	 zoom: 1;
	*display: inline;
     margin: 0 4px;
}

.navigation ul li span {
	font-size: 12px;
	border-top: 1px solid #000;
    border-collapse: collapse;
    color: #000;
    display: block;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    width: 120px;
    white-space:nowrap;
}

.navigation ul li span:hover {
	border-top: 4px solid #000;
    padding-top: 7px;
    cursor: pointer;
}

.navigation .active span {
	border-top: 4px solid #000;
	padding-top: 7px;
}

.navigation span:lang(fr) {
}

.navigation a {
	color: ${object1_10};
	text-decoration: none;
	float: left;
}

.navigation a:hover {
	color: ${contrast1_100};
}

/*
 * Footer
 */

#footer {
	position: relative;
	z-index: 10;
}

#footer .main {
	height:100%;
	border-top: 1px solid #000000;
}

ul.footer_locations {
	width: 100%;
    display: inline-block;
    zoom: 1;
	*display: inline;
	*margin-left: 0;
    list-style-type: none;
    padding: 0;
    vertical-align: top;
}

ul.footer_locations label {
	display: block;
	text-transform: uppercase;
	padding-bottom: 10px;
	color:#000000;
	width: 300px;
}

ul.footer_locations li {
	float: left;
	display: inline-block;
	zoom: 1;
	*display: inline;
    width: 192px;
    font-weight: bold;
    text-align: left;
}

.footer_locations a {
	color:  #000000;
}

.footer_locations a:hover {
	color: ${object1_20};
}

.footer_links {
	text-align: center;
	padding-top: 20px;
}

.footer_link:first-child {
	border-left: 0;
}

.footer_link {
	padding: 0 10px;
	border-left: 1px solid #000000;
	_position: relative;
	display: inline-block;
	_top: 200px;
}

.footer_link a {
	color:  #000000;
}

.footer_link a:hover {
	color: ${object1_20};
}

.locale {
	margin-top:40px;
	text-align:center;
	white-space: nowrap;
}

.langItem {
	margin-left: 20px;
	padding: 0 3px;
}

.langItem:first-child {
	margin-left: 0;
}

.langItem a {
	color: #000000;
}

.footer_copyright {
	text-align: center;
	line-height: 60px;
	color: #000000;
}
.footer_social {
	display:inline-block;
	width:140px;
	vertical-align:middle;
	margin-left: 10px;
	margin-top: 10px;
}
.footer_social span {
	padding:0; margin:0;
}
.footer_social label {
	display: block;
	text-transform: uppercase;
	padding-bottom: 10px;
	color: #000000;
}
.iconSocial {
	display:inline-block;
	width:32px; height:32px;
	background:url("images/social4.png") no-repeat;
}
.iconSocial.Twitter {
	background-position: 0 0;
}
.iconSocial.Facebook {
	background-position: -32px 0;
}
.iconSocial.Youtube {
	background-position: -64px 0;
}
.iconSocial.Flickr {
	background-position: -96px 0;
}

.legal_poweredby {
	text-align: center;
	line-height: 20px;
	color: #000000;
}
.powered_product {
}
.powered_by {

}
.powered_logo {
	background: url("images/vista.png") no-repeat;
	display:inline-block;
	width: 100px; height: 20px;
	vertical-align: middle;
}

/*
 * Content
 */
.vista-pmsite-main .caption {
	height: 30px;
	overflow: hidden;
	padding: 5px 0 5px 0;
	border-top: 1px solid #000000;
}

.vista-pmsite-main .caption h1 {
	font-family: monospace;
    font-size: 14pt;
    font-weight: normal;
	color: black;
}
.caption2 {
	border-top: 1px solid black;
	height: 30px;
	padding: 5px 0;
}
.vista-pmsite-main .caption2 h1 {
	float: left;
	font-family: monospace;
    font-size: 14pt;
    font-weight: normal;
}
.vista-pmsite-main .caption2 .rightControl {
	height:25px;
	margin:5px 0;
	float:right;
	color:${object2_30};
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
}
.vista-pmsite-main .caption2 .rightControl:hover {
	color:${object2_10};
}

.container {
	margin: 0px auto 0px;
	width: 920px;
	background: #fff;
	padding: 0 20px;
}