.vista-pmsite-unitDetailsPage .vista-pmsite-mainWrap {
	overflow: hidden;
}
.vista-pmsite-unitDetailsPage .vista-pmsite-sidebar {
	width: 260px;
	background-color: #E8E8E8;
	float: left;
	padding: 0 20px 20px 20px;
}
.vista-pmsite-unitDetailsPage .vista-pmsite-main {
	min-height:600px;
	margin-left: 320px;
}
.vista-pmsite-unitDetailsPage .vista-pmsite-main .caption2 {
}

.vista-pmsite-unitDetailsPage .apartmentDetailsWrap {
	min-height: 550px;
	border-top: 5px solid #000000;
}

.apartmentDetailsWrap .detailBox {
	padding: 20px 0;
}
.apartmentDetailsWrap .detailBox .detailBoxTitle {
	padding: 30px 20px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:${foreground_100};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry {
	padding: 10px 0;
}

.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxCaption {
	display:inline-block;
	vertical-align:top;
	width:80px;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
	padding-right: 10px;
/* if EI7 */	
	*display: inline;
    zoom: 1;	
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxText {
	display:inline-block;
	vertical-align:top;
	width:460px;
/* if EI7 */	
	*display: inline;
    zoom: 1;	
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText {
	padding-left:10px;
	margin:0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText li {
	float:left;
	width:230px;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .picture {
	display: inline-block;
	vertical-align: top;
	width:80px;
	min-height:75px;
	text-align:center;
	padding-left:10px;
} 
.apartmentDetailsWrap .requestBtn {
	background: ${object1_100};
	color: ${object1_10};
    line-height: 32px;
    padding:8px;
    margin-left:40px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration:none;
}
