.vista-pmsite-cityPage {
	overflow: hidden;
}

.vista-pmsite-cityPage .vista-pmsite-sidebar {
	float:left;
	width: 211px;
	color: ${object2_100};
}

.vista-pmsite-cityPage .vista-pmsite-main {
	margin-left: 211px;
}

.vista-pmsite-cityPage .secondaryNavig {
	color: ${object2_100};
}
.vista-pmsite-cityPage .secondaryNavig h3 {
	width:100%;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	padding: 10px 0;
	margin-top:5px;
}
.advancedSearchNarrowWrap {
	width: 190px;
	margin: 10px;
}
.advancedSearchNarrowWrap input[type=submit] {
	background: ${object1_100};
	border: 2px solid ${object1_100};
	color: ${object1_10};
	cursor: pointer;
	font-size: 16px;
	margin: 15px auto 0;
	text-transform: uppercase;
	width: 128px;
	height: 32px;
}

.advancedSearchNarrowWrap label {
	display: block;
	padding: 4px 0;
	white-space: nowrap;
	color: ${object2_100};
}

.advancedSearchNarrowWrap .inputBlockFrame {
	width: 100%;
	margin-top: 20px;
}

.advancedSearchNarrowWrap .searchTypeSelBox {
	height:40px;
}
.advancedSearchNarrowWrap .searchTypeSelButton {
	float: left;
	width: 90px;
	font-size: 14px;
	letter-spacing: 0px;
	background-color:${contrast2_100};
	margin-left: 10px;
	padding: 3px 0;
	text-align: center;
}
.advancedSearchNarrowWrap .searchTypeSelButton label {
	color:${foreground_100};
}

.advancedSearchNarrowWrap .searchTypeSelButton:first-child {
	margin-left: 0px;
}

.advancedSearchNarrowWrap .searchTypeSelButton .spacer_by {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeSelButton label {
	display: inline-block;
}

.advancedSearchNarrowWrap .searchTypeSelButton input[type=radio] {
	display: none;
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActiveHover {
	background-color:${object1_100};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActiveHover label {
	color:${object1_20};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActive {
	background-color:${object1_100};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActive label {
	color:${object2_10};
}
.advancedSearchNarrowWrap .searchTypeBox {
	height:100px;
}

.advancedSearchNarrowWrap .searchTypeBox select {
	color:${background_100};
	width: 188px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchTypeBox input[type=text] {
	color:${background_100};
	width: 184px;
	margin: 1px;
}

.advancedSearchNarrowWrap .errorPanel {
	padding:2px;
	padding-left:15px;
	margin:0;
	margin-top:10px;
	color:red;
	background:white;
	display:inline-block;
}

.advancedSearchNarrowWrap .searchCommonBox {
}

.advancedSearchNarrowWrap .searchCommonBox select {
	color:${background_100};
	width: 82px;
	margin: 1px;
}

.advancedSearchNarrowWrap .searchCommonBox input[type=text] {
	color:${background_100};
	width: 76px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchCommonBox .searchField .inputJoinBox {
	display:inline-block;
	width:22px;
	text-align:center;
}
.advancedSearchNarrowWrap .searchAmenityBox {
	border-top: 1px dotted ${object2_100};
	padding-top: 10px;
	margin-bottom: 30px;
}

.advancedSearchNarrowWrap .searchAmenityBox .searchField>label {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox br {
	display: none;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList label {
	display: inline-block;
	width: 70px;
	color: ${object2_100};
}
.advancedSearchNarrowWrap .searchAmenityBox .amenityList label:lang(fr) {
	width: 165px;
}

.vista-pmsite-cityPage .cityPageWrap {
	line-height:1.6em;
	min-height: 396px;
	color: ${foreground_100};
	overflow: hidden;
	padding: 30px 30px 0;
}
.vista-pmsite-cityPage .cityPageWrap .cityProperties h3 {
	font-size:18px;
	margin:20px 0;
}
.vista-pmsite-cityPage .cityPageWrap .propertyLink {
	color:  ${object1_80};
}
.vista-pmsite-cityPage .cityPageWrap .propertyLink:hover {
	color:  ${object1_40};
}
