.vista-pmsite-inquiryFormPage {
	font-size:14px;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-content  {
    background: ${background_10};
}
.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar {
	float:left;
	width: 318px;
	padding:20px 16px;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-main {
	margin-left: 350px;
}

.vista-pmsite-inquiryFormPage .inquiryFormWrap {
	background: ${object2_100};
	min-height: 550px;
}
