<div class="SingUpText">
	<div class="SignUpTextSection">
	<div class="SignUpSectionCaption">
		IT'S FREE
	</div>
	<div class="SingUpText">	
		PropertyVista is meant to take away 
		the pain in handling your investment 
		properties. It is intelligent and helps 
		you in impriving your bottom line. And 
		it is completely free.
	</div>
	</div>
	
	<div class="SignUpTextSection">
	<div class="SignUpSectionCaption">
		MORE THAN JUST A SOFTWARE
	</div>
	<div class="SingUpText">	
		It enables better tenant relations to get 
		more results. Operating in the 
		background, it helps you get the most 
		from your properties.
	</div>
	</div>
	
	<div class="SignUpTextSection">
	<div class="SignUpSectionCaption">
		ACCESS ANYWHERE
	</div>	
	<div class="SingUpText">
	It is available on all devices -- ipad, 
	laptop, desktop and on mobile for and 	
	your tenants. Take it anywhere and still 
	be able to manage your properties.
	</div>
	</div>
</div>						