.vista-pmsite-main .caption2 h1 {
    color: #0458B3 !important;
}

.vista-pmsite-aptListPage .vista-pmsite-sidebar {
	width: 211px;
	height: 711px;
	float:left;
	/*border-right:1px solid ${foreground_20};*/
	color: ${foreground_60};
	background-color: #dfebf7;
}

.vista-pmsite-aptListPage h3 {
	width:100%;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	padding: 10px 0;
	margin-top:5px;
	color: #0458b3;
}
.advancedSearchNarrowWrap {
	width: 190px;
	margin: 10px;
}

.advancedSearchNarrowWrap label {
	display: block;
	padding: 4px 0;
	white-space: nowrap;
}

.advancedSearchNarrowWrap .inputBlockFrame {
	width: 100%;
	margin-top: 20px;
}

.advancedSearchNarrowWrap .searchTypeSelBox {
	height:40px;
}
.advancedSearchNarrowWrap .searchTypeSelButton {
	float: left;
	width: 84px;
	font-size: 14px;
	letter-spacing: 0px;
	color:${foreground_100};
	background-color:${foreground_10};
	margin-left: 10px;
	padding: 3px;
	text-align: center;
}

.advancedSearchNarrowWrap .searchTypeSelButton:first-child {
	margin-left: 0px;
}

.advancedSearchNarrowWrap .searchTypeSelButton .spacer_by {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeSelButton label {
	display: inline-block;
}

.advancedSearchNarrowWrap .searchTypeSelButton input[type=radio] {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeBox {
	height:100px;
}

.advancedSearchNarrowWrap .searchTypeBox select {
	width: 188px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchTypeBox input[type=text] {
	width: 184px;
	margin: 1px;
}

.advancedSearchNarrowWrap .errorPanel {
	padding:2px;
	padding-left:15px;
	margin:0;
	margin-top:10px;
	color:red;
	background:white;
	display:inline-block;
}

.advancedSearchNarrowWrap .searchCommonBox select {
	width: 82px;
	margin: 1px;
}

.advancedSearchNarrowWrap .searchCommonBox input[type=text] {
	width: 76px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchCommonBox .searchField .inputJoinBox {
	display:inline-block;
	width:22px;
	text-align:center;
}
.advancedSearchNarrowWrap .searchAmenityBox {
	border-top: 1px dotted ${foreground_60};
	padding-top: 10px;
	margin-bottom: 30px;
}

.advancedSearchNarrowWrap .searchAmenityBox .searchField>label {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox br {
	display: none;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList label {
	display: inline-block;
	width: 70px;
}
.advancedSearchNarrowWrap .searchAmenityBox .amenityList label:lang(fr) {
	width: 165px;
}

.advancedSearchNarrowWrap .typeselActiveHover {
	color:${foreground_10} !important;
	background-color:${foreground_60} !important;
}

.advancedSearchNarrowWrap .typeselActive {
	color:${foreground_10} !important;
	background-color:${foreground_60} !important;
}

.advancedSearchNarrowWrap #id1.advancedSearchCriteria > input {
    margin-left: 33px;
}

.vista-pmsite-content {
    background-color: #DFEBF7;
}

.vista-pmsite-aptListPage .vista-pmsite-main {
    background-color: #FFFFFF;
	margin-left: 211px;
	border-left: 1px solid #D1D1D1;
}

#aptListModeSwitch {
	background-image: url("images/aptListIcons.png");
	background-repeat: no-repeat;
	width:120px;
	height:25px;
	padding-top:5px;
	padding-left:30px;
	margin-top:20px;
	float:right;
	color:${foreground_50};
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
}
.aptListModeSwitch:hover {
	background-image: url("images/aptListIcons-hlight.png");
	color:${foreground_80};
}
.aptListMode_map {
	background-position:0px 0px;
}
.aptListMode_list {
	background-position:0px -60px;
}
.vista-pmsite-aptListPage .apartmentListingWrap .listing_mapview {
	width:744px;
	height:650px;
}
.apartmentListingWrap .listingEntry {
	background: ${background_100};
	padding:20px;
	border-bottom: 1px solid ${foreground_20};
}
.apartmentListingWrap .listingEntry:hover {
	background-color:${object1_10};
}

.apartmentListingWrap .listingEntry .pictureBox {
	display: inline-block;
	vertical-align: top;
	width:80px;
	min-height:75px;
	text-align:center;
} 
.apartmentListingWrap .listingEntry .pictureBox .picture {
	width:100%;
}
.apartmentListingWrap .listingEntry .infoBox {
	display: inline-block;
	vertical-align: top;
	width:450px;
	padding:0 20px;
} 
.apartmentListingWrap .listingEntry .infoBoxEntry {
	padding:4px 0;
} 
.apartmentListingWrap .listingEntry .infoBoxEntry .infoBoxCaption {
	display: inline-block;
	vertical-align: top;
	width:80px;
	text-align:right;
	padding-right:8px;
	font-weight:normal;
}
.apartmentListingWrap .listingEntry .infoBoxEntry .infoBoxText {
	display: inline-block;
	vertical-align: top;
	width:340px;
	font-weight:bold;
}
.apartmentListingWrap .listingEntry .infoBoxEntry .infoBoxText .typeInfo {
	font-weight:normal;
}
.apartmentListingWrap .listingEntry .infoBox .description .infoBoxText {
	font-weight:normal;
}
.apartmentListingWrap .listingEntry .infoBox ul.infoBoxText {
	margin:0;
	padding:0;
}
.apartmentListingWrap .listingEntry .infoBox .types li {
	list-style:none;
}
.apartmentListingWrap .listingEntry .infoBox .amenities li {
	float: left;
	margin: 0 10px;
}

.apartmentListingWrap .listingEntry .infoBox .amenities li:first-child {
	list-style: none;
	margin-left: 0;
}
.apartmentListingWrap .listingEntry .controlBox {
	display: inline-block;
	vertical-align: top;
	width:80px;
	padding:0 20px;
} 
.apartmentListingWrap .listingEntry .controlButton {
	float:right;
	padding:6px 0;
	border-bottom: 1px solid ${foreground_20}
}
.apartmentListingWrap .notFoundNote {
	font-size:18px;
	background: ${background_100};
	color:${foreground_50};
	padding:40px 20px;
}
.listingCtlButton {
	background-image: url("images/aptListIcons.png");
	background-repeat: no-repeat;
	display:block;
	width:70px;
	height:25px;
	padding-top:5px;
	padding-left:30px;
	font-weight:bold;
	cursor:pointer;
	color:${foreground_50};
}
a.listingCtlButton {
	color:${foreground_50} !important;
	text-decoration:none;
}
/*
.apartmentListingWrap .listingEntry:hover .listingCtlButton btnShowOnMap {
	/*background-image: url("images/aptListIcons-hlight.png");
	background-image: url("images/map_for_redridge.png");
	color:${foreground_80} !important;
}*/

.listingCtlButton.btnShowOnMap:hover {
    background-image: url("images/map_for_redridge.png");
}

/*
.apartmentListingWrap .listingEntry:hover .listingCtlButton btnViewDetails {
    /*background-image: url("images/aptListIcons-hlight.png");
    background-image: url("images/details_for_redridge.png");
}
*/

.listingCtlButton.btnViewDetails:hover {
    background-image: url("images/details_for_redridge.png");
    background-position:0px 2px;
}

.btnShowOnMap {
	background-position:0px 0px;
}
.btnViewDetails {
	background-position:0px -30px;
}
/*
 * Map style
 */
.PropertyCardCardContentItem {
	font-size:12px;
	padding-bottom:8px;
	margin-bottom:4px;
	border-bottom:1px solid ${foreground_20};
}
.PropertyCardCardContentItem.address {
	color: ${object1_100};
	font-weight:bold;
}
.PropertyCardCardContentItem.types {
	color: ${foreground_100};
}
.PropertyCardCardContentItem.amenities {
	color: ${foreground_100};
}
.PropertyCardCardLeftLabel {
	font-size:12px;
	white-space:nowrap;
	color: ${foreground_100};
}
.PropertyCardCardLeftItem.price {
	color: ${object1_100};
	font-weight:bold;
}
