.banner {
	height: 375px;
	position: relative;
	background: ${contrast1_20};
}
.banner_img {
	height: 375px;
}

.quickSearch {
	padding:20px 30px;
	/*background:${object2_100};*/
	background-color: #0458B3;
}

.quickSearch label {
	color: #A4C5E8;
	display: block;
	padding: 0 0 3px;
}

.quickSearch select {
	width: 100%;
	margin-bottom: 15px;
}

.quickSearch .submit {
	text-align: center;
}

.vista-pmsite-mainWrap {
	overflow: hidden;
	background-color: #FFFFFF;
}

.vista-pmsite-sidebar {
	float: left;
	width: 280px;
	border-right: 1px solid #D1D1D1;
}

.vista-pmsite-main{
    float: left;
}

.testimBox {
	padding: 20px 10px;
	float: left;
}

.testimBox .infobox_decor {
	position: relative;
	display:inline-block;
	margin: 20px 3px;
}

.testimBox .callout_line {
	fill:${object1_30};
	stroke:${object1_40};
	stroke-width:1;
}

.testimBox .callout {
	position: absolute;
	top:150px;
	left:250px;
}

.testimBox .infobox_header_title {
    color: #0458b3;
}

.testimBox .infobox_content {
	width: 260px;
	height: 100px;
	overflow: hidden;
	margin: 10px;
	padding: 20px;
	background: ${object1_30};
	
	border: 1px solid ${object1_40};
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.testimBox .name {
	text-align: right;
	padding: 10px 0 0 0;
}

.read_more {
	/*color: ${contrast2_100};*/
	color: #FF0000;
	font-size: 16px;
	padding-left: 10px;
}

.newsBox {
	padding: 20px 30px;
}

.newsBox .infobox_header_title {
    color: #0458b3 !important;
}

.newsBox .date {
	color: ${foreground_40};
	padding-top: 10px;
}

.newsBox .headline {
	color: ${contrast2_100};
}

.newsBox .text {
	padding-top: 10px;
}

.narrowBox .infobox_header .infobox_header_title {
    color: #dfebf7;
}

.infobox_header_title {
	font-size: 22px;
	line-height: 40px;
	color: #0458b3;
}

.infobox_header_title:lang(fr) {
	font-size: 18px;
}

.promoBox {
	padding:20px 10px 0;
}

.promoBox .infobox_content {
	width:140px;
	float:left;
	margin-left:20px;
}

.promoBox .infobox_content:first-child {
	margin-left:0px;
}

.promoBox a .picture {
	border:1px solid ${background_100};
}
.promoBox a:hover .picture {
	border:1px solid ${contrast2_100};
}

.promoBox .citySelectionForm {
	margin-bottom: 20px;
	margin-left: 20px;
}