.vista-pmsite-staticPage .secondaryNavig {
	padding: 35px 0;
	width: 211px;
	float: left;
	min-height: 400px;	
	/*border-right:1px solid ${foreground_20};*/
}

.vista-pmsite-staticPage .secondaryNavig ul {
	margin: 0;
	padding: 0;
}

.vista-pmsite-staticPage .secondaryNavig ul li {
	color: ${foreground_100};
	font-size: 17px;
	font-weight:bold;
	line-height: 38px;
	overflow: hidden;
	padding: 0 10px 0 35px;
}

.vista-pmsite-staticPage .secondaryNavig ul li.active {
	background: url("images/menu_active.png") no-repeat left center;
}

.vista-pmsite-staticPage .secondaryNavig ul li a {
	color: ${foreground_100};
}

.vista-pmsite-staticPage .secondaryNavig ul li a:hover {
	color: ${contrast2_100};
	text-decoration: none;
}

.vista-pmsite-staticPage .content {
	min-height: 396px;
	text-align: justify;
	color: ${foreground_100};
	border-top:1px solid ${foreground_20};
	border-left: 1px solid #D1D1D1;
	background-color: ${background_10};
	overflow: hidden;
	padding: 30px 30px 0;
}

.vista-pmsite-staticPagen .content  a {
	text-decoration:underline;
}

.vista-pmsite-staticPage .content  p {
	padding: 0 0 25px;
}

.vista-pmsite-staticPage .content  h2 {
	font-size: 18px;
	line-height: 20px;
	padding: 0 0 25px;
}

.vista-pmsite-staticPage .content  h3 {
	font-size: 16px;
	line-height: 20px;
	padding: 0 0 25px;
}

.vista-pmsite-staticPage .content  address {
	padding: 0 0 25px;
}

.vista-pmsite-staticPage .content ul,.staticMain .content ol {
	margin: 0;
	padding: 0 0 25px 25px;
}

.vista-pmsite-staticPage .testimItem {
    background-color: #A4C5E8;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
}


.vista-pmsite-staticPage .testimItem .name {
    font-size: 14px;
    text-align: right;
}

.vista-pmsite-staticPage .newsItem {
    padding-bottom: 20px;
}

.vista-pmsite-staticPage .newsItem .date {
    color: #A3A3A3;
}

.vista-pmsite-staticPage .newsItem .headline {
    font-size: 18px;
    font-weight: bold;
    color: #00C4FF;
}

.vista-pmsite-staticPage .newsItem .text {
    padding: 10px 0;
}