.vista-pmsite-legalPage {
    color: ${foreground_100};
    font-size: 16px;
}

.vista-pmsite-legalPage .vista-pmsite-mainWrap {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.vista-pmsite-legalPage .caption {
	height: 80px;
	overflow: hidden;
	padding: 40px 0 0 30px;
}

.vista-pmsite-legalPage .caption h1 {
	font-size: 36px;
	font-weight: normal;
	line-height: 38px;
	padding: 0 0 20px;
}

.vista-pmsite-legalPage .legalFormWrap {
}

.vista-pmsite-legalPage .legalContent {
	height:500px;
	padding:20px 80px;
	overflow:auto;
	color: ${foreground_100};
	border-top:1px solid ${foreground_20};
	background-color: white;
}
.vista-pmsite-legalPage .acceptForm {
	padding:20px 80px;
}
.vista-pmsite-legalPage .legalFormWrap input[type=submit] {
	background: ${contrast1_100};
	border: 2px solid ${contrast1_120};
	color: ${contrast1_10};
	cursor: pointer;
	font-size: 16px;
	text-transform: uppercase;
	width: 128px;
	height: 32px;
}
.vista-pmsite-legalPage .legalFormWrap input[type=submit].decline {
	float:right;
}
