.HorizontalAlignCenter {
	margin-left: auto;
	margin-right: auto;
}

.TextBox td {
	padding: 0px;
}

.TextBox-watermark {
	color: #d1d1d1;
}

.ListBox {
	color: #666666;
	border-width: 1px;
	border-style: solid;
	border-color: #c2c2c2;
}

.Button {
	border-width: 1px;
	border-style: solid;
	border-color: #c2c2c2;
	padding: 3px;
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#e0e0e0' );
	background: -moz-linear-gradient(top, #ffffff, #e0e0e0);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#e0e0e0) );
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    height: 1.5em;
    min-width: 7em;
    white-space: nowrap;
}

.ButtonText {
	whiteSpace: nowrap;
	position: relative;
	height: 100%;
	text-align: center;
}

.Button-hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0',
		endColorstr='#ffffff' );
	background: -moz-linear-gradient(top, #e0e0e0, #ffffff);
	background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0),
		to(#ffffff) );
}

.Button-disabled {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0',
		endColorstr='#f0f0f0' );
	background: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0),
		to(#f0f0f0) );
	cursor: default;
	opacity: 0.4;
}

.EditorPanel .Button {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    height: 19px !important;
    padding: 0;
}

.EditorPanel .Button:hover {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    height: 19px !important;
    padding: 0;
    box-shadow: none !important;
}


.WidgetDecoratorComponentHolder .TextBox, .WidgetDecoratorComponentHolder .ListBox {
	min-width: 75px;
}

.Anchor-disabled:hover {
	    text-decoration: none;
}

.Anchor-disabled {
	    text-decoration: none;
}

.Toolbar {
	white-space: nowrap;
}

.ToolbarItem {
	display: inline-block;
	padding-left: 4px;
	vertical-align: middle;
}

.ToolbarSeparator {
	border-left: 1px solid;
	border-left-color: #b3b3b3;
	margin-left: 8px;
	height: 20px;
	display: inline-block;
}

.Toolbar .Anchor {
	color: #b3a57d;
	font-size: 1.1em;
	font-weight: bolder;
	padding: 3px 6px;
}

.RateItBar {
	cursor: pointer;
}

.ImageGallery {
	margin: 0;
	padding: 3px 5px;
	border: 1px solid #ccc;
	background: white;
}

.ImageGallery-ImageFrame {
	border: 2px solid #eee;
}

.ImageGallery-ImageFrame:hover {
	border: 2px solid #ccc;
}

.RadioGroupItem-disabled {
	color: #d1d1d1;
}

.WidgetDecorator {
    border-spacing: 0;
    padding: 5px 0;
    white-space: nowrap;
}
.WidgetDecorator-viewable {
    color: #666666;
    font-weight: bold;
}
.WidgetDecoratorLabelHolder {
    text-align: left;
    white-space: nowrap;
}
.WidgetDecoratorComponent {
    white-space: normal;
}
.WidgetDecorator-verticalAlign .WidgetDecoratorLabelHolder {
    padding-right: 0;
}
.WidgetDecoratorLabelHolder-labelAlignCenter {
    text-align: center;
}
.WidgetDecoratorLabelHolder-labelAlignRight {
    text-align: right;
}
.WidgetDecoratorLabel {
    color: #666666;
    font-weight: bold;
    line-height: 2em;
    padding-right: 1em;
    white-space: normal;
}
.WidgetDecorator-viewable .WidgetDecoratorLabel {
    color: #B3B3B3;
    font-size: 0.9em;
    line-height: 1.5em;
}
.WidgetDecoratorInfoImage {
    line-height: 0;
    padding-left: 5px;
    vertical-align: middle;
}
.WidgetDecoratorMandatoryImage {
    display: inline-block;
    padding-right: 3px;
    width: 5px;
}
.WidgetDecorator-noMandatoryStar .WidgetDecoratorMandatoryImage img {
    display: none;
}
.WidgetDecoratorContentPanel {
}
.WidgetDecoratorComponentHolder {
    word-wrap: break-word;
}
.WidgetDecoratorComponent {
}
.WidgetDecoratorComponent-invalid .TextBox {
    background-color: #F8D8D8;
    border-color: #F79494;
    border-style: solid;
    border-width: 1px;
}
.WidgetDecoratorComponent-invalid .ListBox {
    background-color: #F8D8D8;
    border-color: #F79494;
    border-style: solid;
    border-width: 1px;
}

.EntityContainerDecoratorCollapsedCaption {
	font-size: 1.1em;
	font-weight: bold;
}

.EntityContainerDecorator {
	margin: 6px 0px;
	border: dotted 1px;
	border-color: #666666;
}

.EntityContainerDecorator:hover {
	border: solid 1px;
	border-color: #666666;
}


.FormFlexPanel {
	-moz-box-sizing: border-box;
    border-spacing: 0;
    padding: 6px;
    width: 100%;
}

.FormFlexPanelHR {
	background-color: #c2c2c2;
	height: 2px;
	margin: 6px 0 4px 0;
}

.FormFlexPanelH1 {
	background-color: #f0f0f0;
	width: 100%;
}

.FormFlexPanelH1Label {
	font-weight: bold;
	padding: 1em;
}

.FormFlexPanelH2 {
	border-bottom: solid 2px;
	border-bottom-color: #666666;
	margin: 6px 0 4px 0;
	width: 100%;
}

.FormFlexPanelH2Label {
	color: #666666;
	padding: 3px;
	font-size: 1.2em;
}

.FormFlexPanelH3 {
	border-bottom: solid 1px;
	border-bottom-color: #a3a3a3;
	margin: 6px 0 4px 0;
	width: 100%;
}

.FormFlexPanelH3Label {
	color: #473232;
	padding: 2px;
	font-size: 1.1em;
	font-style: italic;
}

.FormFlexPanelH4 {
	background-color: #ffffff;
	margin: 6px 0 4px 0;
	width: 100%;
}

.FormFlexPanelH4Label {
	color: #858585;
	padding: 1px;
	font-size: 1.0em;
	font-style: italic;
}

.FormFlexPanelActionWidget {
	float: right;
	padding: 1em;
}

.gwt-DatePicker {
	margin: 2px 4px;
	border: 1px solid;
	border-color: #AAAAAA;
	color: #666666;
	width: 250px;
}

.DatePickerMonthSelector {
	background-color: #e2e0e0;
	color: #626057;
	line-height: 12px;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 25px;
}

.DatePickerMonthLabel {
	width: 110px;
}

.DatePickerMonthSelector table {
	border-collapse: collapse;
}

.DatePickerMonthSelector td:focus {
	outline-style: none;
	outline-width: medium;
}

.DatePickerMonthSelector .gwt-Label {
	font-weight: bold;
	font-size: 13px;
}

.DatePickerMonthSelector .multiple {
	line-height: 24px;
}

.DatePickerMonthSelector  img {
	width: 10px;
}

.DatePickerMonthSelector  img.top {
	position: relative;
	top: 4px;
}

.DatePickerMonthSelector  img.middle {
	position: relative;
	top: 2px;
}

.DatePickerMonthSelector  img.bottom {
	position: relative;
	top: -2px;
}

.DatePickerYearLabel {
	width: 70px;
}

.DatePickerMonthYearLabel {
	width: 200px;
}

.monthSelectorNavigation {
	width: 15%;
}

.DatePickerDay .DatePickerWeekdayLabel .DatePickerWeekendLabel {
	font-size: 75%;
	outline-color: #666666;
	outline-style: none;
	outline-width: medium;
	padding: 4px;
	text-align: center;
}

.DatePickerWeekdayLabel .DatePickerWeekendLabel {
	background-color: #b3a57d;
	cursor: default;
	padding: 0 4px 2px;
}

.DatePickerDay {
	cursor: pointer;
	padding: 4px;
}

.DatePickerWeekendDayLabel {
	font-weight: bold;
}

td.DatePickerMonth {
	color: blue;
	font-size: 70%;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}

.DatePickerPreviousButton .DatePickerNextButton {
	color: blue;
	cursor: pointer;
	font-size: 120%;
	line-height: 1em;
	padding: 0 4px;
}

.gwt-DatePicker td {
	text-align: center;
	padding: 0;
	font-size: 11px;
	cursor: pointer;
	vertical-align: middle;
}

.DatePickerGrid {
	width: 100%;
	background-color: #f0f0f0;
	padding: 10px;
}

.DatePickerGrid .gwt-Label {
	border: 1px solid;
	border-color: #f0f0f0;
}

.DatePickerGrid .gwt-Label-disabled {
	color: #c2c2c2;
	background-color: #e0e0e0;
	cursor: default;
}

.DatePickerGrid .gwt-Label-outofmonth {
	color: #b3b3b3;
}

.DatePickerGrid .gwt-Label-empty {
	color: #f0f0f0;
	cursor: default;
}

.DatePickerGrid .gwt-Label-heighlighted {
	background-color: #E2E0E0;
}

.DatePickerGrid .gwt-Label-selected {
	border: 1px solid;
	border-color: #AAAAAA;
	background-color: #E2E0E0;
}

.DatePickerGrid .gwt-Label-todayday {
	color: #ffffff;
	background-color: #cabf9f;
}

.DatePickerGrid tr.DatePickerGridDaysRow {
	height: 20px;
}

.DatePickerGrid .DatePickerGridDaysRow td {
	border-bottom: 1px solid;
	border-color: #331a1a;
	margin-bottom: 5px;
}

.HeaderToolbar .Button {
	border: 1px solid;
	border-color: #f7f7f7;
	color: #ffffff;
	padding: 2px 12px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666',
		endColorstr='#000000' );
	background: -moz-linear-gradient(top, #666666, #000000);
	background: -webkit-gradient(linear, left top, left bottom, from(#666666),
		to(#000000) );
	font-size: 11px;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.HeaderToolbar .Button-hover {
	border-color: #d1d1d1;
}

.HeaderToolbar .Button-disabled {
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c2c2',
		endColorstr='#c2c2c2' );
	background: -moz-linear-gradient(top, #c2c2c2, #c2c2c2);
	background: -webkit-gradient(linear, left top, left bottom, from(#c2c2c2),
		to(#c2c2c2) );
}

.HeaderToolbar .HighlightedButton {
	border: 1px solid;
	border-color: #f7f7f7;
	color: #ffffff;
	padding: 2px 12px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3a57d',
		endColorstr='#483a14' );
	background: -moz-linear-gradient(top, #b3a57d, #483a14);
	background: -webkit-gradient(linear, left top, left bottom, from(#b3a57d),
		to(#483a14) );
	font-size: 11px;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.HeaderToolbar .HighlightedButton-hover {
	border-color: #d1d1d1;
}

.HeaderToolbar .HighlightedButton-disabled {
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c2c2',
		endColorstr='#c2c2c2' );
	background: -moz-linear-gradient(top, #c2c2c2, #c2c2c2);
	background: -webkit-gradient(linear, left top, left bottom, from(#c2c2c2),
		to(#c2c2c2) );
}

.gwt-MenuBar-vertical .HighlightedAction {
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f5f0',
		endColorstr='#d9d1b8' );
	background: -moz-linear-gradient(top, #f7f5f0, #d9d1b8);
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f5f0),
		to(#d9d1b8) );
	font-weight: bold;
}

.HeaderContainer {
	background-color: #e8e3d3;
	padding-top: 6px;
	width: 100%;
	height: 100%;
}

.HeaderToolbar {
	height: 100%;
	font-weight: bold;
	padding-right: 6px;
}

.HeaderContainer .HeaderToolbar {
	background-color: #e8e3d3;
	float: right;
}

.HeaderBreadcrumbs {
	overflow: hidden;
}

.FooterToolbar {
	padding: 2px 0px;
	border-top: 4px solid;
	border-color: #d1d1d1;
}

.Header {
	background-color: #F0F0F0;
	padding: 1em;
	white-space: nowrap;
	font-weight: bold;
}

.FooterToolbar .Toolbar {
	padding: 2px;
	float: right;
}

.BreadcrumbsBar {
	height: 29px;
}

.BreadcrumbAnchor {
	cursor: pointer;
	height: 100%;
	white-space: nowrap;
}

.BreadcrumbAnchor:hover {
	text-decoration: underline;
}

.Visor {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#f4f1e9' );
	background: -moz-linear-gradient(top, #ffffff, #f4f1e9);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#f4f1e9) );
	border: 2px solid;
	border-color: #d1c8ab;
	padding: 2px;
}

.VisorHeader {
	border-bottom: 1px solid;
	border-color: #d1c8ab;
}

.VisorBackButton {
	height: 17px;
	float: left;
	margin: 4px;
}

.VisorCaption {
	font-size: 21px;
	font-weight: bold;
	margin-left: 40%;
	line-height: 1.5em;
}

.Lister {
	width: 100%;
	padding: 6px;
}

.ListerFiltersPanel {
	background-color: #f7f7f7;
	padding-top: 0.5em;
}

.ListerListPanel {
	
}

.ListerListPanel .DataTable {
	border-left: 1px solid;
	border-right: 1px solid;
	border-left-color: #c2c2c2;
	border-right-color: #c2c2c2;
}

.DataTableHeader {
	background-color: #c2c2c2;
	color: #ffffff;
	font-weight: bold;
	cursor: pointer;
}

.DataTableColumnSelector {
	background-color: #a3a3a3;
	color: #f0f0f0;
	font-weight: bold;
}

.DataTableColumnSelector a:link,.DataTableColumnSelector a:visited,.DataTableColumnSelector a:active {
	color: #f0f0f0;
}

.DataTableColumnSelector:hover {
	background-color: #858585;
	color: #f0f0f0;
}

.DataTableColumnMenu {
	background-color: #f0f0f0;
	color: #757575;
	border: 1px solid;
	border-color: #757575;
	padding: 5px 7px;
}

.DataTableRow {
	cursor: pointer;
}

.DataTableRow-even {
	background-color: #f7f7f7;
}

.DataTableRow-odd {
	background-color: white;
}

.DataTableRow-nodetails {
	cursor: default;
}

.DataTableRow-selected {
	background-color: #c2b693;
	color: #ffffff;
}

.DataTableActionsBar {
	border: 1px solid;
	border-color: #d1d1d1;
	padding-top: 6px;
	background-color: #f7f7f7;
}

.DataTableActionsBar .Button {
	vertical-align: middle;
	border-color: #c2c2c2;
	color: #757575;
	height: 20px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#e0e0e0' );
	background: -moz-linear-gradient(top, #ffffff, #e0e0e0);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#e0e0e0) );
}

.DataTableActionsBar .ButtonText {
	line-height: 22px;
}

.DataTableActionsBar .Button-hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0',
		endColorstr='#ffffff' );
	background: -moz-linear-gradient(top, #e0e0e0, #ffffff);
	background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0),
		to(#ffffff) );
}

.DataTableActionsBar .Button-disabled {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0',
		endColorstr='#e0e0e0' );
	background: -moz-linear-gradient(top, #e0e0e0, #e0e0e0);
	background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0),
		to(#e0e0e0) );
}

.DataTableActionsBarContent {
	display: inline-block;
	width: 100%;
}

.DataTableToolBar {
	float: left;
}

.DataTablePageNavigBar {
	float: right;
}

.DataTablePageNavigBar .Anchor {
	color: #757575;
}

.DataTablePageNavigBar .Anchor-disabled {
	color: #b3b3b3;
	cursor: default;
}

.DataTableFilter {
	background-color: #f0ece1;
	width: 100%;
}

.DataTableFilterHeader,.DataTableFilterFooter {
	background-color: #e1dac5;
	width: 100%;
}

.DataTableFilterFooter {
	padding: 6px 0;
}

.DataTableFilterMain {
	padding: 6px;
}

.DataTableFilterItem td {
	padding: 2px 0px 2px 6px;
}

.TextBox-disabled {
	background-color: #f0f0f0;
	color: #a3a3a3;
}

.TextBox-readonly {
	border-width: 1px;
	border-style: solid;
	border-color: #f0f0f0;
	background-color: #ffffff;
}

.ListBox-readonly {
	border-width: 1px;
	border-style: solid;
	border-color: #f0f0f0;
	background-color: #ffffff;
}

.ListBox-disabled {
	background-color: #d1d1d1;
}

.TriggerPannel .Button {
	background: transparent;
	border: none;
	padding: 0;
	height: 19px;
	margin-left: 0 !important;
}

.TriggerPannel .Button:hover {
    background: none !important;
    border: none !important;
}

.TriggerPannel .TextBox {
    width: 6em !important;
}

.ValidationLabel {
    color: red;
    padding-top: 3px;
    text-align: left;
    white-space: normal;
}

.NoteLabel {
    font-style: italic;
    font-weight: normal;
    padding-top: 3px;
    text-align: left;
    white-space: normal;
}

.NoteLabel-info {
	color: #949494;
}

.NoteLabel-warning {
	color: #b3a57d;
}

.PaymentEditor {
	
}

.PaymentEditorButtons {
	width: 100px;
}

.PaymentEditorButtons .RadioGroupItem {
	width: 100%;
	padding-top: 3px;
	height: 30px;
	white-space: nowrap;
}

.PaymentEditorButtons.RadioGroupItem-pushed {
	width: 100px;
}

.PaymentEditorForm {
	border: solid 1px #666;
	margin: 1em;
	width: 45em;
}

.PaymentEditorImages {
	width: 70px;
}

.PaymentEditorImages div {
	height: 30px;
}

.PaymentEditorImages div img {
	padding-left: 10px;
	height: 30px;
}

.PaymentEditorLegalTerms {
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
	font-weight: normal;
	background-color: white;
	color: black;
	padding-left: 0.5em;
	padding-right: 0.5em;
	height: 20em;
}

.Dialog .PaymentEditorLegalTerms {
    border:none !important;
    width: 60em !important;
    overflow: auto !important;
}

.Dialog .PaymentEditorLegalTerms .PaymentEditorLegalTermsContent {
    overflow: hidden !important;
}

.Dialog .PaymentEditorLegalTerms .PaymentEditorLegalTermsHeader {
    font-size: 1.5em;
    padding: 0.5em 0;
}

.Dialog .PaymentEditorLegalTerms .gwt-HTML {
    text-align: justify;
}

.EntityFolder {
	width: 100%;
}

.EntityFolder-readOnly {
	font-weight: bold;
	color: #666666;
}

.EntityFolder img {
	display: block;
}

.EntityFolderBoxItem .EntityFolder {
	width: 100%;
}

.EntityFolderBoxItem {
	padding: 6px;
}

.EntityFolderRowItemDecorator {
	margin: 6px;
	height: 35px;
	border-bottom: dotted 1px;
	border-bottom-color: #949494;
}

.EntityFolderActionsBar {
	opacity: 0.2;
}

.EntityFolderActionsBar-hover {
	opacity: 1;
}

.EntityFolderAddButton .ButtonText {
	display: inline-block;
	margin: 6px;
	color: #c2b693;
	font-weight: normal;
	font-style: italic;
	cursor: pointer;
	text-shadow: none;
    text-transform: none;
}

.EntityFolderUpButton, .EntityFolderRowItemDecorator .EntityFolderRemoveButton, .EntityFolderCustomButton, .EntityFolderRowItemDecorator .EntityFolderCustomButton {
	float: left;
}

.EntityFolderDownButton, .EntityFolderRemoveButton {
	float: right;
}

.EntityFolderTableHeader {
	border-bottom: 1px dotted;
	border-bottom-color: #666666;
}

.EntityFolderTableHeader .gwt-HTML {
	white-space: nowrap;
}

.EntityFolderTableHeaderLabel {
	font-weight: bold;
	margin-left: 3px;
	margin-right: 3px;
}

.EntityFolder-readOnly .EntityFolderTableHeaderLabel {
	color: #b3b3b3;
}

.EntityFolderTableHeader {
	width: 100%;
	background-color: #f0f0f0;
	line-height: 35px;
	color: #949494;
	border: none;
}

.TenantDashboard {
	width: 100%;
	height: 100%;
}

.TenantDashboardLeft {
	height: 100%;
}

.TenantDashboardLeft>div {
	min-height: 35em;
	border-right: solid 1px;
	border-right-color: #c2c2c2;
	height: 100%;
}

.TenantDashboardRight {
	height: 100%;
}

.TenantDashboardTableHeader {
	background-color: #f0f0f0;
	line-height: 2.5em;
}

.TenantDashboardTableRow {
	height: 3.5em;
	border-bottom: dotted 1px;
	border-bottom-color: #949494;
}

.TenantDashboardTableRow:last-child {
	border-bottom: none;
}

.TenantDashboardTableRow td {
	white-space: nowrap;
	max-width: 350px;
	
}

.TenantDashboardTableRow td+td {
	white-space: normal;
}

.TenantDashboardSection {
	height: 12em;
	padding: 0.5em;
}

.Dialog {
	background: none repeat scroll 0 0 #AAAAAA;
}

.DialogCaption {
	background: #e2e0e0;
	filter: alpha(opacity = 95);
	opacity: 0.95;
	color: #626057;
	font-weight: bold;
}

.DialogResizer {
	background: #AAAAAA;
	filter: alpha(opacity = 95);
	opacity: 0.95;
}

.DialogContent {
	background-color: #ffffff;
	width: 100%;
	height: 178px !important;
	padding: 10px;
}

.cellListEvenItem {
	background-color: #f7f7f7;
	color: #757575;
}

.cellListOddItem {
	background-color: white;
	color: #757575;
}

.cellListSelectedItem {
	background-color: #c2b693;
	color: #ffffff;
}

.EntityFolderRowItemDecorator .pyx4j_CheckBox {
	margin-left: 45%;
}

.pyx4j_GroupBox {
	padding: 5px;
	margin: 3px;
}

.pyx4j_GroupBox-expanded {
	border: 1px solid;
	border-color: #d9d1b8;
}

.pyx4j_GroupBox-collapsed {
	border: none;
	border-top: 1px solid;
	border-color: #d9d1b8;
}

.pyx4j_GroupBox_Caption {
	padding: 5px 2px 2px 2px;
	verticalAlign: top;
	color: #d9d1b8;
}

.PropertyCardCardImage {
	border-color: #cccccc !important;
	border: solid 1px;
}

.PropertyCardCardImage img {
	max-width: 100% !important;
	width: 100% !important;
	height: 100% !important;
	-moz-background-size: 100% 100% !important;
	-webkit-background-size: 100% 100% !important;
	-khtml-background-size: 100% 100% !important;
	background-size: 100% 100% !important;
}

.PropertyCardCardContent {
	font-size: 12px;
}

.PropertyCardCardContentItem {
	border-bottom: 1px solid;
	border-color: #e1dac5;
	margin-bottom: 5px;
}

.PropertyCardCardLeft {
	font-size: 12px;
}

.PropertyCardCardLeftItem {
	font-weight: bold;
	margin-bottom: 5px;
}

.PropertyCardCardMenuItem {
	text-decoration: none;
	color: #b7a982;
}

.PropertyCardCardMenuItem:hover {
	text-decoration: underline;
	color: #b7a982;
}

.gwt-SuggestBoxPopup {
	background-color: white;
	padding: 2px;
	border-color: #a3a3a3;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	cursor: hand;
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: #d1d1d1;
}

.BillingLineItemAmount {
	color: #666666;
	font-style: normal;
	text-align: right;
}

.BillingDetailItem {
	color: #B3B3B3;
	font-style: italic;
	text-align: left;
}

.BillingDetailItemDate {
	padding-right: 1em;
	text-align: center;
}

.BillingDetailItemAmount {
	color: #666666;
	text-align: right;
}

.BillingDetailTotal {
	color: #B3B3B3;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}

.BillingDetailTotalAmount {
	color: #666666;
	border-top: 1px solid black;
	padding-top: 4px;
	font-style: normal;
	text-align: right;
}

.BillingBillTotal .WidgetDecoratorLabel {
	color: #666;
	font-size: 13px;
}

.BillingBillTotal .WidgetDecoratorComponent {
	color: #666;
	font-size: 13px;
	border-top: 2px solid #bbb;
	padding-top: 4px;
}

.LandingViewPanel .WidgetDecoratorLabelHolder {
	padding: 0px;
	margin: 0px;
}

.LandingViewPanel {
	position: relative;
}

.LandingCaption {
	margin: 1.5em 0;
	width: 100%;
}

.LandingCaptionTextEmph {
	font-weight: bold;
}

div.LandingButtonHolder, div.gwt-Label {
	text-align: center !important;
}

.LandingOrLineSeparator {
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 50%;
}

.LandingGreetingPanel {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

.LandingGreetingText {
	display: inline-block;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

.LandingButtonHolder {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.LandingViewSectionHeader {
	width: 50%;
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
}

.LandingViewSectionContent {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}

.LandingViewSectionFooter {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.LandingInputField {
	width: 20em;
	margin-left: auto;
	margin-right: auto;
}

.LandingTermsAndConditionsBox {
	margin: 1.5em;
}

.TenantInsuranceWarningText {
	color: #AA0000;
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	padding-top: 0.5em;
}

.TenantInsuranceAnchor {
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 1em;
}

.-vista-TenantSureStatusViewerTenantSureLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ProvideTIRequirements {
	width: 53em;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 30px;
}

.ProvideTITenantSureLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 2em;
}

.ProvideTIBGetTenantSure {
	margin-left: 20px !important;
}

.ProvideTIUpdateExisitingInsurance {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	padding-top: 0.5em;
}

.TSPurchaseViewSection {
	margin-right: 20px;
	margin-left: 20px;
}

.TSPucrhaseViewMessageText {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.FormFlexPanel tr td > div.gwt-HTML.TSPucrhaseViewMessageText {
	color: #652c02 !important;
	background-color: #edd3ae !important;
	border: 1px solid #db5f03;
	border-radius: 5px 5px 5px 5px;
	padding: 1px 7px;
	margin-top: 3px;
	width: 12em;
	white-space: nowrap !important;
}

.TSPurchaseViewNextStepButton {
	float: right;
	margin-right: 20px;
}

.TSPurchaseViewCancelButton {
	float: right;
}

.TenantSurePrivacyPolicySection {
	margin-bottom: 20px;
}

.TenantSureFaqQnA {
	margin-bottom: 20px;
}

.TenantSureFaqQ {
	font-weight: bold;
}

.TenantSureFaqA {
	text-align: justify;
}

.TenantSureAboutContactInfo {
	marign-left: auto;
	marign-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	text-align: center;
}

#siteAuthInsert {
	float: right;
	margin: 10px;
}

#siteAuthInsert .greeting {
	color: ${object1_20};
font-weight:bold;
padding-right:10px;
}

.navigation {
	height: 60px;
	position: absolute;
	top: 68%;
	width: 100%;
	/*background: ${object1_100}*/
}

.navigation ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.navigation ul li {
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin: 0 4px;
}

.navigation ul li span {
	font-size: 12px;
	border-top: 1px solid #000;
	border-collapse: collapse;
	color: #000;
	display: block;
	padding: 10px 20px;
	text-align: left;
	text-decoration: none;
	width: 120px;
	white-space: nowrap;
}

.navigation ul li span:hover {
	border-top: 4px solid #000;
	padding-top: 7px;
	cursor: pointer;
}

.navigation .active span {
	border-top: 4px solid #000;
	padding-top: 7px;
}

.navigation a {
	color: ${object1_10};
	text-decoration:none;
	float:left;
}

.navigation a:hover {
	color: ${contrast1_100};
}

/*
 * Footer
 */
#footer {
	position: relative;
	z-index: 10;
}

#footer .main {
	height: 100%;
	border-top: 1px solid #000000;
}

.footer_wrap {
	padding: 0px 20px;
	*padding-top: 10px;
}

ul.footer_locations {
	width: 100%;
	display: inline-block;
	zoom: 1;
	*display: inline;
	*margin-left: 0;
	list-style-type: none;
	padding: 0;
	vertical-align: top;
}

ul.footer_locations label {
	display: block;
	text-transform: uppercase;
	padding-bottom: 10px;
	color: #000000;
	width: 300px;
}

ul.footer_locations li {
	float: left;
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 192px;
	font-weight: bold;
	text-align: left;
}

.footer_locations a {
	color: #000000;
}

.footer_locations a:hover {
	color: ${object1_20};
}

.footer_links {
	text-align: center;
	padding-top: 20px;
}

.footer_link:first-child {
	border-left: 0;
}

.footer_link {
	padding: 0 10px;
	border-left: 1px solid #000000;
	_position: relative;
	display: inline-block;
	_top: 200px;
}

.footer_link a {
	color: #000000;
}

.footer_link a:hover {
	color: ${object1_20};
}

.locale {
	margin-top: 40px;
	text-align: center;
	white-space: nowrap;
}

.langItem {
	margin-left: 20px;
	padding: 0 3px;
}

.langItem:first-child {
	margin-left: 0;
}

.langItem a {
	color: #000000;
}

.footer_copyright {
	text-align: center;
	line-height: 60px;
	color: #000000;
}

.footer_social {
	display: inline-block;
	width: 140px;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: 10px;
}

.footer_social span {
	padding: 0;
	margin: 0;
}

.footer_social label {
	display: block;
	text-transform: uppercase;
	padding-bottom: 10px;
	color: #000000;
}

.iconSocial {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url("images/social4.png") no-repeat;
}

.iconSocial.Twitter {
	background-position: 0 0;
}

.iconSocial.Facebook {
	background-position: -32px 0;
}

.iconSocial.Youtube {
	background-position: -64px 0;
}

.iconSocial.Flickr {
	background-position: -96px 0;
}

.legal_poweredby {
	text-align: center;
	line-height: 20px;
	color: #000000;
}

.powered_logo {
	background: url("images/vista.png") no-repeat;
	display: inline-block;
	width: 100px;
	height: 20px;
	vertical-align: middle;
}

/*
 * Content
 */
.caption2 {
	border-top: 1px solid black;
	height: 30px;
	padding: 5px 0;
}

.vista-pmsite-main .caption2 h1 {
	float: left;
}

.vista-pmsite-main .caption2 .rightControl {
	height: 25px;
	margin: 5px 0;
	float: right;
	color: ${object2_30};
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
}
.vista-pmsite-main .caption2 .rightControl:hover {
	color: ${object2_10};
}

.vista-pmsite-content {
	min-height: 500px;
}

.vista-pmsite-mainWrap {
	width: 100%;
	overflow: hidden;
}

.caption {
	overflow: hidden;
}

.secondaryNavig {
	width: 14em;
	float: left;
	min-height: 30em;
	margin-right: 1.5em;
}

.secondaryNavig ul li {
	height: 2em;
	overflow: hidden;
	width: 100%;
}

.secondaryNavig ul li:hover {
	outline: medium none;
	text-decoration: none;
	text-decoration: underline;
}

.vista-pmsite-main .content {
	min-height: 15em;
	line-height: 1.5em;
	overflow: hidden !important;
}

.SiteViewAction .Anchor {
	white-space: nowrap;
}

.TenantSureTermsLink {
    text-align: center;
}

.GlassPanelLabel { 
	color: #652c02 !important;
	background-color: #edd3ae !important;
	border: 1px solid #db5f03;
	border-radius: 5px 5px 5px 5px;
	padding: 1px 7px;
	margin-top: 3px;
	top: 0 !important;
}

.LoginImageDecoration {
    text-align: left;
}

.LoginImageDecorationLabel {
    display: inline;
    margin-left: 20px;
    vertical-align: 100%;
}


.SignUpGreetingRow1 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}


.SignUpGreetingRow2 {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.TenantSureManagementContentPanel {
    height: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
}


.TenantSureManagementStatusDetailsPanel {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
}


.TenantSureManagementActionsPanel {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 35%;
}


.TenantSureManagementActionsPanel .Anchor {
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    font-size: 110%;
}

.TenantSureManagementActionsPanel .Anchor-disabled {
	color: #666666 !important;
    text-decoration: none;
    cursor: default;
	font-size: 110%;
}

.TenantDashboardSection td {
    vertical-align: middle !important;
}

.TSSendDocs {
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
}

.WizardPanel {
    min-height: 25em;
}

.warningMessage {
	color: #C03A47 !important;
}