.vista-pmsite-aptListPage .vista-pmsite-content  {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
	color: #fff;
}
.vista-pmsite-aptListPage .vista-pmsite-sidebar {
	width: 280px;
	float: left;
	position: relative;
	top: 20px;
	background: #2F292A;
	border-top: 3px solid #1F1B1C;
}

.vista-pmsite-aptListPage .vista-pmsite-main {
	margin-left: 300px;
	position: relative;
	top: -22px;
}

.vista-pmsite-aptListPage .advancedSearchCriteria {
    padding: 20px 0;
}

.vista-pmsite-aptListPage .secondaryNavig {
	/*color: ${object2_100};*/
	border-top-color: #484243;
	border-top-style: solid;
	border-top-width: 1px;
}
.vista-pmsite-aptListPage .secondaryNavig h3 {
	width:190px;
	position: relative;
	top: -20px;
	font-size:15pt;
	padding: 0 5px 5px 0;
	height:30px;
	font-weight: normal;
	text-transform: uppercase;
	background: #2F292A;
}

.advancedSearchNarrowWrap {
	background: #FA8D0C;
}
.advancedSearchNarrowWrap input[type=submit] {
    margin-top: 30px;
}

.advancedSearchNarrowWrap label {
	display: block;
	padding: 4px 0;
	white-space: nowrap;
}

.advancedSearchNarrowWrap .inputBlockFrame {
	margin-top: 20px;
}

.advancedSearchNarrowWrap .searchTypeSelBox {
	height:40px;
	*margin-left: 30px;
}
.advancedSearchNarrowWrap .searchTypeSelButton {
	float: left;
	width: 90px;
	font-size: 14px;
	background-color: #FF9900;
	padding: 3px 0;
	text-align: center;
	margin-left: 30px;
	box-shadow: inset rgba(255,255,255,0.3) 2px 2px 2px 1px;
}
.advancedSearchNarrowWrap .searchTypeSelButton label {
	/*color:${foreground_100};*/
	color: #000000;
}

.advancedSearchNarrowWrap .searchTypeSelButton:first-child {
//	margin-left: 0px;
}

.advancedSearchNarrowWrap .searchTypeSelButton .spacer_by {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeSelButton label {
	display: inline-block;
}

.advancedSearchNarrowWrap .searchTypeSelButton input[type=radio] {
	display: none;
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActiveHover {
	background-color:${object1_100};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActiveHover label {
	color:${object1_20};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActive {
	background-color:${object1_100};
	box-shadow: inset rgba(255,255,255,0.3) 2px 2px 2px 1px;
	
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActive label {
	color:${object2_10};
}
.advancedSearchNarrowWrap .searchTypeBox {
	height:100px;
	padding-left: 30px;
}

.advancedSearchNarrowWrap .searchTypeBox select {
	color: #999999;
	width: 210px;
	margin: 1px;
	border-top: 4px solid #7F7F7F;
	border-left: 4px solid #7F7F7F;
}
.advancedSearchNarrowWrap .searchTypeBox input[type=text] {
	color:${background_100};
	width: 205px;
	margin: 1px;
	outline: 1px solid #EC8E21;
	border-top: 4px solid #7F7F7F;
	border-left: 3px solid #7F7F7F;
}

.advancedSearchNarrowWrap .errorPanel {
	padding:2px;
	padding-left:15px;
	margin:0;
	margin-top:10px;
	color:red;
	background:white;
	display:inline-block;
}

.advancedSearchNarrowWrap .searchCommonBox {
	padding-left: 30px;
}

.advancedSearchNarrowWrap .searchCommonBox select {
	width: 92px;
	margin: 1px;
	border-top: 4px solid #7F7F7F;
	border-left: 4px solid #7F7F7F;
    color: #999999;
}

.advancedSearchNarrowWrap .searchCommonBox input[type=text] {
	color:${background_100};
	width: 85px;
	margin: 1px;
	border-top: 4px solid #7F7F7F;
	border-left: 4px solid #7F7F7F;
	outline: 1px solid #ec8e21;
}
.advancedSearchNarrowWrap .searchCommonBox .searchField .inputJoinBox {
	display:inline-block;
	width:26px;
	text-align:center;
}
.advancedSearchNarrowWrap .searchAmenityBox {
	border-top: 3px solid #1F1B1C;
	padding-top: 10px;
	margin-left: 30px;
	margin-bottom: 10px;
	width:210px;
}

.advancedSearchNarrowWrap .searchAmenityBox .searchField>label {
	position: relative;
	top: -11px;
	display: block;
	width: 100%;
	border-top: 1px solid #FFD467;
	padding-top: 20px;
	-webkit-padding-start: -1px;
}

.advancedSearchNarrowWrap .searchAmenityBox br {
	display: none;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList {
	display: block;
	width: 190px;
	position: relative;
	left: -4px;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList label {
	display: inline-block;
	width: 70px;
	*width: 75px;
}
.advancedSearchNarrowWrap .searchAmenityBox .amenityList label:lang(fr) {
	white-space: nowrap;
}

.vista-pmsite-aptListPage .apartmentListingWrap {
	width:100%;
	overflow: hidden;
	border-top: 3px solid #1F1B1C;
}
.vista-pmsite-aptListPage .apartmentListingWrap .listing_listview {
	min-height:600px;
}

#aptListModeSwitch {
	background-image: url("images/map_gold.png");
	background-repeat: no-repeat;
	background-color: #302a2c;
	background-position: 25% top;
	position: relative;
	z-index: 1;
	top: 18px;
	width:auto;
	height:25px;
	padding-top:7px;
	padding-left:50px;
	padding-right: 0px;
	margin-top:0px;
	float:right;
	/*color:${object2_30};*/
	color: #D7AC3F;
	font-weight:normal;
	font-size: 12pt;
	text-transform:uppercase;
	cursor:pointer;
}
.aptListModeSwitch:hover {
	background-image: url("images/aptListIcons-hlight.png");
	color:${object2_10};
}
.aptListMode_map {
	background-position:0px 0px;
}
.aptListMode_list {
	background-position:0px -60px;
}
.vista-pmsite-aptListPage .apartmentListingWrap .listing_mapview {
	width:744px;
	height:650px;
	padding-top: 20px;
	border-top: 1px solid #484243;
}
.apartmentListingWrap .listingEntry {
	padding:20px 0;
	border-top: 1px solid #484243;
	border-bottom: 3px solid #1F1B1C;
	*float: left;
	zoom: 1;
	*display: inline;
}
.apartmentListingWrap .listingEntry:hover {
	background-color:#745f34;
}
.apartmentListingWrap .listingEntry:first-child {
}
.apartmentListingWrap .listingEntry .pictureBox {
	display: inline-block;
	vertical-align: top;
	width:150px;
	min-height:75px;
	text-align:center;
	zoom: 1;
	*display: inline;
	*float:left;
	border: 2px solid #D7AC3F;
	padding: 10px 5px 5px;
} 
.apartmentListingWrap .listingEntry .pictureBox .picture {
	width:140px;
}
.apartmentListingWrap .listingEntry .infoBox {
	display: inline-block;
	vertical-align: top;
	width:400px;
	*width:auto;
	zoom: 1;
	*display: inline;
	*float:left;
} 
.apartmentListingWrap .listingEntry .infoBoxEntry {
	padding:4px 0;
} 
.apartmentListingWrap .listingEntry .infoBoxEntry .infoBoxCaption {
	display: inline-block;
	*display: inline;
	*float:left;
	vertical-align: top;
	width:75px;
	text-align:right;
	padding-right:8px;
	font-weight:normal;
	color: #D7AC3F;
	text-transform: uppercase;
}
.apartmentListingWrap .listingEntry .infoBoxEntry .infoBoxText {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	width:300px;
	font-weight:bold;
}
.apartmentListingWrap .listingEntry .infoBoxEntry .infoBoxText .typeInfo {
	font-weight:normal;
}
.apartmentListingWrap .listingEntry .infoBox .description .infoBoxText {
	font-weight:normal;
}
.apartmentListingWrap .listingEntry .infoBox ul.infoBoxText {
	margin:0;
	padding:0;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.apartmentListingWrap .listingEntry .infoBox .types li {
	list-style:none;
}
.apartmentListingWrap .listingEntry .infoBox .amenities li {
	float: left;
	margin: 0 10px;
}

.apartmentListingWrap .listingEntry .infoBox .amenities li:first-child {
	list-style: none;
	margin-left: 0;
	*margin-left: 0;
}
.apartmentListingWrap .listingEntry:hover .infoBoxEntry .infoBoxText {
	color:#1F1B1C;
}

.apartmentListingWrap .listingEntry:hover .pictureBox {
	border-color: #1F1B1C;
}
.apartmentListingWrap .listingEntry:hover .controlButton{
	border-bottom-color: #1F1B1C;
}

.apartmentListingWrap .listingEntry .controlBox {
	position:relative;
	display: inline-block;
	vertical-align: top;
	width:80px;
	float: right;
	zoom: 1;
	*display: inline;
	*clear: both;
} 
.apartmentListingWrap .listingEntry .controlButton {
	width: 80px;
	float:right;
	padding:6px 0;
	border-bottom: 1px solid #d7ac3f;
}
.apartmentListingWrap .notFoundNote {
	font-size:18px;
	color:${foreground_50};
	padding:40px 20px;
}
.listingCtlButton {
	background-image: url("images/map_gold.png");
	background-repeat: no-repeat;
	background-size: 18px auto;
	display:block;
	width:70px;
	height:25px;
	margin-top: 4px;
	padding-top:5px;
	padding-left:30px;
	font-weight:normal;
	font-size: 12pt;
	cursor:pointer;
	color:${foreground_50};
}
a.listingCtlButton {
	color:#d7ac3f;
	text-decoration:none;
}
.apartmentListingWrap .listingEntry:hover .listingCtlButton {
	background-image: url("images/map_bl.png");
	color: #1F1B1C;
	/*color:${foreground_80} !important;*/
}
.apartmentListingWrap .listingEntry:hover .listingCtlButton.btnViewDetails {
	background-image: url("images/aptListIcons_bl.png");
}

.btnShowOnMap {
	background-position:0px 0px;
}
.btnViewDetails {
	background-image: url("images/aptListIcons_gold.png");
	background-position:left center;
}
/*
 * Map style
 */
.PropertyCardCardContentItem {
	font-size:12px;
	padding-bottom:8px;
	margin-bottom:4px;
	border-bottom:1px solid ${foreground_20};
}
.PropertyCardCardContentItem.address {
	color: ${object1_60};
	font-weight:bold;
}
.PropertyCardCardContentItem.types {
	color: ${foreground_100};
}
.PropertyCardCardContentItem.amenities {
	color: ${foreground_100};
}
.PropertyCardCardLeftLabel {
	font-size:12px;
	white-space:nowrap;
	color: ${foreground_100};
}
.PropertyCardCardLeftItem.price {
	color: ${object1_60};
	font-weight:bold;
}

input[type=checkbox] {
  position: relative;
  outline: 1px solid #ed8f21;
  *border-top: 4px solid #7F7F7F;
  *border-top-color: rgb(127,127,127);
  *border-left: 3px solid #7F7F7F;
  display: inline-block;
  *display:inline;
  z-index: 1;
  padding: 0;
  width: 1.3em;
  height: 1.3em;
  vertical-align: text-top;
  background: -webkit-linear-gradient(
    top, rgba(255,255,255,0.7), rgba(255,255,255,0.96)
  );
  -webkit-appearance: none;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.1),
                      inset 0 0 1px rgba(255,255,255, 0.4);
  -webkit-border-radius: 0px;
}

input[type=checkbox]:active {
  background: -webkit-linear-gradient(
    top, rgba(255,255,255,0.05), rgba(255,255,255,0.2)
  );
}

input[type=checkbox]:checked::after {
	position: absolute;
	content: '';
	left: 15%;
	top: -10%;
	height: 40%;
	width: 90%;
	border-bottom: 2px solid #1F1B1C;
	border-left: 2px solid #1F1B1C;
	-webkit-box-shadow: -1px 1px 0 rgba(0,0,0,0.8);
	-webkit-transform: rotate(-45deg);
	}