.vista-pmsite-content  {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
	color: #fff;
}

.vista-pmsite-cityPage .vista-pmsite-sidebar {
	width: 280px;
	float: left;
	border-top: 4px solid #1f1b1c;
	position: relative;
	top: 11px;
}

.vista-pmsite-cityPage .vista-pmsite-main {
	margin-left: 300px;
    position: relative;
    top: -30px;
}

.vista-pmsite-cityPage .secondaryNavig {
	color:#FFFFFF;
	border-top: 1px solid #484243;
}
.vista-pmsite-cityPage .secondaryNavig h3 {
	width:190px;
	background-color: #2F292A;
	padding: 0 5px 5px 0;
    position: relative;
    top: -20px;
	text-align:left;
	text-transform: uppercase;
	font-size:19px;
	font-weight:normal;
	height: 30px;
}
.advancedSearchNarrowWrap {
	width: 280px;
	height: 575px;
	position: relative;
    top: -21px;
    padding-top: 1px;
	background-color: #FA8D0C;
}

.advancedSearchNarrowWrap label {
	display: block;
	padding: 4px 0;
	white-space: nowrap;
	color:#FFFFFF;
}

.advancedSearchNarrowWrap .inputBlockFrame {
	width: auto;
	margin-top: 20px;
}

.advancedSearchNarrowWrap .searchTypeSelBox {
	height:40px;
	margin-top: 20px;
}
.advancedSearchNarrowWrap .searchTypeSelButton {
	background-color: #FF9900;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.3) inset;
	float: left;
	width: 90px;
	font-size: 14px;
	letter-spacing: 0px;
	margin-left: 30px;
	padding: 3px 0;
	text-align: center;
}
.advancedSearchNarrowWrap .searchTypeSelButton label {
	/*color:${foreground_100};*/
	color: #000000;
}

.advancedSearchNarrowWrap .searchTypeSelButton .spacer_by {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeSelButton label {
	display: inline-block;
}

.advancedSearchNarrowWrap .searchTypeSelButton input[type=radio] {
	display: none;
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActiveHover {
	background-color:${object1_100};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActiveHover label {
	color:${object1_20};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActive {
	background-color:${object1_100};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActive label {
	color:${object2_10};
}
.advancedSearchNarrowWrap .searchTypeBox {
	height:100px;
	margin-left: 30px;
}

.advancedSearchNarrowWrap .searchTypeBox select {
	color:#999999;
	width: 209px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchTypeBox input[type=text] {
	color:${background_100};
	width: 203px;
	margin: 1px;
	outline: 1px solid #EC8E21;
}

.advancedSearchNarrowWrap .errorPanel {
	padding:2px;
	padding-left:15px;
	margin:0;
	margin-top:10px;
	color:red;
	background:white;
	display:inline-block;
}

.advancedSearchNarrowWrap .searchCommonBox {
	margin-left: 30px;
}

.advancedSearchNarrowWrap .searchCommonBox select {
	color:#999999;
	width: 93px;
	margin: 1px;
}

.advancedSearchNarrowWrap .searchCommonBox input[type=text] {
	color:${background_100};
	width: 87px;
	*width:91px;
	margin: 1px;
	border-left: 4px solid #7F7F7F;
    border-top: 4px solid #7F7F7F;
    outline: 1px solid #EC8E21;
}
.advancedSearchNarrowWrap .searchCommonBox .searchField .inputJoinBox {
	display:inline-block;
	width:22px;
	text-align:center;
}
.advancedSearchNarrowWrap .searchAmenityBox {
	width: 212px;
	border-top: 3px solid #1f1b1c;
	padding-top: 10px;
	margin-bottom: 30px;
	margin-left: 30px;
}

.advancedSearchNarrowWrap .searchAmenityBox .searchField>label {
	display: block;
	width: 100%;
	border-top: 1px solid #FFD467;
	padding-top: 20px;
    position: relative;
    top: -11px;
}

.advancedSearchNarrowWrap .searchAmenityBox br {
	display: none;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList {
	display: block;
	width: 190px;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList label {
	display: inline-block;
	width: 70px;
	color:#FFFFFF;
}

.vista-pmsite-cityPage .cityPageWrap {
	line-height:1.6em;
	min-height: 400px;
	color: #b4afb0;
	overflow: hidden;
	padding: 20px 0;
	*padding-top: 26px;
	border-top: 4px solid #1f1b1c;
}
.vista-pmsite-cityPage .cityPageWrap .cityProperties h3 {
	font-family: monospace;
    font-size: 14pt;
    line-height: 20px;
    color: #d7ac3f;
    border-top: 1px solid #484243;
    padding-top: 30px;
    margin-top: -20px;
    *margin-top: -26px;
}
.vista-pmsite-cityPage .cityPageWrap .propertyLink {
	color:  #b4afb0;
}
.vista-pmsite-cityPage .cityPageWrap .propertyLink:hover {
	color: ${object1_20};
}