.vista-pmsite-inquiryFormPage .vista-pmsite-content  {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	margin: 0 auto 20px;
}

.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar {
	float: left;
	width: 280px;
	vertical-align: top;
	padding: 20px;
	margin: 30px 0;
	background-color:#000000;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-main {
	margin-left: 340px;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-main .caption2 {
	border-bottom: 3px solid #1F1B1C;
}
.vista-pmsite-inquiryFormPage .inquiryFormWrap {
	min-height: 550px;
	border-top: 1px solid #484243;
	padding-top:20px;
}

.gallery {
    position: relative;
}
