.vista-pmsite-contentWrap {
	background: url("images/content_bg.png") repeat-x scroll 0 0 #2F292A;
}

.vista-pmsite-content {
    margin: 0 auto;
    padding: 0 19px;
    width: 960px;
}

.infobox_header {
	height: 30px;
	padding: 5px 0;
	border-bottom: 3px solid #1F1B1C;
}

.infobox_body {
	overflow:hidden;
	border-top: 1px solid #484243;
}

.infobox_body .selectField{
    padding-bottom: 15px;
    position:relative;
	z-index: 10;
}

.wideGadgetBox {
	overflow:hidden;
	width: 100%;
}

.banner {
	vertical-align:top;
	font-size:13px;
}

.banner_img {
	background: url("images/banner.jpg") no-repeat center;
    height: 375px;
	padding: 10px 0;
}

.banner .infobox_header {
	height: 30px;
	padding: 5px 0;
}

.narrowGadgetBox {
	background-color: #FA8D0C;
	background: -moz-linear-gradient(left top, #b55508, #FA8D0C);
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(100%,#b55508), color-stop(100%,#FA8D0C));
    background: -webkit-linear-gradient(top, #b55508, #FA8D0C);
    background: -o-linear-gradient(top, #b55508, #FA8D0C);
    background: -ms-linear-gradient(top, #b55508, #FA8D0C);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b55508', endColorstr='#FA8D0C');/*For IE7-8-9*/ 
    background: linear-gradient(top, #b55508, #FA8D0C);
}

#narrowSpacer {
	height: 347px;
	width:280px;
	position: absolute;
	z-index: 0;
}

.quickSearch .infobox_body {
    margin-bottom: 20px;
    padding: 18px 20px;
}

.quickSearch h3 {
	color: #555555;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

.quickSearch label {
	color: #fff;
	font-weight: bold;
	display: block;
	font-size: 13px;
	white-space: nowrap;	
}

.quickSearch select {
	width: 240px;
	margin-bottom: 15px;
	margin: 0 0 6px 0;
}

.quickSearch input[type=submit] {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color:#fff;
	cursor: pointer;
	padding: 10px;
	font-size: 13px;
}

.quickSearch .submit {
	float: right;
	overflow: hidden;
}

.wideGadgetBox.quickSearch .selectField {
	display:inline-block;
}

.vista-pmsite-mainWrap {
	display:inline-block;
	font-size:13px;
	width: 100%;
}

.vista-pmsite-sidebarWrap {
	position: relative;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.vista-pmsite-sidebar {
	float: left;
	width:280px;
}

.vista-pmsite-main {
	width: 660px;
	float: right;
	position: relative;
	display:inline-block;
}

.testimBox {
	float: left;
	overflow:hidden;
	width: 100%;
	margin-bottom: 20px;
}

.testimBox .infobox_body {
	padding-top: 15px;
}

.testimBox .callout {
	display: none;
}

.testimBox .infobox_content {
    font-size: 12pt;	
    color: #E8E8E8;
}

.infobox_decor {
	margin: 1.5em 0;
}

.testimBox .name {
	text-align: right;
}

.newsBox .date {
	color: #828282;
	font-size: 12px;
	margin: 12px 0 4px 0;
}

.newsBox .headline {
	color: #E8E8E8;
	font-family: monospace;
	font-weight: bold;
	text-transform: uppercase;
    font-size: 12pt;
    margin-bottom: 5px;
    display: block;
    line-height: 100%;
}

.newsBox .text {
	color: #E8E8E8;
 	font-size: 9pt;
	line-height: 11pt;
 	text-align: justify;
}

.newsBox .infobox_content {
	margin-bottom: 20px;
	border-top: 1px solid #484243;
}

.infobox_content .read_more {
	color: #E8E8E8;
	font-size: 20px;
	line-height: 14px;
	vertical-align: text-top;
}

.infobox_header .read_more {
	color: #fff;
	padding: 7px;
}

.infobox_header_title {
	color: #fff;
	font-size:16px;
	text-transform: uppercase;
    display: inline-block;
	margin: 0 20px 0 0;

}
.infobox_header_title:lang(fr) {
	font-size: 18px;
}

.promoBox {
	float: left;
	overflow:hidden;
	width: 100%;
	margin-bottom: 20px;
}

.promoBox .infobox_content {
	width: 140px;
	float:left;
	border-top: 5px solid #000000;
	margin-right: 5px;
	overflow: hidden;
}

.address {
	display: inline-block;
}

.promoBox .infobox_content:first-child {
	margin-left:0px;
}

.promoBox .picture {

}

.promoBox a .picture {
}

.promoBox a:hover + .address {
	border-bottom: 3px solid #E8E8E8;;
}
.promoBox .citySelectionForm {
	margin: 15px 0 10px 0;
}

