.vista-pmsite-pwdResetPage {
    font-size: 16px;
}

.vista-pmsite-pwdResetPage .vista-pmsite-mainWrap {
	width: 920px;
	padding: 0 20px 20px 20px;
	margin: 0 auto;
	overflow: hidden;
	background: white;
}

.vista-pmsite-pwdResetPage .vista-pmsite-content .caption {
	color: black;
	border-top: 1px solid #000;
	height: 30px;
	overflow: hidden;
	padding: 5px 0px;
}

.vista-pmsite-pwdResetPage .vista-pmsite-content .caption h1 {
	font-family: monospace;
    font-size: 14pt;
    font-weight: normal;
}

.vista-pmsite-pwdResetPage .content {
	border-top: 5px solid #000;	
	line-height: 20px;
	overflow: hidden;
}

.vista-pmsite-pwdResetPage #pwdResetForm {
	background: #999999;
}

.vista-pmsite-pwdResetPage .pwdResetFormWrap {
	padding:20px;
	min-height: 200px;
}

.vista-pmsite-pwdResetPage .pwdResetFormWrap input[type=submit] {
	background: ${object1_100};
	border: 2px solid ${object1_100};
	color: ${object1_10};
	cursor: pointer;
	font-size: 16px;
	margin: 15px auto 0;
	text-transform: uppercase;
	width: 128px;
	height: 32px;
}

.vista-pmsite-pwdResetPage .pwdResetFormWrap .pwdResetFormInput {
	padding:20px 0 0 260px;
}

.vista-pmsite-pwdResetPage .pwdResetFormWrap .pwdResetFormInput label {
	display:inline-block;
	width:120px;
	padding-right:4px;
	color: #fff;
}
.vista-pmsite-pwdResetPage .pwdResetFormWrap .pwdResetFormInput input[type=text] {
	width:200px;
	border: 1px solid #000000;
}