.vista-pmsite-residentPage .vista-pmsite-content {
	min-height: 360px;
	width: 960px;
	overflow: hidden;
	margin: 0 auto 20px;
}

.vista-pmsite-residentPage .caption {
	position: relative;
	top: 16px;
	background: #302A2C;
	width: 200px;
	z-index: 1;
}

.vista-pmsite-residentPage .secondaryNavig {
	border-top: 3px solid #1F1B1C;
	width: 211px;
	float: left;
	min-height: 400px;
	margin: 40px 20px 0 0;
	line-height: 1.67;
}

.vista-pmsite-residentPage .secondaryNavig ul {
	width: 210px;
	list-style: none outside none;
	margin: 0;
	margin-top: -20px;
	padding: 0;
	padding-top: 30px;
	font-size: 16px;
    font-weight: normal;
    border-top: 1px solid #484243;
}

.vista-pmsite-residentPage .secondaryNavig ul li {
	width: 180px;
	font-size: 16px;
	font-weight: normal;
	height: 28px;
	overflow: hidden;
	padding: 0 10px 0 20px;
	color: #D7AC3F;
	text-transform: uppercase;
}

.vista-pmsite-residentPage .secondaryNavig ul li.active {
    background: url("images/menu_active.png") no-repeat scroll 0 50% transparent;
    background-color: #756033;
    font-weight: bold;
    color: #1F1B1C;
    border-bottom: 1px solid #D7AC3F;
}

.vista-pmsite-residentPage .secondaryNavig ul li:hover {
	font-weight: bold;
    outline: medium none;
    text-decoration: none;
    border-bottom: 1px solid #D7AC3F;
    background-color: #756033;
    color: #1F1B1C;
}

.vista-pmsite-residentPage .MainMenu {
    padding: 20px 0;
}

.LandingOrLineSeparator {
	padding-top: 30px;
}

.LandingOrLineSeparator div {
	border-left: 3px solid #1F1B1C !important;
    border-right: 1px solid #484243 !important;
    border-bottom: none !important;
    border-top: none !important;
}

.TenantDashboardLeft > div {
	border-right: 1px solid #949494 !important;
}

.vista-pmsite-residentPage .vista-pmsite-main .content {
	min-height: 200px;
	line-height: 20px;
	padding-top: 30px;
    overflow: hidden;
    color: #B4AFB0;
    border-top: 3px solid #1F1B1C;
    font-size: 13.5px;
}
.TenantDashboardRight {
	margin-left: 20px;
}
.TenantDashboardLeft > div {
	padding-right: 20px;
	border-right: 1px solid #D7AC3F !important;
}
.TenantDashboardTableRow {
    border-bottom: 1px dotted #D7AC3F;
}
h2 {
    color: #D7AC3F;
}
.vista-pmsite-residentPage .vista-pmsite-main .content > div {
    border-top-color: #484243;
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: -30px;
    padding-top: 10px;
}
.BillingDetailItemAmount {
	color: #B4AFB0 !important;
}

.BillingDetailItemAmount.TSPaymentAmount {
    color: #B4AFB0;
}

.BillingDetailTotalAmount {
	border-top: 2px solid #FFFFFF !important;
    color: #FFFFFF !important;
}

.LandingViewPanel {
	border-top: 1px solid #484243;
	margin-top: -30px;
	padding-top: 10px;
}

.vista-pmsite-residentPage .TenantDashboard .FormFlexPanelH1Label, .FormFlexPanel .FormFlexPanelH1Label, .LandingCaptionTextEmph  {
    font-size: 14pt;
    font-weight: bold;
    text-shadow: none;
    text-align: left;
    background: #302A2C;
    color: #D7AC3F;
    padding: 20px 8px;
}
.vista-pmsite-residentPage .TenantDashboard .FormFlexPanel .FormFlexPanelH1 {
	color: #B4AFB0;
	background: #302A2C;
}

.FormFlexPanelH1 {
	background-color: inherit !important;
}

.vista-pmsite-residentPage .LandingViewSectionHeader {
	text-align: center;
    font-size: 14pt;
    color: #D7AC3F;
}
.TenantDashboardTableHeader {
	background: #302A2C !important;
	color: #B4AFB0 !important;
}

.vista-pmsite-residentPage a {
	color: #D7AC3F !important;
	white-space: nowrap;
	font-size: 16px;
}

.-vista-NoTenantInsurancePanel > div {
	margin-bottom: 15px;
}

.vista-pmsite-residentPage .TenantDashboardSection {
	padding-top: 20px;
}

.LandingButtonHolder {
    margin-top: 10px !important;
    text-align: center !important;
}

.vista-pmsite-residentPage .FormFlexPanelH3Label {
    color: #D7AC3F;
    font-size: 14pt;
    font-weight: bold;
    font-style: normal;
    border-bottom: 3px solid #1F1B1C;
}

.vista-pmsite-residentPage .Button, .gwt-Button {
    background: none repeat scroll 0 0 #302A2C;
    border: none;
    color: #D7AC3F;
    cursor: pointer;
    float: right;
    font-size: 14pt;
    /*padding: 40px 10px 10px 10px;*/
    width: auto;
    min-width: 70px;
    text-align: center;
    filter: false; /*for IE9*/
   	font-weight: bold;
}

.vista-pmsite-residentPage .LandingButtonHolder .Button{
	float: none;
    height: 1.5em;
    width: 7em;
    text-transform: uppercase;
}
.vista-pmsite-residentPage .LandingButtonHolder .Button:hover {
	color: #FA8D0C;
}

.vista-pmsite-residentPage .Button-disabled{
	cursor: default;
}

.vista-pmsite-residentPage .EntityFolderAddButton, .vista-pmsite-residentPage .EntityFolderTableHeaderLabel  {
	color: #B4AFB0;
	font-weight: bold;
}
.EntityFolderTableHeader {
	background-color: inherit !important;
}

.LandingViewSectionContent table {
	border-collapse: separate;
}

.vista-pmsite-residentPage .WidgetDecoratorComponentHolder .TextBox, .vista-pmsite-residentPage .WidgetDecoratorComponentHolder .ListBox {
	min-width: 8em;
}

.vista-pmsite-residentPage .WidgetDecorator .TextBox, .vista-pmsite-residentPage .WidgetDecorator .ListBox {
	border-top: 4px solid #7F7F7F;
	border-left: 3px solid #7F7F7F;
	outline: 1px solid #ec8e21;
}

.vista-pmsite-residentPage .LandingTermsAndConditionsBox {
	margin-left: 60px;
	margin-right: 60px;
	color: #B4AFB0;
}

.vista-pmsite-residentPage .EntityFolderRowItemDecorator{
	height: auto !important;
}

.vista-pmsite-residentPage .WidgetDecorator-readOnly .WidgetDecoratorLabel, .vista-pmsite-residentPage .BillingLineItem, .vista-pmsite-residentPage  .WidgetDecoratorLabel {
    color: #B4AFB0;
    font-size: 16px;
}

.vista-pmsite-residentPage .WidgetDecorator-readOnly, .vista-pmsite-residentPage  .BillingBillTotal .WidgetDecoratorComponent {
	color: #B4AFB0;
	font-weight: normal;
}

#gwt-debug-BillDTO-totalDueAmount {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

.BillingLineItemAmount {
	color: #ffffff !important;
}

.PaymentEditorImages div img {
    height: 30px;
    width: 46px;
}
.vista-pmsite-residentPage .ValidationLabel ul {
	padding-left: 6px;
}


.vista-pmsite-residentPage .PaymentEditorForm {
	max-width: 491px;
}

.vista-pmsite-residentPage .PaymentEditorLegalTerms {
	max-width: 673px;
}

.FormFlexPanel {
	max-width: 685px;
	overflow: hidden;
}

.FormFlexPanelHR {
	width: 739px;
    background-color: #1F1B1C !important;
    border-bottom: 1px solid #484243;
    height: 3px !important;
    margin: 6px 0 6px 10px !important;
}

.FormFlexPanelH3 {
	line-height: 2;
	border-bottom: 1px solid #484243 !important;
}

.TriggerPannel .TextBox	{
	width: 90px !important;
}

.SiteViewAction .Anchor {
	white-space: nowrap;
	float: right;
	text-decoration: none;
}

.Dialog {
    background-color: #FA8D0C !important;
}

.DialogCaption {
    background: none repeat scroll 0 0 #302A2C !important;
    color: #fa8d0c!important;
}
.DialogContent {
	background-color: #B4AFB0 !important;
	height: 178px !important;
}

.TenantSureManagementStatusDetailsPanel {
    width: 65% !important;
}


.TenantSureManagementActionsPanel {
    width: 35% !important;
}
.FormFlexPanelH2 {
	border-bottom: 2px solid #b4afb0 !important;
}
.FormFlexPanelH2Label {
	color: #b4afb0 !important;
}

.TenantSureManagementActionsPanel .Anchor-disabled {
	color: #b4afb0 !important;
    text-decoration: none;
    cursor: default;
}

.PaymentEditorLegalTerms {
    height: auto !important;
    background-color: inherit !important;
    padding: 0;
}

.PaymentEditorLegalTermsHeader {
    background-color: inherit !important;
    color: #000000 !important;
}

.Anchor.Anchor-disabled {
    color: #D7AC3F !important;
}

.FooterToolbar .Toolbar {
    margin-right: 10px;
}

.vista-pmsite-residentPage .Header {
    border-top: 1px solid #484243;
    margin-top: -30px;
    padding-top: 30px;
}

.gwt-DatePicker {
    border: 1px solid #B4AFB0 !important;
}

.DatePickerMonthSelector {
    background-color: #B4AFB0 !important;
}

.DatePickerWeekendDayLabel {
    color: #D7AC3F !important;
}

.DatePickerGrid .gwt-Label-selected {
    background-color: #B4AFB0 !important;
    border: 1px solid #D7AC3F !important;
    color: white !important;
}

.DatePickerGrid .gwt-Label-heighlighted {
    background-color: #D7AC3F !important;
}

.PaymentEditorLegalTerms .Anchor .gwt-HTML {
    overflow: inherit !important;
    color: #B4AFB0;
}

.PaymentEditorLegalTerms .Anchor .gwt-HTML > div {
    background: none repeat scroll 0 0 #FAFAFA;
}

.TSPucrhaseViewMessageText {
    color: #B4AFB0;
}

.WidgetDecoratorLabel.SignUpGreetingRow1, .WidgetDecoratorLabel.SignUpGreetingRow2 {
    font-size: 20px;
}