.vista-pmsite-unitDetailsPage .vista-pmsite-content  {
	width: 960px;
	overflow: hidden;
	margin: 0 auto 20px;
}

.vista-pmsite-unitDetailsPage .vista-pmsite-sidebar {
	float: left;
	width: 280px;
	background-color: #000;
	padding: 20px;
	margin-top: 30px;
}
.vista-pmsite-unitDetailsPage .vista-pmsite-main {
	margin-left: 340px;
	min-height:600px;
}

.vista-pmsite-unitDetailsPage .apartmentDetailsWrap {
	min-height: 550px;
	border-top: 3px solid #1F1B1C;
	background-color: transparent;
}

.apartmentDetailsWrap .detailBox {
	padding: 20px 0 0 0;
	border-top: 1px solid #484243;
	border-bottom: 1px solid #484243;
}
.apartmentDetailsWrap .detailBox .detailBoxTitle {
	padding: 30px 20px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:${foreground_100};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry {
	padding: 10px 0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry:first-child {
}
.apartmentDetailsWrap .detailBox .detailBoxEntry:last-child {
	border-bottom: 3px solid #1F1B1C;
	padding-bottom: 30px;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxCaption {
	display:inline-block;
	vertical-align:top;
	width:80px;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
	color: #D7AC3F;
	padding-right: 10px;
/* if EI7 */	
	*display: inline;
    zoom: 1;	
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxText {
	display:inline-block;
	vertical-align:top;
	width:460px;
	color:#B4AFB0;
/* if EI7 */	
	*display: inline;
    zoom: 1;	
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText {
	padding-left:10px;
	margin:0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText li {
	float:left;
	width:230px;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .picture {
	display: inline-block;
	vertical-align: top;
	width:80px;
	min-height:75px;
	text-align:center;
	padding-left:10px;
} 
.apartmentDetailsWrap .requestBtn {
    line-height: 32px;
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;
}
