/** Add css rules here for your application. */
 

h1 {
	color: gray;
/*	font-size: 2em;*/
	margin: 10px 0px;
	text-align: center;
}


div.dragdrop-dropTarget {
/*    background-color: silver;*/
}
div.dragdrop-dropTarget-engage {
/*    background: none repeat scroll 0 0 aqua;*/
}

.Dashboard-wrapper {
	min-width: 600px;
    border: 1px solid navy;
}
.Dashboard-caption {
	font-weight: bold;
  	text-align: center;
	color: navy;
  	background-color: yellow;
  	border-bottom: 1px solid black;
	margin-bottom: 3px ;
}
    
.Dashboard-menu {
	font: menu;	
    background-color: white;
	border: 1px solid navy;
}

.DashboardPanel {
}
.DashboardPanel .DashboardPanel-column {
}
.DashboardPanel .DashboardPanel-column-heading {
	background-color: #87B3FF;
	font-weight: bold;
  	text-align: center;
}
.DashboardPanel .DashboardPanel-column-spacer {
    height: 4em;
}

.DashboardPanel .DashboardPanel-holder {
	background-color: #B3FF87;
    border: 2px solid blue;
}


.DashboardPanel .DashboardPanel-holder-setup {
	background-color: fuchsia;
}

.DashboardPanel .DashboardPanel-holder-caption {
    font: caption;	
	background-color: #B387FF;
    border-bottom: 1px solid blue;
}
.DashboardPanel .DashboardPanel-holder-menu-button {
    height: 1.4em;
	font: small-caption;
}


.DashboardPanel-holder-menu {
    font: menu;	
    background-color: white;
	border: 1px solid navy;
}

.DashboardPanel-drag-n-drop-positioner {
  	border: 1px dashed blue;
	z-index: 100;
}
