/** Add css rules here for your application. */
 
h1 {
	color: gray;
	font-size: 2em;
	margin: 30px 0px 10px 0px;
	text-align: center;
}



div.dragdrop-dropTarget {
    background-color: silver;
}
div.dragdrop-dropTarget-engage {
/*    background: none repeat scroll 0 0 #BCDEFF;*/
}


.InsertPanel {
	min-width: 600px;
}
.InsertPanel .InsertPanel-holder, .InsertPanel .InsertPanel-column-heading, .InsertPanel .InsertPanel-spacer {

}
.InsertPanel .InsertPanel-column-container {

}
.InsertPanel .InsertPanel-column-heading {
	background-color: #87B3FF;
	font-weight: bold;
  	text-align: center;
}
.InsertPanel .InsertPanel-column-composite {
    float: left;
}
.InsertPanel .InsertPanel-holder {
	background-color: #B3FF87;
    border: 1px solid blue;
}
.InsertPanel .InsertPanel-spacer {
    height: 4em;
}
.InsertPanel .InsertPanel-holder-caption {
    background-color: #B387FF;
    border-bottom: 1px solid blue;
}
.InsertPanel .InsertPanel-holder-menu-button {
    vertical-align: top;
}
.InsertPanel-holder-menu {
    background-color: silver;
	border: 1px solid navy;
}
