.vista-pmsite-aptListPage .vista-pmsite-content {
    background: ${background_10};
}
.vista-pmsite-aptListPage .vista-pmsite-sidebar {
	width: 211px;
	float:left;
	color: ${object2_100};
}

.vista-pmsite-aptListPage .vista-pmsite-main {
	margin-left: 211px;
}

.vista-pmsite-aptListPage .secondaryNavig {
	color: ${object2_100};
}
.vista-pmsite-aptListPage .secondaryNavig h3 {
	width:100%;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	padding: 10px 0;
	margin-top:5px;
}
.advancedSearchNarrowWrap {
	width: 190px;
	margin: 10px;
}
.advancedSearchNarrowWrap input[type=submit] {
	background: ${object1_100};
	border: 2px solid ${object1_100};
	color: ${object1_10};
	cursor: pointer;
	font-size: 16px;
	margin: 15px auto 0;
	text-transform: uppercase;
	width: 128px;
	height: 32px;
}

.advancedSearchNarrowWrap label {
	display: block;
	padding: 4px 0;
	white-space: nowrap;
	color: ${object2_100};
}

.advancedSearchNarrowWrap .inputBlockFrame {
	width: 100%;
	margin-top: 20px;
}

.advancedSearchNarrowWrap .searchTypeSelBox {
	height:40px;
}
.advancedSearchNarrowWrap .searchTypeSelButton {
	float: left;
	width: 90px;
	font-size: 14px;
	letter-spacing: 0px;
	background-color:${contrast2_100};
	margin-left: 10px;
	padding: 3px 0;
	text-align: center;
}
.advancedSearchNarrowWrap .searchTypeSelButton label {
	color:${foreground_100};
}

.advancedSearchNarrowWrap .searchTypeSelButton:first-child {
	margin-left: 0px;
}

.advancedSearchNarrowWrap .searchTypeSelButton .spacer_by {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeSelButton label {
	display: inline-block;
}

.advancedSearchNarrowWrap .searchTypeSelButton input[type=radio] {
	display: none;
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActiveHover {
	background-color:${object1_100};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActiveHover label {
	color:${object1_20};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActive {
	background-color:${object1_100};
}
.advancedSearchNarrowWrap .searchTypeSelButton.typeselActive label {
	color:${object2_10};
}
.advancedSearchNarrowWrap .searchTypeBox {
	height:100px;
}

.advancedSearchNarrowWrap .searchTypeBox select {
	color:${background_100};
	width: 188px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchTypeBox input[type=text] {
	color:${background_100};
	width: 184px;
	margin: 1px;
}

.advancedSearchNarrowWrap .errorPanel {
	padding:2px;
	padding-left:15px;
	margin:0;
	margin-top:10px;
	color:red;
	background:white;
	display:inline-block;
}

.advancedSearchNarrowWrap .searchCommonBox select {
	color:${background_100};
	width: 82px;
	margin: 1px;
}

.advancedSearchNarrowWrap .searchCommonBox input[type=text] {
	color:${background_100};
	width: 76px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchCommonBox .searchField .inputJoinBox {
	display:inline-block;
	width:22px;
	text-align:center;
}
.advancedSearchNarrowWrap .searchAmenityBox {
	border-top: 1px dotted ${object2_100};
	padding-top: 10px;
	margin-bottom: 30px;
}

.advancedSearchNarrowWrap .searchAmenityBox .searchField>label {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox br {
	display: none;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList label {
	display: inline-block;
	width: 70px;
	color: ${object2_100};
}
.advancedSearchNarrowWrap .searchAmenityBox .amenityList label:lang(fr) {
	width: 165px;
}

.vista-pmsite-aptListPage .apartmentListingWrap {
	width:100%;
	background: ${object2_100};
}
.vista-pmsite-aptListPage .apartmentListingWrap .listing_listview {
	padding-bottom:40px;
	min-height:600px;
}

#aptListModeSwitch {
	background-image: url("images/aptListIcons.png");
	background-repeat: no-repeat;
	width:120px;
	height:25px;
	padding-top:5px;
	padding-left:30px;
	margin-top:20px;
	float:right;
	color:${object2_30};
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
}
.aptListModeSwitch:hover {
	background-image: url("images/aptListIcons-hlight.png");
	color:${object2_10};
}
.aptListMode_map {
	background-position:0px 0px;
}
.aptListMode_list {
	background-position:0px -60px;
}
.vista-pmsite-aptListPage .apartmentListingWrap .listing_mapview {
	width:744px;
	height:650px;
}
.apartmentListingWrap .listingEntry {
	padding:20px;
	color: ${foreground_100};
}
.apartmentListingWrap .listingEntry:hover {
	background-color:${object1_100};
}
.apartmentListingWrap .listingEntry:first-child {
}
.apartmentListingWrap .listingEntry .pictureBox {
	display: inline-block;
	vertical-align: top;
	width:80px;
	min-height:75px;
	text-align:center;
} 
.apartmentListingWrap .listingEntry .pictureBox .picture {
	width:100%;
}
.apartmentListingWrap .listingEntry .infoBox {
	display: inline-block;
	vertical-align: top;
	width:450px;
	padding:0 20px;
} 
.apartmentListingWrap .listingEntry .infoBoxEntry {
	padding:4px 0;
} 
.apartmentListingWrap .listingEntry .infoBoxEntry .infoBoxCaption {
	display: inline-block;
	vertical-align: top;
	width:80px;
	text-align:right;
	padding-right:8px;
	font-weight:normal;
}
.apartmentListingWrap .listingEntry .infoBoxEntry .infoBoxText {
	display: inline-block;
	vertical-align: top;
	width:340px;
	font-weight:bold;
}
.apartmentListingWrap .listingEntry .infoBoxEntry .infoBoxText .typeInfo {
	font-weight:normal;
}
.apartmentListingWrap .listingEntry .infoBox .description .infoBoxText {
	font-weight:normal;
}
.apartmentListingWrap .listingEntry .infoBox ul.infoBoxText {
	margin:0;
	padding:0;
}
.apartmentListingWrap .listingEntry .infoBox .types li {
	list-style:none;
}
.apartmentListingWrap .listingEntry .infoBox .amenities li {
	float: left;
	margin: 0 10px;
}

.apartmentListingWrap .listingEntry .infoBox .amenities li:first-child {
	list-style: none;
	margin-left: 0;
}
.apartmentListingWrap .listingEntry .controlBox {
	display: inline-block;
	vertical-align: top;
	width:80px;
	padding:0 20px;
} 
.apartmentListingWrap .listingEntry .controlButton {
	float:right;
	padding:6px 0;
	border-bottom: 1px solid ${foreground_20}
}
.apartmentListingWrap .notFoundNote {
	font-size:18px;
	color:${foreground_50};
	padding:40px 20px;
}
.listingCtlButton {
	background-image: url("images/aptListIcons.png");
	background-repeat: no-repeat;
	display:block;
	width:70px;
	height:25px;
	padding-top:5px;
	padding-left:30px;
	font-weight:bold;
	cursor:pointer;
	color:${foreground_50};
}
a.listingCtlButton {
	color:${foreground_50} !important;
	text-decoration:none;
}
.apartmentListingWrap .listingEntry:hover .listingCtlButton {
	background-image: url("images/aptListIcons-hlight.png");
	color:${foreground_80} !important;
}
.btnShowOnMap {
	background-position:0px 0px;
}
.btnViewDetails {
	background-position:0px -30px;
}
/*
 * Map style
 */
.PropertyCardCardContentItem {
	font-size:12px;
	padding-bottom:8px;
	margin-bottom:4px;
	border-bottom:1px solid ${foreground_20};
}
.PropertyCardCardContentItem.address {
	color: ${object1_60};
	font-weight:bold;
}
.PropertyCardCardContentItem.types {
	color: ${foreground_100};
}
.PropertyCardCardContentItem.amenities {
	color: ${foreground_100};
}
.PropertyCardCardLeftLabel {
	font-size:12px;
	white-space:nowrap;
	color: ${foreground_100};
}
.PropertyCardCardLeftItem.price {
	color: ${object1_60};
	font-weight:bold;
}
