.vista-pmsite-unitDetailsPage {
	font-size:14px;
	overflow:hidden;
}
.vista-pmsite-unitDetailsPage .vista-pmsite-content  {
    background: ${background_10};
}
.vista-pmsite-unitDetailsPage .vista-pmsite-sidebar {
	width: 318px;
	float:left;
	padding:20px 16px;
}
.vista-pmsite-unitDetailsPage .vista-pmsite-main {
	margin-left: 350px;
}
.vista-pmsite-unitDetailsPage .vista-pmsite-main .caption2 {
}

.vista-pmsite-unitDetailsPage .apartmentDetailsWrap {
	min-height: 550px;
	background: ${object2_100};
}
.apartmentDetailsWrap .detailBox {
	color:${foreground_100};
	padding: 20px 0;
}
.apartmentDetailsWrap .detailBox .detailBoxTitle {
	padding: 30px 20px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:${foreground_100};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry {
	padding: 10px 0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry:first-child {
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxCaption {
	display:inline-block;
	vertical-align:top;
	width:80px;
	padding: 0 20px 6px 20px;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
	color:${foreground_80};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxText {
	display:inline-block;
	vertical-align:top;
	width:460px;'
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText {
	padding-left:10px;
	margin:0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText li {
	float:left;
	width:230px;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .picture {
	display: inline-block;
	vertical-align: top;
	width:80px;
	min-height:75px;
	text-align:center;
	padding-left:10px;
} 
.apartmentDetailsWrap .requestBtn {
	background: ${object1_100};
	border: 2px solid ${object1_100};
	color: ${object1_10};
    display:inline-block;
    line-height: 32px;
    padding:0 8px;
    margin-left:40px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration:none;
}
