.vista-pmsite-aptDetailsPage {
	font-size:14px;
	color:#CCCCCC;
}
.vista-pmsite-aptDetailsPage .vista-pmsite-contentWrap {
	background: url("images/template0/inner_content_bg.png") repeat-x #37393F;
}
.vista-pmsite-aptDetailsPage .vista-pmsite-content {
	background: url("images/template0/inner_bg.png") no-repeat;
}
.vista-pmsite-aptDetailsPage .vista-pmsite-sidebar {
	display: inline-block;
	width: ${image_building_large_width};
	vertical-align: top;
	padding:20px 16px;
}
.vista-pmsite-aptDetailsPage .vista-pmsite-main {
	display: inline-block;
	width: 605px;
	vertical-align: top;
	min-height:400px;
	background:white;
	color:#222;
}
.apartmentDetailsWrap .detailBox {
	color:#777;
	padding-bottom:20px;
}
.apartmentDetailsWrap .detailBox .detailBoxTitle {
	padding: 30px 20px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:#555;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry:first-child {
	border-top: 1px solid #ccc;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxCaption {
	display:inline-block;
	vertical-align:top;
	width:80px;
	padding: 0 20px 6px 20px;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
	color:#888;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxText {
	display:inline-block;
	vertical-align:top;
	width:460px;'
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText {
	padding-left:10px;
	margin:0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText li {
	float:left;
	width:230px;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry.units:hover {
	background:#d8e7bc;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .picture {
	display: inline-block;
	vertical-align: top;
	width:80px;
	min-height:75px;
	text-align:center;
	padding-left:10px;
} 
.apartmentDetailsWrap .unitDetails {
	display: inline-block;
	vertical-align: top;
	width:370px;
	padding:0 10px;
	color: #222;
}
.apartmentDetailsWrap .unitDetails .details {
	display: inline-block;
	vertical-align: top;
	width:320px;
	padding:0 20px;
} 
.apartmentDetailsWrap .unitDetails .unitEntry {
	padding:2px 0;
} 
.apartmentDetailsWrap .unitDetails .unitEntry .unitEntryCaption {
	display: inline-block;
	vertical-align: top;
	width:80px;
	text-align:right;
	padding-right:8px;
	font-weight:normal;
}
.apartmentDetailsWrap .unitDetails .unitEntry .unitEntryText {
	display: inline-block;
	vertical-align: top;
	width:210px;
	font-weight:bold;
}
.apartmentDetailsWrap .unitDetails .infoBox .amenities li {
	float: left;
	margin: 0 10px;
}

.apartmentDetailsWrap .unitDetails .infoBox .amenities li:first-child {
	list-style: none;
	margin-left: 0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .controlBox {
	display: inline-block;
	vertical-align: top;
	width:100px;
	padding:0;
} 
.apartmentDetailsWrap .controlBox .controlButton {
	float:right;
	padding:6px 0;
}
.listingCtlButton {
	background-image: url("images/template1/aptListIcons.png");
	background-repeat: no-repeat;
	display:block;
	width:70px;
	height:25px;
	padding-top:5px;
	padding-left:30px;
	font-weight:bold;
	cursor:pointer;
	color:#6c6d6f;
}
a.listingCtlButton {
	color:#6c6d6f !important;
	text-decoration:none;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry.units:hover .listingCtlButton {
	background-image: url("images/template1/aptListIcons-hlight.png");
	color:#339900 !important;
}
#btnViewDetails {
	background-position:0px -30px;
}
.apartmentDetailsWrap .requestBtn {
    background: url("images/template0/btn.png") no-repeat;
    background-size: 100% 64px;
    border: 0;
    display:inline-block;
    line-height: 32px;
    padding:0 8px;
    margin-left:40px;
    margin-bottom:20px;
    color: #000000;
    font-size: 16px;
    text-shadow: 0 1px 0 #CCCCCC;
    text-transform: uppercase;
    text-decoration:none;
}
.apartmentDetailsWrap .requestBtn:hover {
	background-position:0 -32px;
}
