.vista-pmsite-aptDetailsPage {
	font-size:14px;
}
.vista-pmsite-aptDetailsPage .vista-pmsite-mainWrap {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.vista-pmsite-aptDetailsPage .vista-pmsite-sidebar {
	display: inline-block;
	width: 318px;
	vertical-align: top;
	padding:20px 16px;
	border-right:1px solid ${foreground_20};
}
.vista-pmsite-aptDetailsPage .vista-pmsite-main {
	display: inline-block;
	width: 605px;
	vertical-align: top;
	min-height:400px;
}
.vista-pmsite-aptDetailsPage .vista-pmsite-main .caption2 {
	border-bottom:1px solid ${foreground_20};
	}
.vista-pmsite-aptDetailsPage .vista-pmsite-sidebar .pictureBox {
	width:100%;
	text-align:center;
} 
.vista-pmsite-aptDetailsPage .vista-pmsite-sidebar .pictureBox .picture {
	width:100%;
}
.vista-pmsite-aptDetailsPage .vista-pmsite-sidebar .pictureBox .gallery {
	height:50px;
}
.vista-pmsite-aptDetailsPage .vista-pmsite-sidebar .pictureBox .gallery img {
	width:57px;
	cursor:pointer;
}
.vista-pmsite-aptDetailsPage .vista-pmsite-sidebar .pictureBox .gallery span {
	float:left;
	margin:5px 0 5px 8px;
}
.vista-pmsite-aptDetailsPage .vista-pmsite-sidebar .pictureBox .gallery span:first-child {
	margin-left:0;
}
.vista-pmsite-aptDetailsPage .vista-pmsite-sidebar .infoBox {
	width:100%;
	font-weight:bold;
	color:${foreground_60};
} 
.vista-pmsite-aptDetailsPage .vista-pmsite-sidebar .infoBoxEntry {
	padding-top:15px;
} 
.vista-pmsite-aptDetailsPage .vista-pmsite-sidebar .infoBoxEntry .infoBoxCaption {
	display:block;
	padding-top:4px;
}
.vista-pmsite-aptDetailsPage .vista-pmsite-sidebar .infoBoxEntry .infoBoxText {
	display:block;
	padding-top:4px;
}
.apartmentDetailsWrap .detailBox {
	color:${foreground_60};
	padding-bottom:20px;
}
.apartmentDetailsWrap .detailBox .detailBoxTitle {
	padding: 30px 20px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:${foreground_60};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry {
	padding: 10px 0;
	border-bottom: 1px solid ${foreground_20};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry:first-child {
	border-top: 1px solid ${foreground_20};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxCaption {
	display:inline-block;
	vertical-align:top;
	width:80px;
	padding: 0 20px 6px 20px;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
	color:${foreground_40};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxText {
	display:inline-block;
	vertical-align:top;
	width:460px;'
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText {
	padding-left:10px;
	margin:0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText li {
	float:left;
	width:230px;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry.units:hover {
	background-color:${object1_10};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .picture {
	display: inline-block;
	vertical-align: top;
	width:80px;
	min-height:75px;
	text-align:center;
	padding-left:10px;
} 
.apartmentDetailsWrap .unitDetails {
	display: inline-block;
	vertical-align: top;
	width:370px;
	padding:0 10px;
	color: ${foreground_40};
}
.apartmentDetailsWrap .unitDetails .details {
	display: inline-block;
	vertical-align: top;
	width:320px;
	padding:0 20px;
} 
.apartmentDetailsWrap .unitDetails .unitEntry {
	padding:2px 0;
} 
.apartmentDetailsWrap .unitDetails .unitEntry .unitEntryCaption {
	display: inline-block;
	vertical-align: top;
	width:80px;
	text-align:right;
	padding-right:8px;
	font-weight:normal;
}
.apartmentDetailsWrap .unitDetails .unitEntry .unitEntryText {
	display: inline-block;
	vertical-align: top;
	width:210px;
	font-weight:bold;
}
.apartmentDetailsWrap .unitDetails .infoBox .amenities li {
	float: left;
	margin: 0 10px;
}

.apartmentDetailsWrap .unitDetails .infoBox .amenities li:first-child {
	list-style: none;
	margin-left: 0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .controlBox {
	display: inline-block;
	vertical-align: top;
	width:100px;
	padding:0;
} 
.apartmentDetailsWrap .controlBox .controlButton {
	float:right;
	padding:6px 0;
}
.listingCtlButton {
	background-image: url("images/template2/aptListIcons.png");
	background-repeat: no-repeat;
	display:block;
	width:70px;
	height:25px;
	padding-top:5px;
	padding-left:30px;
	font-weight:bold;
	cursor:pointer;
	color:${foreground_50};
}
a.listingCtlButton {
	color:${foreground_50} !important;
	text-decoration:none;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry.units:hover .listingCtlButton {
	background-image: url("images/template2/aptListIcons-hlight.png");
	color:${foreground_80} !important;
}
#btnViewDetails {
	background-position:0px -30px;
}