.vista-pmsite-aptListPage {
}
.vista-pmsite-aptListPage .vista-pmsite-content {
	background: url("images/template0/inner_bg.png") no-repeat;
}
.vista-pmsite-aptListPage .vista-pmsite-contentWrap {
	background: url("images/template0/inner_content_bg.png") repeat-x #37393F;
}
.vista-pmsite-aptListPage .vista-pmsite-sidebar {
	display: inline-block;
	width: 211px;
	vertical-align: top;
}
.vista-pmsite-aptListPage .secondaryNavig {
	color:#aaa;
}
.vista-pmsite-aptListPage .secondaryNavig h3 {
	width:100%;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	padding: 10px 0;
	margin-top:5px;
}
.advancedSearchNarrowWrap {
	width: 190px;
	margin: 10px;
}
.advancedSearchNarrowWrap input[type=submit] {
	background:
		url("images/template0/btn.png")
		no-repeat;
	border: none;
	width: 128px;
	height: 32px;
	padding: 5px 0;
	color: #000000;
	font-size: 16px;
	text-shadow: 0 1px 0 #CCCCCC;
	text-transform: uppercase;
	cursor: pointer;
}

.advancedSearchNarrowWrap label {
	display: block;
	padding: 4px 0;
	white-space: nowrap;
}

.advancedSearchNarrowWrap .inputBlockFrame {
	width: 100%;
	margin-top: 20px;
}

.advancedSearchNarrowWrap .searchTypeSelBox {
	height:40px;
}
.advancedSearchNarrowWrap .searchTypeSelButton {
	float: left;
	width: 70px;
	font-size: 14px;
	letter-spacing: 0px;
	box-shadow:-1px -1px 1px #404247, 1px 1px 1px #24262a;
	border-radius:3px;
	margin-left: 10px;
	padding: 3px 10px;
	background-color: #22242a;
	text-align: center;
}

.advancedSearchNarrowWrap .searchTypeSelButton:first-child {
	margin-left: 0px;
}

.advancedSearchNarrowWrap .searchTypeSelButton .spacer_by {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeSelButton label {
	display: inline-block;
}

.advancedSearchNarrowWrap .searchTypeSelButton input[type=radio] {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeBox {
	height:100px;
}

.advancedSearchNarrowWrap .searchTypeBox select {
	width: 188px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchTypeBox input[type=text] {
	width: 184px;
	margin: 1px;
}

.advancedSearchNarrowWrap .searchCommonBox {
	height: 160px;
}

.advancedSearchNarrowWrap .searchCommonBox select {
	width: 82px;
	margin: 1px;
}

.advancedSearchNarrowWrap .searchCommonBox input[type=text] {
	width: 76px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchCommonBox .searchField .inputJoinBox {
	display:inline-block;
	width:22px;
	text-align:center;
}
.advancedSearchNarrowWrap .searchAmenityBox {
	border-top: 1px dotted #5d5e63;
	padding-top: 10px;
	margin-bottom: 30px;
}

.advancedSearchNarrowWrap .searchAmenityBox .searchField>label {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox br {
	display: none;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList label {
	display: inline-block;
	width: 70px;
}

.advancedSearchNarrowWrap .typeselActiveHover {
	background-color: #19181f !important;
}

.advancedSearchNarrowWrap .typeselActive {
	background-color: #19181f !important;
	box-shadow:-1px -1px 1px #000 inset, 1px 1px 1px #55565b;
	padding-top: 2px !important;
	padding-bottom: 4px !important;
}
.vista-pmsite-aptListPage .vista-pmsite-main {
	display: inline-block;
	width: 744px;
	vertical-align: top;
}
.vista-pmsite-aptListPage .apartmentListingWrap {
	width:100%;
}
.vista-pmsite-aptListPage .apartmentListingWrap .listing_listview {
	background:white;
	padding-bottom:40px;
}

.switchMapList {
	background-image: url("images/template0/aptListIcons.png");
	background-repeat: no-repeat;
	width:120px;
	height:25px;
	padding-top:5px;
	padding-left:30px;
	margin-top:20px;
	float:right;
	color:#6c6d6f;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
}
.switchMapList:hover {
	background-image: url("images/template0/aptListIcons-hlight.png");
	color:#339900;
}
.switchMapList_List {
	background-position:0px -60px;
}
.vista-pmsite-aptListPage .apartmentListingWrap .listing_mapview {
	width:744px;
	height:650px;
}
.apartmentListingWrap .listingEntry {
	background: white;
	padding:20px;
	border-bottom: 1px solid #ccc;
	color: #222;
}
.apartmentListingWrap .listingEntry:hover {
	background:#d8e7bc;
}
.apartmentListingWrap .listingEntry:first-child {
	border-top: 1px solid #ccc;
}
.apartmentListingWrap .listingEntry .pictureBox {
	display: inline-block;
	vertical-align: top;
	width:80px;
	min-height:75px;
	text-align:center;
} 
.apartmentListingWrap .listingEntry .pictureBox .picture {
	width:100%;
}
.apartmentListingWrap .listingEntry .infoBox {
	display: inline-block;
	vertical-align: top;
	width:450px;
	padding:0 20px;
} 
.apartmentListingWrap .listingEntry .infoBoxEntry {
	padding:4px 0;
} 
.apartmentListingWrap .listingEntry .infoBoxEntry .infoBoxCaption {
	display: inline-block;
	vertical-align: top;
	width:80px;
	text-align:right;
	padding-right:8px;
	font-weight:normal;
}
.apartmentListingWrap .listingEntry .infoBoxEntry .infoBoxText {
	display: inline-block;
	vertical-align: top;
	width:340px;
	font-weight:bold;
}
.apartmentListingWrap .listingEntry .infoBox .description .infoBoxText {
	font-weight:normal;
}
.apartmentListingWrap .listingEntry .infoBox ul.infoBoxText {
	margin:0;
	padding:0;
}
.apartmentListingWrap .listingEntry .infoBox .types li {
	list-style:none;
}
.apartmentListingWrap .listingEntry .infoBox .amenities li {
	float: left;
	margin: 0 10px;
}

.apartmentListingWrap .listingEntry .infoBox .amenities li:first-child {
	list-style: none;
	margin-left: 0;
}
.apartmentListingWrap .listingEntry .controlBox {
	display: inline-block;
	vertical-align: top;
	width:80px;
	padding:0 20px;
} 
.apartmentListingWrap .listingEntry .controlButton {
	float:right;
	padding:6px 0;
	border-bottom: 1px solid #ccc;
}
.listingCtlButton {
	background-image: url("images/template0/aptListIcons.png");
	background-repeat: no-repeat;
	display:block;
	width:70px;
	height:25px;
	padding-top:5px;
	padding-left:30px;
	font-weight:bold;
	cursor:pointer;
	color:#6c6d6f;
}
a.listingCtlButton {
	color:#6c6d6f !important;
	text-decoration:none;
}
.apartmentListingWrap .listingEntry:hover .listingCtlButton {
	background-image: url("images/template0/aptListIcons-hlight.png");
	color:#339900 !important;
}
#btnShowOnMap {
	background-position:0px 0px;
}
#btnViewDetails {
	background-position:0px -30px;
}
.display_none {
	display:none;
}
