.vista-pmsite-findAptPage {
    color: #777;
    font-size: 16px;
}

.vista-pmsite-findAptPage .vista-pmsite-contentWrap {
	background: url("images/template0/inner_content_bg.png") repeat-x scroll
		0 0 #37393F;
}

.vista-pmsite-findAptPage .vista-pmsite-content {
	background: url("images/template0/inner_bg.png") no-repeat scroll 50% 0
		transparent;
}
.vista-pmsite-findAptPage .content {
	background: url("images/template0/FreeCableTV.png") no-repeat right 40px;
}
.vista-pmsite-findAptPage .caption {
	background: url("images/template0/title_bg.gif") repeat-y scroll 0 -40px
		transparent;
	background-size: 100% 100%;
	height: 80px;
	overflow: hidden;
	padding: 40px 0 0 30px;
}

.vista-pmsite-findAptPage .caption h1 {
	font-size: 36px;
	font-weight: normal;
	line-height: 38px;
	padding: 0 0 20px;
	color:#ccc;
}

.advancedSearchWideWrap {
	padding: 30px 50px;
	width:566px;
	background-color:white;
}

.advancedSearchWideWrap input[type=submit] {
    background: url("images/template0/btn.png") no-repeat;
    border: none;
    width: 128px;
    height: 32px;
    padding: 5px 0;
    color: #000000;
    font-size: 16px;
    text-shadow: 0 1px 0 #CCCCCC;
    text-transform: uppercase;
    cursor: pointer;
}

.advancedSearchWideWrap label {
	display:block;
	padding:6px 0;
	white-space:nowrap;
}
.advancedSearchWideWrap .searchTypeSelBox {
	float:left;
	clear:both;
	width:100%;
	margin-top:30px;
	height: 60px;
}
.advancedSearchWideWrap .searchTypeSelButton {
	width:226px;
	font-size:20px;
	letter-spacing:3px;
	box-shadow:-1px -1px 1px #eee, 1px 1px 1px #24262a;
	border-radius:3px;
	margin-left:30px;
	padding:6px 20px;
	background-color:#ccc;
	text-align:center;
	float:left;
	color:#666;
}
.advancedSearchWideWrap .searchTypeSelButton:first-child {
	margin-left:0px;
}
.advancedSearchWideWrap .searchTypeSelButton label {
	display:inline-block;
}
.advancedSearchWideWrap .searchTypeSelButton input[type=radio] {
	display:none;
}
.advancedSearchWideWrap .searchTypeBox {
	float:left;
	clear:both;
	width:100%;
	margin-top:30px;
}
.advancedSearchWideWrap .searchTypeBox .searchField {
	float:left;
	margin-left:25px;
}
.advancedSearchWideWrap .searchTypeBox .searchField:first-child {
	margin-left:0;
}
.advancedSearchWideWrap .searchTypeBox select {
	width:266px;
	margin:1px;
}
.advancedSearchWideWrap .searchTypeBox input[type=text] {
	width:262px;
	margin:1px;
}
.advancedSearchWideWrap .searchCommonBox {
	clear:both;
	float:left;
	width:100%;
	margin-top:30px;
}
.advancedSearchWideWrap .searchCommonBox .searchField {
	width:175px;
	margin-left:15px;
	display: inline-block;
}
.advancedSearchWideWrap .searchCommonBox .searchField:first-child {
	margin-left:0px;
}
.advancedSearchWideWrap .searchCommonBox .searchField .inputJoinBox {
	display:inline-block;
	width:34px;
	text-align:center;
}
.advancedSearchWideWrap .searchCommonBox select {
	width:67px;
	margin:1px;
}
.advancedSearchWideWrap .searchCommonBox input[type=text] {
	width:62px;
	margin:1px;
}
.advancedSearchWideWrap .searchAmenityBox {
	float:left;
	clear:both;
	width:100%;
	border-top:1px dotted #5d5e63;
	padding-top:20px;
	margin-top:30px;
	margin-bottom:40px;
}
.advancedSearchWideWrap .searchAmenityBox .searchField > label {
	float:left;
	clear:left;
	width:110px;
}
.advancedSearchWideWrap .searchAmenityBox br {
	display:none;
}
.advancedSearchWideWrap .searchAmenityBox .amenityList {
	float:left;
	width:450px;
	display: inline-block;
}
.advancedSearchWideWrap .searchAmenityBox .amenityList label {
	display:inline-block;
	width:88px;
}
.advancedSearchWideWrap .searchAmenityBox .amenityList label:lang(fr) {
	display:inline-block;
	width:125px;
	font-size:13px;
}
.advancedSearchWideWrap .typeselActiveHover {
	background-color:#bbb !important;
}
.advancedSearchWideWrap .typeselActive {
	background-color:#bbb !important;
	color:#444 !important;
	box-shadow:1px 1px 1px #000 inset, -1px -1px 1px #55565b;
	padding-top:7px !important;
	padding-bottom:5px !important;
}
