.vista-pmsite-findAptPage {
    color: #CCCCCC;
    font-size: 16px;
}

.vista-pmsite-findAptPage .vista-pmsite-contentWrap {
}

.vista-pmsite-findAptPage .vista-pmsite-content {
}

.vista-pmsite-findAptPage .caption {
	background-size: 100% 100%;
	height: 80px;
	overflow: hidden;
	padding: 40px 0 0 30px;
}

.vista-pmsite-findAptPage .caption h1 {
	font-size: 36px;
	font-weight: normal;
	line-height: 38px;
	padding: 0 0 20px;
}

.vista-pmsite-findAptPage .advancedSearchCriteria {
	padding: 30px 60px;
}


.vista-pmsite-findAptPage input[type=submit] {
    border: none;
    width: 128px;
    height: 32px;
    padding: 5px 0;
    color: #000000;
    font-size: 16px;
    text-shadow: 0 1px 0 #CCCCCC;
    text-transform: uppercase;
    cursor: pointer;
}

.vista-pmsite-findAptPage label {
	display:block;
	padding:6px 0;
	white-space:nowrap;
}
.vista-pmsite-findAptPage .input_block_frame {
}
.vista-pmsite-findAptPage .search_typesel_box {
	width:226px;
	font-size:20px;
	letter-spacing:3px;
	box-shadow:-1px -1px 1px #404247, 1px 1px 1px #24262a;
	border-radius:3px;
	margin-left:30px;
	padding:6px 20px;
	background-color:#22242a;
	text-align:center;
	float:left; 
}
.vista-pmsite-findAptPage .search_typesel_box:first-child {
	margin-left:0px;
}
.vista-pmsite-findAptPage .search_typesel_box label {
	display:inline-block;
}
.vista-pmsite-findAptPage .search_typesel_box input[type=radio] {
	display:none;
}
.vista-pmsite-findAptPage .search_type_box {
	float:left;
	clear:both;
	width:100%;
	margin-top:30px;
}
.vista-pmsite-findAptPage .search_type_box .search_field {
	float:left;
	margin-left:25px;
}
.vista-pmsite-findAptPage .search_type_box .search_field:first-child {
	margin-left:0;
}
.vista-pmsite-findAptPage .search_type_box select {
	width:266px;
	margin:1px;
}
.vista-pmsite-findAptPage .search_type_box input[type=text] {
	width:262px;
	margin:1px;
}
.vista-pmsite-findAptPage .search_common_box {
	width:100%;
	margin-top:30px;
	clear:both;
}
.vista-pmsite-findAptPage .search_common_box .search_field {
	width:174px;
	margin-left:22px;
	display: inline-block;
}
.vista-pmsite-findAptPage .search_common_box .search_field:first-child {
	margin-left:0px;
}
.vista-pmsite-findAptPage .search_common_box .search_field .input_join_box {
	display:inline-block;
	width:34px;
	text-align:center;
}
.vista-pmsite-findAptPage .search_common_box select,
.vista-pmsite-findAptPage .search_common_box input[type=text] {
	width:62px;
	margin:1px;
}
.vista-pmsite-findAptPage .search_amenity_box {
	width:100%;
	border-top:1px dotted #5d5e63;
	padding-top:20px;
	margin-top:30px;
	margin-bottom:40px;
}
.vista-pmsite-findAptPage .search_amenity_box .search_field > label {
	width:110px;
}
.vista-pmsite-findAptPage .search_amenity_box br {
	display:none;
}
.vista-pmsite-findAptPage .search_amenity_box .amenity_list {
	width:450px;
	display: inline-block;
}
.vista-pmsite-findAptPage .search_amenity_box .amenity_list label {
	display:inline-block;
	width:88px;
}
.vista-pmsite-findAptPage .typesel_active_hover {
	background-color:#19181f !important;
}
.vista-pmsite-findAptPage .typesel_active {
	background-color:#19181f !important;
	box-shadow:-1px -1px 1px #000 inset, 1px 1px 1px #55565b;
	padding-top:4px !important;
	padding-bottom:8px !important;
}
