.vista-pmsite-inquiryFormPage {
	font-size:14px;
	color:#CCCCCC;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-contentWrap {
	background: url("images/template0/inner_content_bg.png") repeat-x #37393F;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-content {
	background: url("images/template0/inner_bg.png") no-repeat;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar {
	display: inline-block;
	width: 318px;
	vertical-align: top;
	padding:20px 16px;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-main {
	display: inline-block;
	width: 605px;
	vertical-align: top;
	min-height:600px;
	background:white;
	color:#222;
}
