.vista-pmsite-inquiryFormPage {
	font-size:14px;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-mainWrap {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
    background: ${background_10};
}
.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar {
	display: inline-block;
	width: 318px;
	vertical-align: top;
	padding:20px 16px;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-main {
	display: inline-block;
	width: 606px;
	vertical-align: top;
	min-height:600px;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-main .caption2 {
	border-bottom:1px solid ${foreground_20};
}

.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar .pictureBox {
	width:100%;
	text-align:center;
} 
.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar .pictureBox .picture {
	width:100%;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar .pictureBox .gallery {
	height:50px;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar .pictureBox .gallery img {
	width:57px;
	height:40px;
	cursor:pointer;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar .pictureBox .gallery span {
	float:left;
	margin:5px 0 5px 8px;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar .pictureBox .gallery span:first-child {
	margin-left:0;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar .infoBox {
	width:100%;
	font-weight:bold;
	color:${foreground_80};
} 
.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar .infoBoxEntry {
	padding-top:15px;
} 
.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar .infoBoxEntry .infoBoxCaption {
	display:block;
	padding-top:4px;
}
.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar .infoBoxEntry .infoBoxText {
	display:block;
	padding-top:4px;
}
.vista-pmsite-inquiryFormPage .apartmentDetailsWrap {
	border-left:1px solid ${foreground_20};
	min-height: 550px;
}
.inquiryFormWrap .inputEntry {
	padding:10px 0;
	margin:0 30px;
}
.inquiryFormWrap .inputEntry .inputLabel {
	display:inline-block;
	width: 150px;
	padding-right:20px;
	text-align:right;
	vertical-align:top;
	color:${foreground_60};
}
.inquiryFormWrap .inputBox {
	display:inline-block;
	width:370px;
}
.inquiryFormWrap .inputEntry textarea {
	width:360px;
}
.inquiryFormWrap .inputEntry .captcha {
	display:inline-block;
	width:360px;
}
.inquiryFormWrap input[type=submit] {
	background: ${object1_100};
	border: 2px solid ${object1_100};
	color: ${object1_10};
    height: 32px;
    min-width:128px;
    padding:0 8px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
.inquiryFormWrap input[type=submit]:hover {
	background-position: 0 -32px;
}
/*
 * Datepicker style
 */
.inquiryFormWrap .inputEntry .ui-datepicker-trigger {
	background:url(jquery_ui_images/calendar.png) no-repeat;
	display:inline-block;
	width:21px; height:20px;
}
.ui-datepicker {
	font-size:10px !important;
}
