.vista-pmsite-contentWrap {
	background: url("images/template0/content_bg.png") repeat-x scroll 0 0
		#37393F;
}
.vista-pmsite-content {
	background: url("images/template0/main_bg.png") no-repeat;
}
.banner {
	height: 375px;
	width: 960px;
	position: relative;
}
.banner_img {
	height: 430px;
	width: 960px;
	float: left;
	position: absolute; bottom:0;
	background: url("images/template0/landing.png") no-repeat;
}

.quickSearchPanel {
	width: 200px;
	padding-top:60px;
	padding-right:30px;
	float:right;
}

.quickSearchPanel h3 {
	color: #FFFFFF;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

.quickSearchPanel label {
	color: #CCCCCC;
	display: block;
	font-size: 13px;
	padding: 0 0 3px;
}

.quickSearchPanel select {
	width: 100%;
	margin-bottom: 15px;
}

.quickSearchPanel input {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #000000;
	cursor: pointer;
	font-size: 16px;
	padding: 5px 0;
	text-shadow: 0 1px 0 #CCCCCC;
	text-transform: uppercase;
	width: 128px;
}

.quickSearchPanel .submit {
	background: url("images/template0/btn.png") no-repeat scroll 0 0
		transparent;
	height: 32px;
	margin: 15px auto 0;
	overflow: hidden;
	width: 128px;
}

.vista-pmsite-mainWrap {
}

.vista-pmsite-sidebarWrap {
	width: 100%;
	background:#34363C;
}

.vista-pmsite-sidebar {
	width: 280px;
	display:inline-block;
	vertical-align:top;
}
.newsBox {
	padding: 20px 30px;
	min-height: 614px;
	background: url("images/template0/bg_sidebar.gif") repeat-x #34363C;
	background-size:100% 100%;
}

.newsBox .date {
	color: #777;
	padding-top: 10px;
}

.newsBox .headline {
	padding-top: 10px;
	color: #B5E329;
}

.newsBox .text {
	padding-top: 10px;
}

.newsBox .read_more {
	color: #B5E329;
	font-size: 20px;
	line-height: 14px;
	vertical-align: text-top;
}

.vista-pmsite-main {
	width: 670px;
	display:inline-block;
	vertical-align:top;
}
.infobox_header_title {
	font-size: 22px;
	line-height: 40px;
}


.promoBox {
	padding:20px 10px 0;
	float:left;
	overflow:hidden;
}

.promoBox .infobox_content {
	width:140px;
	height:150px;
	float:left;
	margin-left:20px;
}

.promoBox .infobox_content:first-child {
	margin-left:0px;
}

.promoBox .picture {
	width:140px;
	background:grey;
}
.promoBox a .picture {
	border:1px solid #34363C;
}
.promoBox a:hover .picture {
	border:1px solid #B5E329;
}
.promoBox .read_more {
	color:#B5E329;
	font-size:16px;
	padding-left:10px;
}

.testimBox {
	padding: 20px 10px;
	float: left;
}

.testimBox .infobox_decor {
	position: relative;
	display:inline-block;
}

.testimBox .callout_line {
	fill:#2A2C30;
	stroke:#1F2125;
	stroke-width:1;
}

.testimBox .callout {
	position: absolute;
	top:156px;
	left:250px;
}

.testimBox .infobox_content {
	overflow: hidden;
	float: left;
	width: 260px;
	height: 100px;
	margin: 15px 10px;
	padding: 20px;
	background: #2A2C30;
	
	border: 1px solid #1F2125;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;	
}

.testimBox .name {
	color: #B5E329;
	text-align: right;
	padding: 10px 0 0 0;
}

.testimBox .read_more {
	color: #B5E329;
	font-size: 16px;
	padding-left: 10px;
}
