.vista-pmsite-contentWrap {
}
.vista-pmsite-content {
}
.banner {
	height: 375px;
    margin: 0 auto;
	width: 960px;
	position: relative;
	background: ${contrast1_20};
}
.banner_img {
	height: 375px;
	width: 960px;
	position: absolute; bottom:0;
	background: url("images/template1/landing.png") no-repeat;
}

.quickSearchPanel {
	width: 200px;
	height:335px;
	padding:20px 40px;
	background:${object2_100};
}

.quickSearchPanel h3 {
	color: #555555;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

.quickSearchPanel label {
	color: #555555;
	display: block;
	font-size: 13px;
	padding: 0 0 3px;
}

.quickSearchPanel select {
	width: 100%;
	margin-bottom: 15px;
}

.quickSearchPanel input[type=submit] {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: ${background_100};
	cursor: pointer;
	font-size: 16px;
	padding: 5px 0;
	text-transform: uppercase;
	width: 128px;
}

.quickSearchPanel .submit {
	background: ${contrast1_100};
	color: ${contrast1_10}
	height: 32px;
	margin: 15px auto 0;
	overflow: hidden;
	width: 128px;
	border: 2px solid ${contrast1_120};
}

.vista-pmsite-mainWrap {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.vista-pmsite-sidebarWrap {
	float: left;
	position: relative;
	width: 100%;
	right: 680px;
	border-right: 1px solid ${object1_100};
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
}

.vista-pmsite-sidebar {
	position: relative;
	float: left;
	width: 280px;
	left: 680px;
}

.vista-pmsite-main {
	width: 678px;
	position: relative;
	float: left;
	left: 680px;
	background: ${background_100};
}

.testimBox {
	padding: 20px 10px;
	float: left;
}

.testimBox .infobox_decor {
	position: relative;
	display:inline-block;
	margin: 20px 3px;
}

.testimBox .callout_line {
	fill:${object1_30};
	stroke:${object1_40};
	stroke-width:1;
}

.testimBox .callout {
	position: absolute;
	top:150px;
	left:250px;
}

.testimBox .infobox_content {
	width: 260px;
	height: 100px;
	overflow: hidden;
	float: left;
	margin: 10px;
	padding: 20px;
	background: ${object1_30};
	
	border: 1px solid ${object1_40};
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.testimBox .name {
	color: ${foreground_100};
	text-align: right;
	padding: 10px 0 0 0;
}

.testimBox .read_more {
	color: ${contrast2_100};
	font-size: 16px;
	padding-left: 10px;
}

.newsBox {
	width: 220px;
	padding: 20px 30px;
	display: inline-block;
	min-height: 614px;
	float: left;
}

.newsBox .date {
	color: ${foreground_40};
	padding-top: 10px;
}

.newsBox .headline {
	padding-top: 10px;
	color: ${contrast2_100};
}

.newsBox .text {
	padding-top: 10px;
}

.newsBox .read_more {
	color: ${contrast2_100};
	font-size: 20px;
	line-height: 14px;
	vertical-align: text-top;
}

.infobox_header {
	font-size: 22px;
	line-height: 40px;
	/*background: ${object2_100}*/
}

.infobox_header_title {
	font-size: 22px;
	line-height: 40px;
	padding:5px;
}

.infobox_header_title:lang(fr) {
	font-size: 18px;
}

.promoBox {
	height:180px;
	padding:20px 10px 0;
	float:left;
	overflow:hidden;
}

.promoBox .infobox_content {
	width:140px;
	height:150px;
	float:left;
	margin-left:20px;
}

.promoBox .infobox_content:first-child {
	margin-left:0px;
}

.promoBox .picture {
	width:140px;
	background:grey;
}

.promoBox a .picture {
	border:1px solid ${background_100};
}
.promoBox a:hover .picture {
	border:1px solid ${contrast2_100};
}

.promoBox .read_more {
	color: ${contrast2_100};
	font-size:16px;
	padding-left:10px;
}