.vista-pmsite-testimBox {
	padding: 20px 10px;
	float: left;
}

.vista-pmsite-testimBox .infobox_content {
	width: 250px;
	height: 80px;
	overflow: hidden;
	float: left;
	width: 260px;
	height: 143px;
	margin: 15px;
	padding: 20px;
	background: url("images/template0/cite.png") no-repeat;
}

.vista-pmsite-testimBox .name {
	color: #B5E329;
	text-align: right;
	padding: 10px 0 0 0;
}

.vista-pmsite-testimBox .read_more {
	color: #B5E329;
	font-size: 16px;
	padding-left: 10px;
}

.vista-pmsite-newsBox {
	width: 220px;
	padding: 20px 30px;
	display: inline-block;
	min-height: 614px;
	background: url("images/template0/bg_sidebar.gif") repeat-x #34363C;
	float: left;
}

.vista-pmsite-newsBox .date {
	color: #777;
	padding-top: 10px;
}

.vista-pmsite-newsBox .headline {
	padding-top: 10px;
	color: #B5E329;
}

.vista-pmsite-newsBox .text {
	padding-top: 10px;
}

.vista-pmsite-newsBox .read_more {
	color: #B5E329;
	font-size: 20px;
	line-height: 14px;
	vertical-align: text-top;
}

.infobox_heading {
	font-size: 22px;
	line-height: 40px;
}


.vista-pmsite-promoBox {
	width:600px;
	height:240px;
	padding:20px 10px;
	float:left;
	overflow:hidden;
}
.vista-pmsite-promoBox .infobox_content {
	width:130px;
	height:200px;
	float:left;
	margin-left:20px;
}
.vista-pmsite-promoBox .infobox_content:first-child {
	margin-left:0px;
}
.vista-pmsite-promoBox .picture {
	width:130px;
	background:grey;
}
.vista-pmsite-promoBox .read_more {
	color:#B5E329;
	font-size:16px;
	padding-left:10px;
}