.vista-pmsite-landingPage .vista-pmsite-contentWrap {
}
.vista-pmsite-landingPage .vista-pmsite-content {
}
.vista-pmsite-landingPage .banner {
	height: 375px;
    margin: 0 auto;
	width: 960px;
	position: relative;
	background: ${accentColor_20};
}
.vista-pmsite-landingPage .banner_img {
	height: 375px;
	width: 960px;
	position: absolute; bottom:0;
	background: url("images/template1/landing.png") no-repeat;
}

.vista-pmsite-landingPage .quickSearchPanel {
	width: 200px;
	height:335px;
	padding:20px 40px;
	background:#f4f4f4;
}

.vista-pmsite-landingPage .quickSearchPanel h3 {
	color: #555555;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

.vista-pmsite-landingPage .quickSearchPanel label {
	color: #555555;
	display: block;
	font-size: 13px;
	padding: 0 0 3px;
}

.vista-pmsite-landingPage .quickSearchPanel select {
	width: 100%;
	margin-bottom: 15px;
}

.vista-pmsite-landingPage .quickSearchPanel input[type=submit] {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: ${bgColor_100};
	cursor: pointer;
	font-size: 16px;
	padding: 5px 0;
	text-transform: uppercase;
	width: 128px;
}

.vista-pmsite-landingPage .quickSearchPanel .submit {
	background: url("images/template1/submit.png") no-repeat scroll 0 0
		transparent;
	height: 32px;
	margin: 15px auto 0;
	overflow: hidden;
	width: 128px;
}

.vista-pmsite-landingPage .vista-pmsite-mainWrap {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.vista-pmsite-landingPage .vista-pmsite-sidebarWrap {
	float: left;
	position: relative;
	width: 100%;
	right: 680px;
	border-right: 1px solid ${accentColor_10};
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
}

.vista-pmsite-landingPage .vista-pmsite-sidebar {
	position: relative;
	float: left;
	width: 280px;
	left: 680px;
}

.vista-pmsite-landingPage .vista-pmsite-main {
	width: 678px;
	position: relative;
	float: left;
	left: 680px;
	background: ${bgC0lor_100};
}

.vista-pmsite-landingPage .testimBox {
	padding: 20px 10px;
	float: left;
}

.vista-pmsite-landingPage .testimBox .infobox_content {
	width: 250px;
	height: 80px;
	overflow: hidden;
	float: left;
	width: 260px;
	height: 100px;
	margin: 10px;
	padding: 20px;
	background: ${primeColor_10};
}

.vista-pmsite-landingPage .testimBox .name {
	color: ${fgColor_100};
	text-align: right;
	padding: 10px 0 0 0;
}

.vista-pmsite-landingPage .testimBox .read_more {
	color: ${hlightColor_100};
	font-size: 16px;
	padding-left: 10px;
}

.vista-pmsite-landingPage .newsBox {
	width: 220px;
	padding: 20px 30px;
	display: inline-block;
	min-height: 614px;
	float: left;
}

.vista-pmsite-landingPage .newsBox .date {
	color: ${fgColor_40};
	padding-top: 10px;
}

.vista-pmsite-landingPage .newsBox .headline {
	padding-top: 10px;
	color: ${hlightColor_100};
}

.vista-pmsite-landingPage .newsBox .text {
	padding-top: 10px;
}

.vista-pmsite-landingPage .newsBox .read_more {
	color: ${hlightColor_100};
	font-size: 20px;
	line-height: 14px;
	vertical-align: text-top;
}

.vista-pmsite-landingPage .infobox_heading {
	font-size: 22px;
	line-height: 40px;
}


.vista-pmsite-landingPage .promoBox {
	height:240px;
	padding:20px 10px;
	float:left;
	overflow:hidden;
}

.vista-pmsite-landingPage .promoBox .infobox_content {
	width:140px;
	height:200px;
	float:left;
	margin-left:20px;
}

.vista-pmsite-landingPage .promoBox .infobox_content:first-child {
	margin-left:0px;
}

.vista-pmsite-landingPage .promoBox .picture {
	width:140px;
	background:grey;
}

.vista-pmsite-landingPage .promoBox a .picture {
	border:1px solid ${bgColor_100};
}
.vista-pmsite-landingPage .promoBox a:hover .picture {
	border:1px solid ${hlightColor_100};
}

.vista-pmsite-landingPage .promoBox .read_more {
	color: ${hlightColor_100};
	font-size:16px;
	padding-left:10px;
}