.vista-pmsite-landingPage .vista-pmsite-contentWrap {
	background: url("images/template0/content_bg.png") repeat-x scroll 0 0
		#37393F;
}
.vista-pmsite-landingPage .vista-pmsite-content {
	background: url("images/template0/main_bg.png") no-repeat;
}
.vista-pmsite-landingPage .banner {
	height: 375px;
	width: 960px;
	position: relative;
}
.vista-pmsite-landingPage .banner_img {
	height: 430px;
	width: 960px;
	float: left;
	position: absolute; bottom:0;
	background: url("images/template0/landing.png") no-repeat;
}

.vista-pmsite-landingPage .quickSearchPanel {
	width: 200px;
	padding-top:60px;
	padding-right:30px;
	float:right;
}

.vista-pmsite-landingPage .quickSearchPanel h3 {
	color: #FFFFFF;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

.vista-pmsite-landingPage .quickSearchPanel label {
	color: #CCCCCC;
	display: block;
	font-size: 13px;
	padding: 0 0 3px;
}

.vista-pmsite-landingPage .quickSearchPanel select {
	width: 100%;
	margin-bottom: 15px;
}

.vista-pmsite-landingPage .quickSearchPanel input {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #000000;
	cursor: pointer;
	font-size: 16px;
	padding: 5px 0;
	text-shadow: 0 1px 0 #CCCCCC;
	text-transform: uppercase;
	width: 128px;
}

.vista-pmsite-landingPage .quickSearchPanel .submit {
	background: url("images/template0/btn.png") no-repeat scroll 0 0
		transparent;
	height: 32px;
	margin: 15px auto 0;
	overflow: hidden;
	width: 128px;
}

.vista-pmsite-landingPage .vista-pmsite-mainWrap {
}

.vista-pmsite-sidebarWrap {
	width: 100%;
	background:#34363C;
}

.vista-pmsite-sidebar {
	width: 280px;
	display:inline-block;
	vertical-align:top;
}
.vista-pmsite-landingPage .newsBox {
	padding: 20px 30px;
	min-height: 614px;
	background: url("images/template0/bg_sidebar.gif") repeat-x #34363C;
	background-size:100% 100%;
}

.vista-pmsite-landingPage .newsBox .date {
	color: #777;
	padding-top: 10px;
}

.vista-pmsite-landingPage .newsBox .headline {
	padding-top: 10px;
	color: #B5E329;
}

.vista-pmsite-landingPage .newsBox .text {
	padding-top: 10px;
}

.vista-pmsite-landingPage .newsBox .read_more {
	color: #B5E329;
	font-size: 20px;
	line-height: 14px;
	vertical-align: text-top;
}

.vista-pmsite-landingPage .vista-pmsite-main {
	width: 670px;
	display:inline-block;
	vertical-align:top;
}
.vista-pmsite-landingPage .infobox_heading {
	font-size: 22px;
	line-height: 40px;
}


.vista-pmsite-landingPage .promoBox {
	width:600px;
	height:240px;
	padding:20px 10px;
	float:left;
	overflow:hidden;
}

.vista-pmsite-landingPage .promoBox .infobox_content {
	width:130px;
	height:200px;
	float:left;
	margin-left:20px;
}

.vista-pmsite-landingPage .promoBox .infobox_content:first-child {
	margin-left:0px;
}

.vista-pmsite-landingPage .promoBox .picture {
	width:130px;
	background:grey;
}

.vista-pmsite-landingPage .promoBox .read_more {
	color:#B5E329;
	font-size:16px;
	padding-left:10px;
}

.vista-pmsite-landingPage .testimBox {
	padding: 20px 10px;
	float: left;
}

.vista-pmsite-landingPage .testimBox .infobox_content {
	overflow: hidden;
	float: left;
	width: 260px;
	height: 143px;
	margin: 15px 10px;
	padding: 20px;
	background: url("images/template0/cite.png") no-repeat;
}

.vista-pmsite-landingPage .testimBox .name {
	color: #B5E329;
	text-align: right;
	padding: 10px 0 0 0;
}

.vista-pmsite-landingPage .testimBox .read_more {
	color: #B5E329;
	font-size: 16px;
	padding-left: 10px;
}
