img,form,fieldset {
	border: medium none;
}

form,fieldset {
	margin: 0;
	padding: 0;
}

body,h1,h2,h3,h4,h5,h6,dl,dt,dd,p {
	margin: 0;
}

q {
	quotes: none;
}

q:before {
	content: "";
}

q:after {
	content: "";
}

input:focus {
	outline: medium none;
}

textarea:focus {
	outline: medium none;
}

select:focus {
	outline: medium none;
}

html,body {
	height: 100%;
	width: 100%;
	color: ${fgColor_100};
}

body {
	font: 13px/16px Arial, Helvetica, sans-serif;
}

input,select,textarea {
	color: ${fgColor_100};
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

a {
	color: ${hlightColor_100};
	outline: medium none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

select {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-color: ${bgColor_100};
	color: ${fgColor_100};
}

.header {
	width: 100%;
}

.main {
	margin: 10px auto;
	width: 960px;
	background:${primeColor_100};
	position:relative;
}

.titleLogo {
	display: inline-block;
	font-size:0;
}
.titleLogo a {
	background: url("images/template2/logo.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 100px;
	width: 340px;
}

.navigation {
	width: 615px;
	display:inline-block;
	vertical-align:bottom;
	text-align:center;
	position:absolute; right:0; bottom:0;
	overflow:hidden;
	height:50px;
}

.navigation ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.navigation ul li {
	display:inline;
}

.navigation ul li span {
	font-size: 18px;
	line-height: 50px;
	padding: 2px 0;
	margin:0 10px;
}

.navigation span:lang(fr) {
	margin:0 5px;
}

.navigation a {
	color: ${accentColor_100};
	text-decoration: none;
}

.navigation a:hover {
	color: ${accentColor_60};
}

.navigation .active a {
	color: ${accentColor_60};
}
.navigation .active a span {
	border-bottom:2px solid ${accentColor_60};
}

.navigation .active a:hover {
}

.locale {
	float:right;
	display:inline;
	padding-right:10px;
}

.langItem {
	border-left: 1px solid ${hlightColor_100};
	padding: 0 3px;
	text-align: center;
}

.langItem:first-child {
	border-left: 0;
}

.langItem a {
	color:${hlightColor_100};
}

.langItem a:hover {
	color: ${hlightColor_60};
}

.auth {
	float: right;
	padding-right: 10px;
	display:inline;
}

.auth a {
	color: ${hlightColor_100};
}

.auth a:hover {
	color: ${hlightColor_60};
}
/*
 * Footer
 */
 
#footer {
	position: relative;
}

#footer .main {
	margin-top:10px;
	height:100%;
}
.footer_wrap {
}

ul.footer_locations {
	list-style-type: none;
	display: inline-block;
	font-weight: bold;
	padding-left:100px;
}

ul.footer_locations li {
	float: left;
	width: 200px;
}

.footer_locations a {
	color: ${accentColor_100};
}

.footer_locations a:hover {
	color: ${accentColor_60};
}

.footer_links {
	text-align: center;
}

.footer_link:first-child {
	border-left: 0;
}

.footer_link {
	padding: 0 10px;
	border-left: 1px solid ${accentColor_100};
}

.footer_link a {
	color: ${accentColor_100};
}

.footer_link a:hover {
	color: ${accentColor_60};
}

.footer_legal {
	text-align: center;
	line-height: 60px;
	color: ${accentColor_100};
}

.vista-pmsite-main .caption {
	background-size: 100% 100%;
	height: 80px;
	overflow: hidden;
	padding: 40px 0 0 30px;
}

.vista-pmsite-main .caption h1 {
	font-size: 36px;
	font-weight: normal;
	line-height: 38px;
	padding: 0 0 20px;
}
.caption2 {
	height:60px;
}
.vista-pmsite-main .caption2 h1 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 22px 0 0 24px;
	color: ${fgColor_60};
	float: left;
}
