.display_none {
	display:none;
}
.popup_frame {
        background:#666;
        padding:4px;
}
.popup_screen {
        background:black;
        margin:4px;
        width:100%; height:100%;
        position:fixed; top:0; left:0;
        opacity:0.5; filter:alpha(opacity=50); -moz-opacity:0.5;
}
.popup_close {
        position:absolute; top:-12px; right:-12px;
        background:url(jquery_ui_images/iconClose.png) no-repeat;
        width:32px; height:32px;
        cursor:pointer;
}
.googleMapsTimeout-error {
	text-align:center;
	position:relative; top:50%;
	font-size:16px;
	font-weight:bold;
	color:#777;
}