.vista-pmsite-residentPage {
	background: url("images/template0/inner_content_bg.png") repeat-x scroll
		0 0 #37393F;
}

.vista-pmsite-residentPage .vista-pmsite-content {
	background: url("images/template0/inner_bg.png") no-repeat scroll 50% 0
		transparent;
}

.vista-pmsite-residentPage .vista-pmsite-contentWrap {
	background: url("images/template0/inner_content_bg.png") repeat-x scroll
		0 0 #37393F;
}

.vista-pmsite-residentPage .secondaryNavig {
	padding: 35px 0;
	width: 211px;
	float: left;
	min-height: 400px;
}

.vista-pmsite-residentPage .secondaryNavig ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.vista-pmsite-residentPage .secondaryNavig ul li {
	color: #CCCCCC;
	font-size: 17px;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	padding: 0 10px 0 35px;
}

.vista-pmsite-residentPage .secondaryNavig ul li.active {
	background: url("images/template0/menu_active.png") no-repeat scroll 0
		50% transparent;
}

.vista-pmsite-residentPage .secondaryNavig ul li a {
	color: #CCCCCC;
}

.vista-pmsite-residentPage .secondaryNavig ul li a:hover {
	color: #B5E329;
	text-decoration: none;
}

.vista-pmsite-residentPage .content {
	min-height: 396px;
	color: #333333;
	background-color: white;
	line-height: 20px;
	overflow: hidden;
	padding: 30px 30px 0;
}


.pyx4j_TextBox {
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border-color: #E7E7E7;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 2px 5px;
}
.pyx4j_TextBox td {
    padding: 0;
}
.pyx4j_TextBox-watermark {
    color: gray;
}
.pyx4j_TextBox-disabled {
    background-color: lightGray;
}
.pyx4j_TextBox-readOnly {
    background-color: #E7EFF9;
    border-style: none;
    border-width: 1px;
}
.pyx4j_TextBox-invalid {
    background-color: #F8D8D8;
    border-color: #F79494;
    border-style: solid;
    border-width: 1px;
}

.EntityFolder {
    margin-left: 6px;
    margin-top: 2px;
    width: 650px;
}
.EntityFolderBoxItem {
    padding: 6px;
}
.EntityFolderBoxDecorator {
    border: 1px dotted #333333;
    margin: 6px;
    width: 100%;
}
.EntityFolderBoxDecorator:hover {
    border: 1px solid #333333;
}
.EntityFolderRowDecorator {
    margin: 6px;
}
.EntityFolderActionsBar {
    opacity: 0.2;
}
.EntityFolderBoxDecorator:hover .EntityFolderActionsBar {
    opacity: 1;
}
.EntityFolderRowDecorator:hover .EntityFolderActionsBar {
    opacity: 1;
}
.EntityFolderAddButton {
    display: inline-block;
    margin: 6px;
}
.EntityFolderAddButtonImage {
    float: left;
}
.EntityFolderAddButtonLabel {
    float: left;
    padding-left: 3px;
}

.PaymentRadioButtonGroup {
    margin-top: 10px;
}
.PaymentRadioButtonGroupItem {
    height: 31px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    margin-right: 5px;
}

.PaymentRadioButtonGroupItem input {
	    padding-top: 4px;
}
.PaymentRadioButtonGroupItem label {
	    padding-top: 4px;
}
.PaymentRadioButtonGroupItem-selected {
    background-color: white;
    border-bottom: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
    z-index: 1;
}
.PaymentRadioButtonGroupPaymentForm {
    border-radius: 5px 5px 5px 5px;
    left: -1px;
    background-color: white;
    border-color: #BBBBBB;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 200px;
    left: -1px;
    padding: 10px 50px;
    position: relative;
    width: 363px;
}

.PaymentRadioButtonGroupPaymentImages {
    margin-top: 10px;
}
.PaymentRadioButtonGroupPaymentImages div {
	border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    border-bottom-left-radius: 3px;
    border-left: 1px solid #F7F7F7;
    border-top-left-radius: 3px;
    height: 31px;
    padding-left: 10px;
    padding-right: 10px;
}
.PaymentRadioButtonGroupPaymentImages div.selected {
    border-bottom: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
}
.PaymentRadioButtonGroupPaymentImages div img {
    padding-left: 10px;
    padding-top: 4px;
}
