.vista-pmsite-residentPage {
	background: url("images/template0/inner_content_bg.png") repeat-x scroll
		0 0 #37393F;
}

.vista-pmsite-residentPage .vista-pmsite-content {
	background: url("images/template0/inner_bg.png") no-repeat scroll 50% 0
		transparent;
		min-height: 546px;
}

.vista-pmsite-residentPage .vista-pmsite-contentWrap {
	background: url("images/template0/inner_content_bg.png") repeat-x scroll
		0 0 #37393F;
}

.vista-pmsite-residentPage .secondaryNavig {
	padding: 35px 0;
	width: 211px;
	float: left;
	min-height: 400px;
}

.vista-pmsite-residentPage .secondaryNavig ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.vista-pmsite-residentPage .secondaryNavig ul li {
	color: #CCCCCC;
	font-size: 17px;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	padding: 0 10px 0 35px;
}

.vista-pmsite-residentPage .secondaryNavig ul li.active {
	background: url("images/template0/menu_active.png") no-repeat scroll 0
		50% transparent;
}

.vista-pmsite-residentPage .secondaryNavig ul li a {
	color: #CCCCCC;
}

.vista-pmsite-residentPage .secondaryNavig ul li a:hover {
	color: #B5E329;
	text-decoration: none;
}

.vista-pmsite-residentPage .content {
	min-height: 396px;
	color: #333333;
	background-color: white;
	line-height: 20px;
	overflow: hidden;
	padding: 30px 30px 0;
}

