.vista-pmsite-signInPage {
    color: ${fgColor_100};
    font-size: 16px;
}

.vista-pmsite-signInPage .vista-pmsite-mainWrap {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.vista-pmsite-signInPage .caption {
	height: 80px;
	overflow: hidden;
	padding: 40px 0 0 30px;
}

.vista-pmsite-signInPage .caption h1 {
	font-size: 36px;
	font-weight: normal;
	line-height: 38px;
	padding: 0 0 20px;
}

.vista-pmsite-signInPage .content {
	min-height: 396px;
	color: ${fgColor_100};
	border-top:1px solid ${fgColor_20};
	background-color: white;
	line-height: 20px;
	overflow: hidden;
	padding: 30px 30px 0;
}
