img,form,fieldset {
	border: medium none;
}

form,fieldset {
	margin: 0;
	padding: 0;
}

body,h1,h2,h3,h4,h5,h6,dl,dt,dd,p {
	margin: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

q {
	quotes: none;
}

q:before {
	content: "";
}

q:after {
	content: "";
}

input:focus {
	outline: medium none;
}

textarea:focus {
	outline: medium none;
}

select:focus {
	outline: medium none;
}

html,body {
	height: 100%;
	width: 100%;
}

body {
	background: url("images/template0/bg_body.gif") repeat-x scroll 0 0
		#202226;
	color: #C9CAC8;
	font: 13px/16px Arial, Helvetica, sans-serif;
}

input,select,textarea {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

a {
	color: #B5E329;
	outline: medium none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

select {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-color: #eee;
	color: #333;
}

.header {
	background: url("images/template0/header_right.jpg") no-repeat scroll
		100% 0 transparent;
	width: 100%;
}

.header .main {
	height: 164px;
}

.main {
	margin: 0 auto;
	position: relative;
	width: 960px;
}

.titleLogo,.titleLogo a {
	display: block;
	height: 84px;
	width: 220px;
}

.titleLogo {
	background: url("images/template0/logo.png") no-repeat scroll 0 0
		transparent;
	left: 14px;
	position: absolute;
	top: 10px;
}

.titleLogo a {
	overflow: hidden;
	text-indent: -9999px;
}

.slogan {
	background: url("images/template0/home_slogan.png") no-repeat scroll 0 0
		transparent;
	display: block;
	height: 15px;
	left: 243px;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	top: 48px;
	width: 244px;
}

.navigation {
	height: 60px;
	left: 0;
	position: absolute;
	top: 101px;
	width: 100%;
}

.navigation ul {
	float: right;
	height: 60px;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 100;
}

.navigation ul li {
	float: left;
	height: 60px;
}

.navigation ul li span {
	text-shadow: 0 0 16px #6AAF34;
	font-size: 18px;
	line-height: 60px;
	margin-left: 30px;
	margin-right: 30px;
	color: #bbb;
}

.navigation a {
	text-decoration: none;
	float: left;
}

.navigation span:lang(fr) {
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;
}

.navigation .active a { /*	background-color: #6fb700; */
	color: #191B22;
	height: 84px;
	line-height: 64px;
	background-image: url("images/template0/top_menu_bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.navigation .active span {
	color: #111;
}

.navigation span:hover {
	color: #B5E329;
}

.navigation .active span:hover {
	color: #191B22;
}

.locale {
	float: right;
}

.langItem {
	border-left: 1px solid #339900;
	padding: 0 3px;
	text-align: center;
}

.langItem:first-child {
	border-left: 0;
}

.langItem a {
	color: #339900;
}

.langItem a:hover {
	color: #B5E329;
}

.landing_content {
	background: url("images/template0/content_bg.png") repeat-x scroll 0 0
		#37393F;
}

.landing_content .main {
	background: url("images/template0/main_bg.png") no-repeat scroll 50% 0
		transparent;
	padding: 0 19px;
}

.landing_content_right {
	width: 660px;
	padding: 10px;
	display: inline-block;
}

.quickSearchCriteria {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	margin-right: 50px;
}

.quickSearchCriteria h3 {
	color: #FFFFFF;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

.quickSearchCriteria label {
	color: #CCCCCC;
	display: block;
	font-size: 13px;
	padding: 0 0 3px;
}

.quickSearchCriteria select {
	width: 100%;
	margin-bottom: 15px;
}

.quickSearchCriteria input {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #000000;
	cursor: pointer;
	font-size: 16px;
	padding: 5px 0;
	text-shadow: 0 1px 0 #CCCCCC;
	text-transform: uppercase;
	width: 128px;
}

.quickSearchCriteria .submit {
	background: url("images/template0/btn.png") no-repeat scroll 0 0
		transparent;
	height: 32px;
	margin: 15px auto 0;
	overflow: hidden;
	width: 128px;
}

.staticMain {
	background: url("images/template0/inner_content_bg.png") repeat-x scroll
		0 0 #37393F;
}

.staticMain .main {
	min-height: 546px;
	padding: 0 19px;
	background: url("images/template0/inner_bg.png") no-repeat scroll 0 0
		transparent;
}

.secondaryNavig {
	padding: 35px 0;
	width: 211px;
	float: left;
	min-height: 400px;
}

.secondaryNavig ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.secondaryNavig ul li {
	color: #CCCCCC;
	font-size: 17px;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	padding: 0 10px 0 35px;
}

.secondaryNavig ul li.active {
	background: url("images/template0/menu_active.png") no-repeat scroll 0
		50% transparent;
}

.secondaryNavig ul li a {
	color: #CCCCCC;
}

.secondaryNavig ul li a:hover {
	color: #B5E329;
	text-decoration: none;
}

.staticMain .caption {
	background: url("images/template0/title_bg.gif") repeat-y scroll 0 -40px
		transparent;
	background-size: 100% 100%;
	height: 80px;
	overflow: hidden;
	padding: 40px 0 0 30px;
}

.staticMain .caption h1 {
	font-size: 36px;
	font-weight: normal;
	line-height: 38px;
	padding: 0 0 20px;
}

.staticConten {
	
}

.staticMain .content {
	min-height: 396px;
	color: #333333;
	background-color: white;
	line-height: 20px;
	overflow: hidden;
	padding: 30px 30px 0;
}

.staticMain .content  a {
	color: #339900;
}

.staticMain .content  p {
	padding: 0 0 25px;
}

.staticMain .content h1 {
	
}

.staticMain .content  h2 {
	font-size: 18px;
	line-height: 20px;
	padding: 0 0 25px;
}

.staticMain .content  h3 {
	font-size: 16px;
	line-height: 20px;
	padding: 0 0 25px;
}

.staticMain .content  h4 {
	font-size: 14px;
	line-height: 20px;
	padding: 0 0 25px;
}

.staticMain .content  address {
	padding: 0 0 25px;
}

.staticMain .content ul,.staticMain .content ol {
	margin: 0;
	padding: 0 0 25px 25px;
}

/*
 * Footer
 */
 
 #footer {
    position: relative;
}

.footer_wrap {
	margin-left: 60px;
}

ul.footer_locations {
	list-style-type: none;
	display: inline-block;
	color: #339900;
	font-weight: bold;
}

ul.footer_locations li {
	float: left;
	width: 200px;
}

.footer_locations a {
	color: #339900;
}

.footer_locations a:hover {
	color: #B5E329;
}

.footer_links {
	text-align: center;
}

.footer_link:first-child {
	border-left: 0;
}

.footer_link {
	padding: 0 10px;
	border-left: 1px solid #339900;
}

.footer_link a {
	color: #339900;
}

.footer_link a:hover {
	color: #B5E329;
}

.footer_legal {
	text-align: center;
	line-height: 60px;
}

.testim_box {
	padding: 20px 0px;
	float: left;
}

.testim_box .infobox_content {
	width: 250px;
	height: 80px;
	overflow: hidden;
	float: left;
	width: 260px;
	height: 143px;
	margin: 15px;
	padding: 20px;
	background: url("images/template0/cite.png") no-repeat;
}

.testim_box .name {
	color: #B5E329;
	text-align: right;
	padding: 10px 0 0 0;
}

.testim_box .read_more {
	color: #B5E329;
	font-size: 16px;
	padding-left: 10px;
}

.news_box {
	width: 220px;
	padding: 20px 30px;
	display: inline-block;
	min-height: 614px;
	background: url("images/template0/bg_sidebar.gif") repeat-x #34363C;
	float: left;
}

.news_box .date {
	color: #777;
	padding-top: 10px;
}

.news_box .headline {
	padding-top: 10px;
	color: #B5E329;
}

.news_box .text {
	padding-top: 10px;
}

.news_box .read_more {
	color: #B5E329;
	font-size: 20px;
	line-height: 14px;
	vertical-align: text-top;
}

.infobox_heading {
	font-size: 22px;
	line-height: 40px;
}


.promo_box {
	width:600px;
	height:240px;
	padding:20px 0px;
	float:left;
	overflow:hidden;
}
.promo_box .infobox_content {
	width:130px;
	height:200px;
	float:left;
	margin-left:20px;
}
.promo_box .infobox_content:first-child {
	margin-left:0px;
}
.promo_box .picture {
	width:130px;
	background:grey;
}
.promo_box .read_more {
	color:#B5E329;
	font-size:16px;
	padding-left:10px;
}