
img, form, fieldset {
    border: medium none;
}
form, fieldset {
    margin: 0;
    padding: 0;
}
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, p {
    margin: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
q {
    quotes: none;
}
q:before {
    content: "";
}
q:after {
    content: "";
}
input:focus {
    outline: medium none;
}
textarea:focus {
    outline: medium none;
}
select:focus {
    outline: medium none;
}
#skipNav {
    left: -9999px;
    position: absolute;
}
html, body, #splash {
    height: 100%;
    width: 100%;
}
#splash {
    position: relative;
}
body {
    background: url("images/template0/bg_body.gif") repeat-x scroll 0 0 #202226;
    color: #C9CAC8;
    font: 13px/16px Arial,Helvetica,sans-serif;
}
body.splash {
    background: none repeat scroll 0 0 #202226;
}
input, select, textarea {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}
a {
    color: #B5E329;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.header_wrap {
    background: url("images/template0/header_right.jpg") no-repeat scroll 100% 0 transparent;
    width: 100%;
}

.main .header_wrap {
    height: 163px;
}

.main {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.titleLogo, .titleLogo a {
    display: block;
    height: 84px;
    width: 220px;
}
.titleLogo {
    background: url("images/template0/logo.png") no-repeat scroll 0 0 transparent;
    left: 14px;
    position: absolute;
    top: 10px;
}
.titleLogo a {
    overflow: hidden;
    text-indent: -9999px;
}
.slogan {
    background: url("images/template0/home_slogan.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 15px;
    left: 243px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 48px;
    width: 244px;
}

.navigation {
    height: 60px;
    left: 0;
    position: absolute;
    top: 101px;
    width: 100%;
}

.navigation ul {
    float: right;
    height: 60px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 100;
}

.navigation ul li {
    float: left;
    height: 60px;
}

.navigation ul li span {
	text-shadow: 0 0 16px #6AAF34;
    font-size: 18px;
    line-height: 60px;
    margin-left: 40px;
    margin-right: 40px;
    color: #bbb;
}

.navigation ul li a {
    text-decoration: none;
}

.navigation ul li span:hover {
    color: #B5E329;
}

.landing_wrap {
    height: 375px;
    position: relative;
    width: 960px;
}

.landing_content {
    background: url("images/template0/content_bg.png") repeat-x scroll 0 0 #37393F;
}
