.header .main {
    margin-top: 0 !important;
}

.infobox_body {
	padding: 20px 20px;
	/*border-left: solid 1px ${object2_20};*/
}

.banner .infobox_header {
	background: ${object2_90};
}

.quickSearch {
	background-color:${object2_10};	
}

.quickSearch h3 {
	color: #555555;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

.quickSearch label {
	color: #555555;
	display: block;
	padding: 0 0 3px;
}

.quickSearch select {
	width: 100%;
	margin-bottom: 15px;
}

.quickSearch .submit {
	text-align: center;
}

.wideGadgetBox.quickSearch .selectField {
	display:inline-block;
	width:49%;
}

.vista-pmsite-mainWrap {
	overflow: hidden;
	background: ${object2_10};
}

.vista-pmsite-sidebarWrap {
	position: relative;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.vista-pmsite-sidebar {
	float: left;
	width:300px;
}

.vista-pmsite-main {
	margin-left: 300px;
	background: ${bgC0lor_100};
}

.testimBox {
	float: left;
	margin-top: 20px;
}

.testimBox .infobox_decor {
	position: relative;
	display:inline-block;
}

.testimBox .callout_line {
	fill:${object1_10};
	stroke:${object1_20};
	stroke-width:1;
}

.testimBox .callout {
	position: absolute;
	top:140px;
	left:500px;
}

.testimBox .infobox_content {
	width: 560px;
	height: 80px;
	overflow: hidden;
	float: left;
	margin: 20px 10px 30px 10px ;
	padding: 20px;
	background: ${object1_10};

	border: 1px solid ${object1_20};
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;	
}

.testimBox .name {
	color: ${foreground_100};
	text-align: right;
	padding: 10px 0 0 0;
}

.newsBox {
	min-height: 450px;
	border-right: 1px solid #DCD2E1;
}

.newsBox .infobox_header {
	background: ${object2_90};
}


.newsBox .date {
	color: ${foreground_40};
	padding-top: 10px;
}

.newsBox .headline {
	padding-top: 10px;
	color: ${object1_50};
}

.newsBox .text {
	padding-top: 10px;
}

.newsBox .infobox_content {
	padding: 10px 20px;
}

.infobox_content .read_more {
	color: ${object1_50};
	font-size: 20px;
	line-height: 14px;
	vertical-align: text-top;
}

.infobox_header .read_more {
	color: ${object2_10};
	font-size: 16px;
	line-height: 14px;
	padding-left: 10px;
}

.infobox_header {
	background: ${object2_100};
	padding: 0 0 0 20px;
}

.infobox_header_title {
	font-size: 22px;
	line-height: 40px;
	color: ${object2_10};
}
.infobox_header_title:lang(fr) {
	font-size: 18px;
}

.promoBox .infobox_content {
	width:139px;
	float:left;
	margin-left:20px;
}

.promoBox .infobox_content:first-child {
	margin-left:0px;
}

.promoBox a .picture {
	border:1px solid ${object1_100};
}

.promoBox a:hover .picture {
	border:1px solid ${object2_100};
}
.promoBox .citySelectionForm {
	margin: 0 0 20px 20px;
}

.wideGadgetBox {
	float:left;
	overflow:hidden;
	width: 100%;
}

.narrowGadgetBox .infobox_header {
	background: ${object2_90};
}
.narrowGadgetBox .infobox_body {
	border:0;
	border-right: 1px solid #DCD2E1;
}