.vista-pmsite-legalPage {
    color: ${foreground_100};
    font-size: 16px;
}

.vista-pmsite-legalPage .vista-pmsite-mainWrap {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	border-left: solid 1px ${object2_20};
	border-right: solid 1px ${object2_20};
	background: ${object2_10};
}

.vista-pmsite-legalPage .caption {
	background-size: 100% 100%;
	background: ${object2_90};
	height: 70px;
	overflow: hidden;
	padding: 0 0 0 30px;
}

.vista-pmsite-legalPage .caption h1 {
	font-size: 36px;
	font-weight: normal;
	line-height: 70px;
	color: ${object2_10};
}

.vista-pmsite-legalPage .legalFormWrap {
	padding:20px 60px;
}

.vista-pmsite-legalPage .legalContent {
	height:500px;
	padding:20px;
	overflow:auto;
	color: ${foreground_100};
	border-top:1px solid ${foreground_20};
	line-height: 20px;
}
.vista-pmsite-legalPage .acceptForm {
}

.vista-pmsite-legalPage table.acceptNote {
	width:100%;
}
.vista-pmsite-legalPage table.acceptNote td {
	padding:20px;
}
.vista-pmsite-legalPage .accept2 {
	padding:20px;
	text-align:right;
}
.vista-pmsite-legalPage a.termsPtr {
	text-decoration:underline;
}
.vista-pmsite-legalPage a.termsPtr:hover {
}

.vista-pmsite-legalPage .legalFormWrap input[type=submit] {
	background: ${object1_100};
	border: 2px solid ${object1_100};
	color: ${object1_10};
	cursor: pointer;
	font-size: 16px;
	text-transform: uppercase;
	width: 128px;
	height: 32px;
}
.vista-pmsite-legalPage .legalFormWrap input[type=submit].decline {
	float:right;
}
