.vista-pmsite-unitDetailsPage {
	font-size:14px;
	overflow: hidden;
	background-color: #FFFFFF;
}

.vista-pmsite-unitDetailsPage .vista-pmsite-content {
    background-color: #EDE8F0;
}

.vista-pmsite-unitDetailsPage .vista-pmsite-sidebar {
	width: 318px;
	float:left;
	padding:20px 16px;
	background-color: #EDE8F0;
}
.vista-pmsite-unitDetailsPage .vista-pmsite-main {
	margin-left: 350px;
}

.vista-pmsite-unitDetailsPage .apartmentDetailsWrap  {
	border-left:1px solid ${foreground_20};
	background: ${background_10};
	height: 583px;
}

.apartmentDetailsWrap .detailBox {
	color:${foreground_100};
	padding: 20px 0;
}
.apartmentDetailsWrap .detailBox .detailBoxTitle {
	padding: 30px 20px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:${foreground_100};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry {
	padding: 10px 0;
}

.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxCaption {
	display:inline-block;
	vertical-align:top;
	width:80px;
	padding: 0 20px 6px 20px;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
	color:${foreground_80};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxText {
	display:inline-block;
	vertical-align:top;
	width:460px;'
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText {
	padding-left:10px;
	margin:0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText li {
	float:left;
	width:230px;
}

.apartmentDetailsWrap .requestBtn {
	background: ${object1_100};
	color: ${object1_10};
    padding:8px;
    margin-left:40px;
    font-size: 16px;
    text-transform: uppercase;
}
