.vista-pmsite-aptDetailsPage .vista-pmsite-sidebar {
	width: 318px;
	min-height: 477px;
	float:left;
	padding:20px 16px;
	/*border-right:1px solid ${foreground_20};*/
	background-color: #DFEBF7;
}

.navigation ul {
    padding: 0 7px !important;
}

.vista-pmsite-aptDetailsPage .vista-pmsite-main {
	margin-left: 350px;
	padding-bottom: 20px;
	border-left: 1px solid #D1D1D1;
}

.vista-pmsite-main .caption2 h1 {
    color: #0458B3 !important;
}

.apartmentDetailsWrap .detailBox {
	color:${foreground_60};
	padding-bottom:20px;
}
.apartmentDetailsWrap .detailBox .detailBoxTitle {
	padding: 30px 20px;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color: #0458B3;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry {
	padding: 10px 0 10px 10px;
	border-bottom: 1px solid ${foreground_20};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry:first-child {
	border-top: 1px solid ${foreground_20};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxCaption {
	display:inline-block;
	vertical-align:top;
	width:80px;
	padding: 0 20px 6px 20px;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
	color:${foreground_40};
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .detailBoxText {
	display:inline-block;
	vertical-align:top;
	width:460px;'
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText {
	padding-left:10px;
	margin:0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry ul.detailBoxText li {
	float:left;
	width:230px;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry.units:hover {
	background-color:${object1_10};
}

.apartmentDetailsWrap .unitDetails {
	display: inline-block;
	vertical-align: top;
	width:370px;
	padding:0 10px;
	color: ${foreground_40};
}
.apartmentDetailsWrap .unitDetails .details {
	display: inline-block;
	vertical-align: top;
	width:320px;
	padding:0 20px;
} 
.apartmentDetailsWrap .unitDetails .unitEntry {
	padding:2px 0;
} 
.apartmentDetailsWrap .unitDetails .unitEntry .unitEntryCaption {
	display: inline-block;
	vertical-align: top;
	width:80px;
	text-align:right;
	padding-right:8px;
	font-weight:normal;
}
.apartmentDetailsWrap .unitDetails .unitEntry .unitEntryText {
	display: inline-block;
	vertical-align: top;
	width:210px;
	font-weight:bold;
}
.apartmentDetailsWrap .unitDetails .infoBox .amenities li {
	float: left;
	margin: 0 10px;
}

.apartmentDetailsWrap .unitDetails .infoBox .amenities li:first-child {
	list-style: none;
	margin-left: 0;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry .controlBox {
	display: inline-block;
	vertical-align: top;
} 

.listingCtlButton {
	background-image: url("images/aptListIcons.png");
	background-repeat: no-repeat;
	display:block;
	width:70px;
	height:25px;
	padding-top:5px;
	padding-left:30px;
	font-weight:bold;
	cursor:pointer;
	color:${foreground_50};
}
a.listingCtlButton {
	color:${foreground_50} !important;
	text-decoration:none;
}
.apartmentDetailsWrap .detailBox .detailBoxEntry.units:hover .listingCtlButton {
	background-image: url("images/details_for_redridge.png");
	color:${foreground_80} !important;
	background-position:0px 2px !important;
}
#btnViewDetails {
	background-position:0px -30px;
}
.apartmentDetailsWrap .requestBtn {
	background: ${contrast1_100};
	border: 2px solid ${contrast1_120};
	color: ${contrast1_10};
    line-height: 32px;
    padding:8px;
    margin-left:40px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration:none;
}
