.vista-pmsite-cityPage{
	overflow: hidden;
}

.vista-pmsite-cityPage .vista-pmsite-sidebar {
	float:left;
	width: 211px;
	border-right:1px solid ${foreground_20};
}
.vista-pmsite-cityPage .vista-pmsite-main {
	margin-left:211px;
}

.vista-pmsite-cityPage .secondaryNavig {
	color: ${foreground_60};
}
.vista-pmsite-cityPage .secondaryNavig h3 {
	width:100%;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	padding: 10px 0;
	margin-top:5px;
}
.advancedSearchNarrowWrap {
	width: 190px;
	margin: 10px;
}

.advancedSearchNarrowWrap label {
	display: block;
	padding: 4px 0;
	white-space: nowrap;
}

.advancedSearchNarrowWrap .inputBlockFrame {
	width: 100%;
	margin-top: 20px;
}

.advancedSearchNarrowWrap .searchTypeSelBox {
	height:40px;
}
.advancedSearchNarrowWrap .searchTypeSelButton {
	float: left;
	width: 70px;
	font-size: 14px;
	letter-spacing: 0px;
	color:${foreground_100};
	background-color:${foreground_10};
	margin-left: 10px;
	padding: 3px 10px;
	text-align: center;
}

.advancedSearchNarrowWrap .searchTypeSelButton:first-child {
	margin-left: 0px;
}

.advancedSearchNarrowWrap .searchTypeSelButton .spacer_by {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeSelButton label {
	display: inline-block;
}

.advancedSearchNarrowWrap .searchTypeSelButton input[type=radio] {
	display: none;
}

.advancedSearchNarrowWrap .searchTypeBox {
	height:100px;
}

.advancedSearchNarrowWrap .searchTypeBox select {
	width: 188px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchTypeBox input[type=text] {
	width: 184px;
	margin: 1px;
}

.advancedSearchNarrowWrap .errorPanel {
	padding:2px;
	padding-left:15px;
	margin:0;
	margin-top:10px;
	color:red;
	background:white;
	display:inline-block;
}

.advancedSearchNarrowWrap .searchCommonBox select {
	width: 82px;
	margin: 1px;
}

.advancedSearchNarrowWrap .searchCommonBox input[type=text] {
	width: 76px;
	margin: 1px;
}
.advancedSearchNarrowWrap .searchCommonBox .searchField .inputJoinBox {
	display:inline-block;
	width:22px;
	text-align:center;
}
.advancedSearchNarrowWrap .searchAmenityBox {
	border-top: 1px dotted ${foreground_60};
	padding-top: 10px;
}

.advancedSearchNarrowWrap .searchAmenityBox .searchField>label {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox br {
	display: none;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList {
	display: block;
	width: 100%;
}

.advancedSearchNarrowWrap .searchAmenityBox .amenityList label {
	display: inline-block;
	width: 70px;
}
.advancedSearchNarrowWrap .searchAmenityBox .amenityList label:lang(fr) {
	width: 165px;
}

.advancedSearchNarrowWrap .typeselActiveHover {
	color:${foreground_10} !important;
	background-color:${foreground_60} !important;
}

.advancedSearchNarrowWrap .typeselActive {
	color:${foreground_10} !important;
	background-color:${foreground_60} !important;
}

.vista-pmsite-cityPage .cityPageWrap {
	line-height:1.6em;
	min-height: 396px;
	color: ${foreground_100};
	background-color: ${background_10};
	overflow: hidden;
	padding: 30px 30px 0;
}
.vista-pmsite-cityPage .cityPageWrap .cityProperties h3 {
	font-size:18px;
	margin:20px 0;
}
.vista-pmsite-cityPage .cityPageWrap .propertyLink {
	color: ${object1_100};
}
.vista-pmsite-cityPage .cityPageWrap .propertyLink:hover {
	color: ${contrast2_100};
}

