.vista-pmsite-inquiryFormPage {
	font-size:14px;
}

.vista-pmsite-inquiryFormPage .vista-pmsite-sidebar {
	width: 318px;
	background-color: #DFEBF7;
	float:left;
	padding:20px 16px;
	/*border-right:1px solid ${foreground_20};*/
}
.vista-pmsite-inquiryFormPage .vista-pmsite-main {
	min-height:600px;
	margin-left: 350px;
	border-left: 1px solid #D1D1D1;
}
.vista-pmsite-main .caption2 h1 {
    color: #0458B3 !important;
}