.vista-pmsite-residentPage {
	color: ${foreground_100};
}
.vista-pmsite-main .caption h1 {
    color: #0458B3 !important;
}

.vista-pmsite-residentPage .vista-pmsite-content {
	min-height: 400px;
	/*padding-bottom: 20px;*/
}

.vista-pmsite-residentPage .secondaryNavig {
	width: 211px;
	float: left;
	min-height: 400px;
	/*border-right: 1px solid ${foreground_20};*/
}

.vista-pmsite-residentPage .secondaryNavig ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 38px;
}

.vista-pmsite-residentPage .secondaryNavig ul li {
	color: ${foreground_100};
	font-size:15 px;
	height: 38 px;
	line-height:38 px;
	overflow:hidden;
	padding:0 10px 0 35px;
}

.vista-pmsite-residentPage .secondaryNavig ul li.active {
	background: url("images/menu_active.png") no-repeat scroll 0 50%
		transparent;
}

.vista-pmsite-residentPage .secondaryNavig ul li:hover {
	color: ${contrast2_100};
	text-decoration: none;
}

.vista-pmsite-residentPage .MainMenu {
    padding: 35px 0;
}

.vista-pmsite-residentPage .content {
	min-height: 279px;
	color: ${foreground_100};
	border-top: 1px solid ${foreground_20};
	border-left: 1px solid #D1D1D1;
	background-color: ${background_10};
	line-height: 20px;
	overflow: hidden;
}

.LandingOrLineSeparator div {
	border-color: ${foreground_20} !important;
	border-style: solid !important;
}

.vista-pmsite-residentPage .LandingViewSectionHeader {
	text-align: center;
	font-size: 18px;
}

.vista-pmsite-residentPage .TenantDashboard .FormFlexPanelH1Label,.FormFlexPanel .FormFlexPanelH1Label,.LandingCaptionTextEmph
	{
	font-size: 18px;
	font-weight: bold;
	text-shadow: none;
}

.vista-pmsite-residentPage .Header {
	border-bottom: 1px solid #D1D1D1 !important;
	padding-top: 10px;
	background-color: #E0E0E0;
	vertical-align: middle;
}

.vista-pmsite-residentPage .LandingTermsAndConditionsBox {
	margin-left: 60px;
	margin-right: 60px;
}

.vista-pmsite-residentPage .Button,.gwt-Button {
	background: none repeat scroll 0 0 #FF0000;
	color: #FFE6E6;
	cursor: pointer;
	font-size: 16px;
	height: 32px;
	margin: auto;
	text-transform: uppercase;
	min-width: 128px;
	text-align: center;
	white-space: nowrap;
	filter: false; /*for IE9*/
}

.vista-pmsite-residentPage .Button.ProvideTIBGetTenantSure {
	width: auto;
	margin-left: 30px;
}

.vista-pmsite-residentPage .Button.TSPurchaseViewNextStepButton.Button-disabled,.Button.TSPurchaseViewNextStepButton
	{
	float: right;
	margin: 0 20px 20px 20px;
	width: auto;
}

.vista-pmsite-residentPage .Button-disabled {
	cursor: default;
}

.vista-pmsite-residentPage .ButtonText {
	bottom: -7px;;
}

.SiteViewAction .Anchor {
	white-space: nowrap;
	float: right;
}

.vista-pmsite-residentPage .ValidationLabel ul {
	padding-left: 10px;
}

.TriggerPannel .TextBox	{
	width: 90px !important;
}

.Dialog {
    background-color: #0458B3 !important;
}

.DialogCaption {
    background: none repeat scroll 0 0 #0458B3 !important;
    color: #fff!important;
}

.TenantSureManagementStatusDetailsPanel {
    width: 65% !important;
}


.TenantSureManagementActionsPanel {
    width: 35% !important;
}

.TenantSureManagementActionsPanel .Anchor-disabled {
	color: #666666 !important;
    text-decoration: none;
    cursor: default;
}

.TenantDashboardSection td {
    vertical-align: middle !important;
}

.LandingButtonHolder {
    text-align: center !important;
}

.LandingViewPanel {
    position: relative;
}

.ListBox-readonly {
    border-color: #C2C2C2 !important;
}

.FormFlexPanel .FormFlexPanel .PaymentEditorLegalTerms {
    height: auto !important;
    padding-right: 0 !important;
    width: auto !important;
}

.LandingViewSectionFooter > div:last-child {
    padding-bottom: 20px;
}