body {
	background-image: url(../img/brushed_alu.png);
	margin: 0px;
}

#residentInsert {
	width: 920px;
	padding: 0 20px;
	margin: auto;
}

.PageHeader {
	text-align: center;
}

.PageHeaderContent {
	display: inline-block;
}

.MainToolbar {
	background: #4f565a;
}

.MainToolbarContent {
	height: 100%;
	margin: 0 auto;
	width: 960px;
}

.PageFooter {
	background: #8A9195;
	min-height: 200px;
}

.PageFooterContent {
	height: 100%;
	margin: 0 auto;
	width: 960px;
}

.MyComunityTopLogo {
	display: inline-block;
	margin-top: 5px;
	width: 60px;
	height: 50px;
	border-radius: 4px 4px 4px 4px;
	background-image: url(../img/Header_Logo-myCommunity.png);
}

.MyComunityTopLogoText {
	display: inline-block;
	margin-top: 5px;
	width: 245px;
	height: 44px;
	background-image: url(../img/Header_Logo-myCommunityLabel.png);
}

.MyComunityBottomLogo {
	margin-top: 5px;
	width: 114px;
	height: 119px;
	background-image: url(../img/Footer_Logo-myCommunity.png);
}

.PoweredByVistaBottomLogo {
	margin-top: 5px;
	width: 113px;
	height: 38px;
	background-image: url(../img/Footer_Logo-PropertyVista.png);
}

.MainMenu {
	background: white;
	margin: 10px 0 0 0;
}