.vista-pmsite-findAptPage {
	background-image: url("images/content_bg.png");
}

.vista-pmsite-content {
    margin: 0 auto;
    padding: 10px 0 100px 0;
    width: 960px;
    color: #FFFFFF;
    font-size: 16px;
}

.vista-pmsite-findAptPage .vista-pmsite-content .content {
    background: url("images/resident.jpg") no-repeat right top;
    zoom: 1;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/resident.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/resident.jpg', sizingMethod='scale')";
}

.vista-pmsite-findAptPage .vista-pmsite-main .caption {
	display: none;
}

.advancedSearchWideWrap {
	_padding: 0 80px;
	width:660px;
	background-color: #FA8D0C;
	background: -moz-linear-gradient(left top, #b55508, #FA8D0C);
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(100%,#b55508), color-stop(100%,#FA8D0C));
    background: -webkit-linear-gradient(top, #b55508, #FA8D0C);
    background: -o-linear-gradient(top, #b55508, #FA8D0C);
    background: -ms-linear-gradient(top, #b55508, #FA8D0C);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b55508', endColorstr='#FA8D0C');/*For IE7-8-9*/ 
	height: 1%;/*For IE7*/
	height: 370px; /*For IE8*/
    background: linear-gradient(top, #b55508, #FA8D0C);
}

.advancedSearchWideWrap .errorPanel {
	padding:2px;
	padding-left:15px;
	margin:0;
	margin-top:10px;
	color:red;
	background:white;
	display:inline-block;
}

.advancedSearchWideWrap input[type=submit] {
	margin-top: 15px;
}

.advancedSearchWideWrap label {
	display:block;
	white-space:nowrap;
}
.advancedSearchWideWrap .searchTypeSelBox, .advancedSearchWideWrap .searchTypeBox {
	float:left;
	margin-top:30px;
	padding: 0 100px;
}
.advancedSearchWideWrap .searchTypeSelButton {
	width:214px;
	font-size:20px;
	letter-spacing:1px;
	margin-left:30px;
	color: #000000;
	background-color:#fa8d0c;
	box-shadow: inset rgba(255,255,255,0.4) 2px 2px 2px 1px;
	text-align:center;
	float:left; 
}
.advancedSearchWideWrap .searchTypeSelButton:first-child {
	margin-left:0px;
}

.advancedSearchWideWrap .searchTypeSelButton label {
	display:inline-block;
	padding:6px 0;
}
.advancedSearchWideWrap .searchTypeSelButton input[type=radio] {
	display:none;
}

.advancedSearchWideWrap .amenityList input[type=checkbox] {
//	margin: 0 2px; /*for IE7*/
//	border:none;
	border-top-style:none;
	border-left-style:none;
}

.advancedSearchWideWrap .searchTypeBox .searchField {
	float:left;
	margin-left:30px;
	padding-right: 0;
}
.advancedSearchWideWrap .searchTypeBox .searchField:first-child {
	margin-left:0;
	width: 213px;
	box-sizing: content-box;
}
.advancedSearchWideWrap .searchTypeBox select {
	width:212px;
	height: 24px;
	margin: 0;
	border-top: 4px solid #7F7F7F;
	border-left: 4px solid #7F7F7F;
	outline: 1px solid #ec8e21;
    color: #999999;
}
.advancedSearchWideWrap .searchTypeBox input[type=text] {
	color:${background_100};
	width:208px;
	height: 17px;
	outline: 1px solid #EC8E21;
}
.advancedSearchWideWrap .searchCommonBox {
	width: 560px;
	_clear:both;
	float:left;
	padding: 0 0 30px 100px;
	*padding-bottom: 20px;
	margin-top:30px;
	border-bottom: 3px solid #1f1b1c;
}
.advancedSearchWideWrap .searchCommonBox .searchField {
	margin-left:23px;
	display: inline-block;
	float:left;
	zoom: 1;
	*display: inline;
	*float:none;
}
.advancedSearchWideWrap .searchCommonBox .searchField:first-child {
	margin-left:0px;
}
.advancedSearchWideWrap .searchCommonBox .searchField .inputJoinBox {
	display:inline-block;
	zoom: 1;
	*display: inline;
	width:25px;
	text-align:center;
}
.advancedSearchWideWrap .searchCommonBox select {
	width:55px;
	margin: 0;
	border-top: 4px solid #7F7F7F;
	border-left: 4px solid #7F7F7F;
	outline: 1px solid #ec8e21;
    color: #999999;
}
.advancedSearchWideWrap .searchCommonBox input[type=text] {
	color:${background_100};
	display:inline-block;
	zoom: 1;
	*display: inline;
	width:50px;
	margin:0px;
	border-top: 4px solid #7F7F7F;
	border-left: 4px solid #7F7F7F;
	outline: 1px solid #ec8e21;
}
.advancedSearchWideWrap .searchAmenityBox {
	width: 460px;
	float:left;
	_clear:both;
	border-top: 1px solid #ffd467;
	padding: 20px 100px 0 100px;
	margin-bottom:40px;
}
.advancedSearchWideWrap .searchAmenityBox br {
	display:none;
}
.advancedSearchWideWrap .searchAmenityBox .amenityList {
	float:left;
	display: inline-block;
	zoom: 1;
	*display: inline;
	clear: both;
}


.advancedSearchWideWrap .searchAmenityBox .amenityList label {
	display:inline-block;
	zoom: 1;
	*display: inline;
	width:88px;
	font-size:13px;
	_float: left;
	_clear: both;
	vertical-align: bottom;
}
.advancedSearchWideWrap .typeselActiveHover {
	color:${object1_20} !important;
	background-color:${object1_100} !important;
}
.advancedSearchWideWrap .typeselActive {
	color:${object1_20} !important;
	background-color:${object1_100} !important;
	width:214px;
}