.floorplanInfoPanel .pictureBox {
	width:100%;
	text-align:center;
} 
.floorplanInfoPanel .pictureBox .picture {
	width:100%;
}
.floorplanInfoPanel .pictureBox .gallery {
	height:50px;
}
.floorplanInfoPanel .pictureBox .gallery img {
	width:57px;
	height:40px;
	cursor:pointer;
}
.floorplanInfoPanel .pictureBox .gallery span {
	float:left;
}
.floorplanInfoPanel .pictureBox .gallery span:first-child {
	margin-left:10px;
}
.floorplanInfoPanel .infoBox {
	padding-left: 10px;
} 
.floorplanInfoPanel .infoBoxEntry {
	padding-top:15px;
} 
.floorplanInfoPanel .infoBoxEntry .infoBoxCaption {
	display:block;
	padding-top:4px;
	color: #D7AC3F;
	text-transform: uppercase;
}
.floorplanInfoPanel .infoBoxEntry .infoBoxText {
	display:block;
	padding-top:4px;
	color: #B4AFB0;
}
