.inquiryPanel .errorPanel {
	padding:2px;
	padding-left:15px;
	margin:0;
	margin-top:10px;
	color:red;
	display:inline-block;
/* if EI7 */	
	*display: inline;
    zoom: 1;	
}
select {
	outline: 1px solid #EC8E21;
}
.inquiryPanel .inputEntry {
	padding:10px 0;
	color: #B4AFB0;
}
.inquiryPanel .inputEntry .inputLabel {
	display:inline-block;
	width: 150px;
	padding-right:20px;
	text-align:right;
	vertical-align:top;
	color:#D7AC3F;
/* if EI7 */	
	*display: inline;
    zoom: 1;
}

.inquiryPanel .inputEntry input {
	border: 1px solid #EC8E21;
	color: #666666;
}

.inquiryPanel .inputEntry input[type="radio"]  {
	border: 0px solid #000000;
	box-shadow: none;
}

.inquiryPanel .inputEntry .inputLabel.altApmnt {
	display:inline;
	padding-right:5px;
}
.inquiryPanel .inputBox {
	display:inline-block;
	width:370px;
/* if EI7 */	
	*display: inline;
    zoom: 1;	
}
.inquiryPanel .inputEntry textarea {
	width:360px;
	border: 1px solid #EC8E21;
	box-shadow: inset 5px 5px 5px #7f7f7f;
	color: #666666;
}

.inquiryPanel .inputEntry .apmntBox {
	width:120px;
	display:inline-block;
/* if EI7 */	
	*display: inline;
    zoom: 1;	
}
.inquiryPanel .inputEntry .captcha {
	display:inline-block;
	width:360px;
/* if EI7 */	
	*display: inline;
    zoom: 1;	
}
.inquiryPanel input[type=submit] {
    border: none;
    color: #D7AC3F;
}
.inquiryPanel input[type=submit]:hover {
	color: #FA8D0C;
}

/*
 * Datepicker style
 */
.inquiryPanel .inputEntry .ui-datepicker-trigger {
	background:url(../jquery_ui_images/calendar.png) no-repeat;
	display:inline-block;
	width:21px; height:20px;
	margin-left:4px;
	vertical-align:middle;
}
.ui-datepicker {
	font-size:10px !important;
}
