.vista-pmsite-landingPage {
	background: url("images/content_bg.png") repeat-x scroll 0 0 #2F292A;
}

.vista-pmsite-content {
    margin: 0 auto;
    width: 960px;
}

.infobox_header {
	padding: 5px 0;
	border-bottom: 3px solid #1F1B1C;
}

.infobox_body {
	overflow:hidden;
	border-top: 1px solid #484243;
	padding-top: 20px;
}

.infobox_body .selectField{
    padding-bottom: 15px;
    position:relative;
	z-index: 10;
}

.wideGadgetBox {
	overflow:hidden;
	width: 100%;
}

.banner_img {
    height: 375px;
	padding: 10px 0;
	background-repeat: no-repeat;
}

.banner .infobox_header {
	height: 30px;
	padding: 5px 0;
}

.narrowGadgetBox {
	background-color: #FA8D0C;
	background: -moz-linear-gradient(left top, #b55508, #FA8D0C);
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(100%,#b55508), color-stop(100%,#FA8D0C));
    background: -webkit-linear-gradient(top, #b55508, #FA8D0C);
    background: -o-linear-gradient(top, #b55508, #FA8D0C);
    background: -ms-linear-gradient(top, #b55508, #FA8D0C);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b55508', endColorstr='#FA8D0C');/*For IE7-8-9*/ 
    background: linear-gradient(top, #b55508, #FA8D0C);
}

#narrowSpacer {
	height: 347px;
	width:280px;
	position: absolute;
	z-index: 0;
}

.quickSearch .infobox_body {
    padding: 10px 40px;
    border-top: none;
}

.quickSearch h3 {
	color: #555555;
	font-size: 16px;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

.quickSearch label {
	color: #E8E8E8;
	font-weight: bold;
	display: block;
	font-size: 13px;
	white-space: nowrap;	
}

.quickSearch select {
	width: 200px;
	margin-bottom: 15px;
	margin: 0 0 6px 0;
}

select {
	outline: 1px solid #ED8F21;
    width: 151px;
}

.quickSearch input[type=submit] {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color:#000000;
	cursor: pointer;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

.quickSearch .submit {
	float: right;
	overflow: visible;
}

.quickSearch .submit:after {
    content: ">>";
    font-size: 14px;
    font-weight: bold;
    margin-left: -8px;
    position: relative;
    right: -65px;
}

.wideGadgetBox.quickSearch .selectField {
	display:inline-block;
}

.vista-pmsite-mainWrap {
	overflow: hidden;
}

.newsBox {
   	padding: 20px 0;
}

.vista-pmsite-sidebar {
	float: left;
	width:280px;
}

.vista-pmsite-main {
	margin-left: 300px;
}

.testimBox {
	float: left;
	overflow:hidden;
	width: 100%;
}

.testimBox .infobox_body {
	padding-top: 35px;
}

.testimBox .callout {
	display: none;
}

.testimBox .infobox_content {	
    color: #E8E8E8;
}

.infobox_decor {
	margin: 1.5em 0;
}

.testimBox .name {
	text-align: right;
}

.newsBox .date {
	color: #fff;
	font-size: 12px;
	margin: 0 0 4px 0;
	border-top: 1px solid #484243;
	padding-top: 12px;
}

.newsBox .headline {
	color: #D7AC3F;
	font-weight: normal;
	text-transform: uppercase;
    font-size: 12pt;
    margin-bottom: 5px;
    display: block;
    line-height: 100%;
}

.newsBox .text {
	color: #E8E8E8;
	line-height: 11pt;
 	text-align: justify;
 	border-bottom: 1px solid #484243;
    padding-bottom: 20px;
    position: relative;
    top: 4px;
}

.newsBox .infobox_content {
	border-bottom: 3px solid #1F1B1C;
}

.infobox_content .read_more {
	color: #FA8D0C;
	font-size: 20px;
	line-height: 14px;
	vertical-align: text-top;
}

.infobox_header .read_more {
	color: #fff;
	padding: 7px;
	position: relative;
    top: 48px;
    left: -136px;
    z-index: 1;
}

.narrowGadgetBox.quickSearch .infobox_header {
    text-align: center;
    border-bottom: none;
}

.narrowGadgetBox.quickSearch .infobox_header .infobox_header_title {
	background-color: inherit;
	*background-color:#fa8d0c;
    color: #000000;
    font-weight: bold;
    margin-right: 0;
}

.infobox_header_title {
	background-color: #30292B;
	color: #fff;
	font-size:16px;
	text-transform: uppercase;
    display: inline-block;
	margin: 0 20px 0 0;
	position: relative;
	top: 13px;
	padding-right: 10px;

}
.infobox_header_title:lang(fr) {
	font-size: 18px;
}

.promoBox {
	float: left;
	overflow:hidden;
	width: 100%;
	margin-bottom: 20px;
}

.promoBox .infobox_content {
	margin: 20px 5px 0 0;
	width: 154px;
	float:left;
	margin-right: 5px;
	overflow: hidden;
}

.address {
	display: inline-block;
	color: #E8E8E8;
}

.promoBox .infobox_content:first-child {
	margin-left:0px;
}

.promoBox .picture {
 	border: 2px solid #000000;
	min-height: 93px;
    padding: 5px 5px;
    text-align: center;
    width: 140px;
}

.promoBox .picture:hover {
 	border: 2px solid #D7AC3F;

}

.promoBox a .picture {
}

.promoBox a:hover + .address {
	border-bottom: 3px solid #E8E8E8;;
}