img,form,fieldset {
	border: medium none;
}

form,fieldset {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
}

body,h1,h2,h3,h4,h5,h6,dl,dt,dd,p {
	margin: 0;
}

q {
	quotes: none;
}

q:before {
	content: "";
}

q:after {
	content: "";
}

input:focus {
	outline: medium none;
}

textarea:focus {
	outline: medium none;
}

select:focus {
	outline: medium none;
}

html,body {
	width: 100%;
	background-image:url("images/bg-pattern.jpg");
}

body {
	font: 14px Calibri;
	line-height: 1.4;
	zoom: 1;
	background: #2f292a;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=95)"; /* this works in IE8 only */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95); /* this works in IE6, IE7, and IE8 */
	
	/*background: #fff url("images/bg-pattern.jpg");*/
	/*background: no-repeat  -moz-linear-gradient(top, ${object1_60} 0, #fff 400px); /* FF3.6+ */
	/*background: no-repeat  -webkit-gradient(linear, left top, left bottom, color-stop(0,${object1_60}), color-stop(400px,#ffffff))); /* Chrome,Safari4+ */
	/*background: no-repeat  -webkit-linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* Chrome10+,Safari5.1+ */
	/*background: no-repeat  -o-linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* Opera 11.10+ */
	/*background: no-repeat  -ms-linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* IE10+ */
	/*background: no-repeat  linear-gradient(top, ${object1_60} 0,#ffffff 400px); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='${object1_60}', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
}

input,select,textarea {
	color: #E8E8E8;
	font-family: Calibri;
	font-size: 12px;
	-moz-appearance:none;
	-o-appearance:none;
	border-left: 3px solid #7F7F7F;
	border-top: 4px solid #7F7F7F;
	*border:none !important;
}

input[type=submit] {
	background-color: #302A2C;
	border: medium none;
    color: #D7AC3F;
	cursor: pointer;
	float: right;
    font-size: 14pt;
    font-weight: bold;
    padding: 0;
    text-transform: uppercase;
}

table {
	border-collapse: collapse;
}

td {
	padding: 0;
}

a {
	/*color: #E8E8E8;*/
	color: #d7ac3f;
	outline: medium none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color:#FA8D0C !important;
}

select {
	color: #999999;
}

.hidden { display:none; }

.header {
	width: 100%;
}

.main {
	margin: 0px auto 0px;
	width: 960px;
	position:relative;
}

.header .main {
	margin-top: 0 auto;
	height: 146px;
}

#siteTitle {
	margin: 10px 0 10px 0;
	width: auto;
	position: absolute;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

#siteTitle a:hover {
	text-decoration:none;
}
#siteLogo {
	height:93px;
}
#noLogo {
	font-size:35px;
	line-height:80px;
}

#siteAuthInsert {
	float:right;
	margin-top:10px;
    color: #E8E8E8;
    font-size: 17px;
    padding: 0 10px;
    text-decoration: none;
}
#siteAuthInsert .greeting {
	color: #E8E8E8;
	font-weight: bold;
	padding-right:10px;
}
#siteAuthInsert a {
	color: #b4afb0;
	margin-right: 0.5em !important;
	font-size: 16px;
}

#siteAuthInsert a:hover {
	color: #E8E8E8;
}

.navigation {
	height: 60px;
	position: absolute;
	top: 75%;
	/*left: 518px;*/
	width: auto;
	right: 0;
}

.navigation ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.navigation ul li {
	 display: inline-block;
	 zoom: 1;
	*display: inline;
     margin: 0 10px;
}

.navigation ul li span {
	font-size: 17px;
    border-collapse: collapse;
    color: #E8E8E8;
    display: block;
    padding: 10px 5px;
    text-align: left;
    text-decoration: none;
    width: auto;
    white-space:nowrap;
}

.navigation ul li span:hover {
	border-top: 3px solid #FA8D0C;
    padding-top: 4px;
    cursor: pointer;
    color: #FA8D0C;
}

.navigation .active span {
	border-top: 3px solid #fa8d0c;
	padding-top: 4px;
	color: #FA8D0C;
}

.navigation span:lang(fr) {
}

.navigation a {
	color: #FA8D0C;
	text-decoration: none;
	float: left;
}

.navigation a:hover {
	color: #E8E8E8;
}

/*
 * Footer
 */

#footer {
	background: #000000;
	position: relative;
	z-index: 10;
}

#footer .main {
	height:100%;
	border-top: 1px solid #000000;
}
.footer_wrap {
	padding: 0px 20px;
	*padding-top: 10px;
}

ul.footer_locations {
	width: 100%;
    display: inline-block;
    zoom: 1;
	*display: inline;
	*margin-left: 0;
    list-style-type: none;
    padding: 0;
    vertical-align: top;
}

ul.footer_locations label {
	display: block;
	text-transform: uppercase;
	padding-bottom: 10px;
	color:#fff;
	width: 300px;
	font-size: 16pt;
}

ul.footer_locations li {
	float: left;
	display: inline-block;
	zoom: 1;
	*display: inline;
    width: 192px;
    font-weight: normal;
    text-align: left;
}

.footer_locations a {
	color: #b4afb0;
	font-size: 12pt;
}

.footer_locations a:hover {
	color: #FA8D0C;
}

.footer_links {
	text-align: center;
	padding-top: 20px;
}

.footer_link:first-child {
	border-left: 0;
}

.footer_link {
	padding: 0 10px;
	border-left: 1px solid #000000;
	_position: relative;
	display: inline-block;
	_top: 200px;
}

.footer_link a {
	color: #E8E8E8;
}

.footer_link a:hover {
	color: #FA8D0C;
}

.locale {
	margin-top:40px;
	text-align:center;
	white-space: nowrap;
}

.langItem {
	margin-left: 20px;
	padding: 0 3px;
}

.langItem:first-child {
	margin-left: 0;
}

.langItem a {
	color: #E8E8E8;
}

.footer_copyright {
	text-align: center;
	line-height: 60px;
	color: #D7AC3F;
}
.footer_social {
	display:inline-block;
	width:140px;
	vertical-align:middle;
	margin-left: 10px;
	margin-top: 10px;
}
.footer_social span {
	padding:0; 
	margin:0;
}
.footer_social label {
	display: block;
	text-transform: uppercase;
	padding-bottom: 10px;
	color: #fff;
	font-size: 16pt;
}
.iconSocial {
	display:inline-block;
	width:32px; height:32px;
	background:url("images/social4.png") no-repeat;
}
.iconSocial.Twitter {
	background-position: 0 0;
}
.iconSocial.Facebook {
	background-position: -32px 0;
}
.iconSocial.Youtube {
	background-position: -64px 0;
}
.iconSocial.Flickr {
	background-position: -96px 0;
}

.legal_poweredby {
	text-align: center;
	line-height: 20px;
	color: #D7AC3F;
}
.powered_product {
}
.powered_by {

}
.powered_logo {
	background: url("images/vista.png") no-repeat;
	display:inline-block;
	width: 100px; 
	height: 20px;
	vertical-align: middle;
}

/*
 * Content
 */
.vista-pmsite-main .caption {
//	background-size: 100% 100%;
	height: 30px;
	overflow: hidden;
	padding: 5px 0 5px 0;
}

.vista-pmsite-main .caption h1 {
	text-transform: uppercase;
    font-size: 16pt;
    font-weight: normal;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	top: -12px;
}
.caption2 {
	height: 30px;
	padding: 5px 0;
}
.vista-pmsite-main .caption2 h1 {
	float: left;
	text-transform: uppercase;
	color: #FFFFFF;
    font-size: 15pt;
    font-weight: normal;
    position: relative;
    top:20px;
    padding-right: 10px;
    background-color: #30292b;
    z-index: 1;
}
.vista-pmsite-main .caption2 .rightControl {
	margin:3px 0;
	float:right;
	color: #d7ac3f;
	font-size: 13pt;
	text-transform:uppercase;
	cursor:pointer;
	position: relative;
    top:20px;
    padding-left: 10px;
    background-color: #30292b;
    z-index: 1;
}
.vista-pmsite-main .caption2 .rightControl:hover {
	color: #fa8d0c;
	/*color:${object2_10};*/
}