.vista-pmsite-staticPage .vista-pmsite-content  {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	margin: 0 auto 20px;
}

.vista-pmsite-main .caption h1 {
	position: absolute !important;
	top: 168px !important;
	padding-right: 20px;
	background-color: #2F292A;
}

.vista-pmsite-staticPage .secondaryNavig {
	width: 300px;
	float: left;
	min-height: 400px;
	margin-top: 40px;
	margin-right: 20px;
	padding-top: 20px;
	border-top: 3px solid #1F1B1C;
}

.vista-pmsite-staticPage .secondaryNavig ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	margin-top: -20px;
	padding-top: 30px;
	border-top: 1px solid #484243;
}

.vista-pmsite-staticPage .secondaryNavig ul li {
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	color: #D7AC3F;
	height: 28px;
	overflow: hidden;
	padding: 0 10px 0 20px;
}

.vista-pmsite-staticPage .secondaryNavig ul li.active {
	background: url("images/menu_active.png") no-repeat left center;
	background-color: #766134;
	border-bottom: 1px solid #D7AC3F;
}

.vista-pmsite-staticPage .secondaryNavig ul li a {
	/*color: #1F1B1C;*/
	text-decoration: none;
	font-weight: normal;
	vertical-align: middle;
	
}
.vista-pmsite-staticPage .secondaryNavig ul li:hover {
	background-color: #756033;
	border-bottom: 1px solid #D7AC3F;
	color: #1F1B1C;
}
.vista-pmsite-staticPage .secondaryNavig ul li:hover span {
	font-weight: bold !important;
	color: #1F1B1C;
}

.vista-pmsite-staticPage .secondaryNavig ul li a:hover span {
    outline: medium none;
    text-decoration: none;
    font-weight: bold;
    background-color: #756033;
    background-position: left center;
    background-size: auto;
    /*border-bottom: 1px solid #D7AC3F;*/
}

.vista-pmsite-staticPage .secondaryNavig ul li.active a span {
	font-weight: bold;
	color: #1F1B1C;
	vertical-align: middle;
}


.vista-pmsite-staticPage .vista-pmsite-main .content {
	color: #B4AFB0;
	overflow: hidden;
	padding-top: 30px;
	border-top: 3px solid #1F1B1C;
	text-align: justify;
	min-height: 350px;
}

.vista-pmsite-staticPagen .content  a {
	text-decoration:underline;
}

.vista-pmsite-staticPage .content  p {
	padding: 0 0 15px;
	color: #B4AFB0;
}

.vista-pmsite-staticPage .content  p:first-child {
    margin-top: -30px;
    padding-top: 30px;
    border-top: 1px solid #484243;
}

.vista-pmsite-staticPage .content  p em {
    font-size: 14pt;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 15px;
    font-style: normal; 
}

.vista-pmsite-staticPage .content h1 {
    font-size: 14pt;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 15px;    
}

.vista-pmsite-staticPage .content h1:first-child {
    color: #D7AC3F;
    margin-top: -30px;
    padding-top: 30px;
    border-top: 1px solid #484243;   
}

.vista-pmsite-staticPage .content  h2 {
    color: #d7ac3f;
	padding-bottom: 15px;
}
.vista-pmsite-staticPage .content  h2:first-child{
	width: 600px;
	border-top: 1px solid #484243;
	padding-top: 30px;
	margin-top: -30px;
}

.vista-pmsite-staticPage .content  h3 {
    font-size: 13pt;
    font-weight: bold;
	line-height: 20px;
	padding: 0 0 25px;
}

.vista-pmsite-staticPage .content  h4 {
	font-size: 14px;
	line-height: 20px;
	padding: 0 0 25px;
}

.vista-pmsite-staticPage .content  address {
	padding: 0 0 25px;
}

.vista-pmsite-staticPage .content ul,.staticMain .content ol {
	margin: 0;
	padding: 0 0 25px 25px;
}
.vista-pmsite-staticPage .testimBody {
	border-top: 1px solid #484243;
	margin-top: -30px;
	padding-top: 30px;
}

.vista-pmsite-staticPage .testimItem {
    margin-bottom: 20px;
    padding: 20px 0;
}


.vista-pmsite-staticPage .testimItem .name {
    font-size: 12pt;
    text-align: right;
}

.vista-pmsite-staticPage .newsItem {
    padding-bottom: 20px;
}
.vista-pmsite-staticPage .newsItem:first-child {
	padding-top: 30px;
	border-top: 1px solid #484243;
	margin-top: -30px;
}

.vista-pmsite-staticPage .newsItem .date {
    color: #b4afb0;
}

.vista-pmsite-staticPage .newsItem .headline {
    font-size: 14pt;
    font-weight: bold;
    color: #D7AC3F;
}

.vista-pmsite-staticPage .newsItem .text {
    padding: 5px 0;
}