<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
    version="2.5"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
    <!--
		@version $Revision$ ($Author$) $Date$
	-->
    <display-name>Vista Portal ${buildLabel} svn:${scm.revision} ts:${timestamp}</display-name>

    <context-param>
        <param-name>com.pyx4j.config.server.ServerSideConfiguration</param-name>
        <param-value>com.propertyvista.server.config.VistaServerSideConfiguration</param-value>
    </context-param>

    <!-- For Tomcat the same sessionCookiePath is set context.xml  -->
    <context-param>
        <param-name>org.eclipse.jetty.servlet.SessionPath</param-name>
        <param-value>/</param-value>
    </context-param>

    <listener>
        <listener-class>com.propertyvista.server.config.VistaInitializationServletContextListener</listener-class>
    </listener>

    <security-constraint>
        <web-resource-collection>
        	<web-resource-name>Admin Pages</web-resource-name>
            <url-pattern>/_aj/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <!--PRODUCTION_TEMPLATE_REMOVE_START-->
    <!--
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    -->
    <!--PRODUCTION_TEMPLATE_REMOVE_END-->

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/internal/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Vista Manager Application</realm-name>
    </login-config>

    <security-role>
        <role-name>admin</role-name>
    </security-role>

    <filter>
        <filter-name>GWTCacheFilter</filter-name>
        <filter-class>com.pyx4j.gwt.server.GWTCacheFilter</filter-class>
        <init-param>
            <param-name>cacheExpiresHours</param-name>
            <param-value>20</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>GWTCacheFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

    <filter>
        <filter-name>LifecycleFilter</filter-name>
        <filter-class>com.pyx4j.server.contexts.LifecycleFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LifecycleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>OpenIdFilter</filter-name>
        <filter-class>com.propertyvista.server.security.openId.OpenIdFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>OpenIdFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>wicket.site</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>com.propertyvista.pmsite.server.PMSiteApplication</param-value>
        </init-param>
        <init-param>
            <param-name>ignorePaths</param-name>
            <param-value>/o/,/public/,/media/,/admin/,/crm/,/portal/,/ptapp/,/tester/,/corp/,/rest/,/demo/</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>wicket.site</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    

    <!-- Servlets -->
<!--
    <servlet>
        <servlet-name>CronServlet</servlet-name>
        <servlet-class>com.propertyvista.server.admin.VistaCronServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CronServlet</servlet-name>
        <url-pattern>/internal/cron/*</url-pattern>
    </servlet-mapping>
-->

    <servlet>
        <servlet-name>OpenIdServlet</servlet-name>
        <servlet-class>com.propertyvista.server.security.openId.OpenIdServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OpenIdServlet</servlet-name>
        <url-pattern>/o/openid</url-pattern>
    </servlet-mapping>

    <!--  See RewriteRule in Apache HTTP -->
    <servlet-mapping>
        <servlet-name>OpenIdServlet</servlet-name>
        <url-pattern>/crm/o/openid</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OpenIdServlet</servlet-name>
        <url-pattern>/ptapp/o/openid</url-pattern>
    </servlet-mapping>
        
    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>com.propertyvista.server.ci.VistaStatusServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/o/status</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/public/status</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DebugServlet</servlet-name>
        <servlet-class>com.pyx4j.essentials.server.dev.DebugServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/debug/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/o/debug/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DBResetServlet</servlet-name>
        <servlet-class>com.propertyvista.server.ci.DBResetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DBResetServlet</servlet-name>
        <url-pattern>/o/db-reset</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeferredProcessTaskWorkerServlet</servlet-name>
        <servlet-class>com.pyx4j.essentials.server.deferred.DeferredProcessTaskWorkerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeferredProcessTaskWorkerServlet</servlet-name>
        <url-pattern>/internal/worker/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <servlet-class>com.pyx4j.rpc.server.RemoteServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <url-pattern>/corp/srv/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <url-pattern>/portal/srv/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <url-pattern>/ptapp/srv/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <url-pattern>/tester/srv/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <url-pattern>/admin/srv/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <url-pattern>/crm/srv/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoteJ2SEServiceServlet</servlet-name>
        <servlet-class>com.pyx4j.rpc.server.RemoteJ2SEServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoteJ2SEServiceServlet</servlet-name>
        <url-pattern>/internal/j2sesrv/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.pyx4j.essentials.server.download.DownloadServlet</servlet-class>
    </servlet>

	<!-- See ServletMapping class when moving to Servlet v3 -->
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/ptapp/download/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VistaUploadServlet</servlet-name>
        <servlet-class>com.propertyvista.server.VistaUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VistaUploadServlet</servlet-name>
        <url-pattern>/admin/upload/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>VistaUploadServlet</servlet-name>
        <url-pattern>/crm/upload/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VistaUploadServlet</servlet-name>
        <url-pattern>/ptapp/upload/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.propertyvista.portal.server.upload.UploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>*.gupld</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplicationDocumentServlet</servlet-name>
        <servlet-class>com.propertyvista.portal.server.upload.ApplicationDocumentServlet</servlet-class>
    </servlet>

    <!-- See ServletMapping class when moving to Servlet v3 -->
    <servlet-mapping>
        <servlet-name>ApplicationDocumentServlet</servlet-name>
        <url-pattern>/ptapp/application_document</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PublicMediaServlet</servlet-name>
        <servlet-class>com.propertyvista.portal.server.portal.PublicMediaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PublicMediaServlet</servlet-name>
        <url-pattern>/media/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PublicMediaServlet</servlet-name>
        <url-pattern>/public/media/*</url-pattern>
    </servlet-mapping>    

    <!--  need this for deployments where CRM is directly on root URL e.g. http://redridge.propertyvista.com/ -->
    <servlet-mapping>
        <servlet-name>PublicMediaServlet</servlet-name>
        <url-pattern>/crm/media/*</url-pattern>
    </servlet-mapping>   
    
    <servlet-mapping>
        <servlet-name>PublicMediaServlet</servlet-name>
        <url-pattern>/ptapp/media/*</url-pattern>
    </servlet-mapping>   
    
    <servlet>
        <servlet-name>ExportDownloadServlet</servlet-name>
        <servlet-class>com.propertyvista.admin.server.services.ExportDownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExportDownloadServlet</servlet-name>
        <url-pattern>/admin/export.xml</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>VistaConfigInfoServlet</servlet-name>
        <servlet-class>com.propertyvista.admin.server.services.VistaConfigInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VistaConfigInfoServlet</servlet-name>
        <url-pattern>/admin/config</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>JobScheduler</servlet-name>
        <servlet-class>com.propertyvista.portal.server.scheduler.JobScheduler</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ServletContainerLoginServlet</servlet-name>
        <servlet-class>com.pyx4j.security.server.ServletContainerLoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletContainerLoginServlet</servlet-name>
        <url-pattern>/_aj/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JerseyRESTService</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.propertyvista.crm.server.openapi</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>JerseyRESTService</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>        

    <servlet-mapping>
        <servlet-name>JerseyRESTService</servlet-name>
        <url-pattern>/public/rest/*</url-pattern>
    </servlet-mapping>   
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>240</session-timeout>
    </session-config>

</web-app>
