<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
    version="3.0"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    metadata-complete="false">
    <!-- @version $Revision$ ($Author$) $Date$ -->
    <display-name>Vista Portal ${buildLabel} svn:${scm.revision} ts:${timestamp}</display-name>

   <!-- 
N.B.   keep this file empty, See resources/META-INF/services/javax.servlet.ServletContainerInitializer for application initialization
    -->
<!-- 
    <absolute-ordering> 
	   <name>vistaserver</name> 
    </absolute-ordering> 
-->
    <!-- For Tomcat the same sessionCookiePath is set context.xml -->
    <context-param>
        <param-name>org.eclipse.jetty.servlet.SessionPath</param-name>
        <param-value>/</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <!-- set 20 for production -->
        <session-timeout>240</session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/static/errors/404.html</location>
    </error-page>

    <error-page>
        <error-code>412</error-code>
        <location>/static/errors/412.html</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/static/errors/500.html</location>
    </error-page>

    <error-page>
        <exception-type>com.propertyvista.portal.rpc.shared.SiteWasNotActivatedUserRuntimeException</exception-type>
        <location>/static/errors/not-activated.html</location>
    </error-page>

    <error-page>
        <exception-type>com.propertyvista.portal.rpc.shared.SiteWasNotSetUpUserRuntimeException</exception-type>
        <location>/static/errors/not-setup.html</location>
    </error-page>

    <error-page>
        <exception-type>com.pyx4j.rpc.shared.ContainerHandledUserRuntimeException</exception-type>
        <location>/static/errors/500.html</location>
    </error-page>

</web-app>
