<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
    version="3.0"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    metadata-complete="true">
    <!-- @version $Revision$ ($Author$) $Date$ -->
    <display-name>Vista Portal ${buildLabel} svn:${scm.revision} ts:${timestamp}</display-name>

    <context-param>
        <param-name>com.pyx4j.config.server.ServerSideConfiguration</param-name>
        <param-value>com.propertyvista.server.config.VistaServerSideConfiguration</param-value>
    </context-param>

    <!-- For Tomcat the same sessionCookiePath is set context.xml -->
    <context-param>
        <param-name>org.eclipse.jetty.servlet.SessionPath</param-name>
        <param-value>/</param-value>
    </context-param>

    <listener>
        <listener-class>com.propertyvista.server.config.VistaInitializationServletContextListener</listener-class>
    </listener>
    
	<listener>
        <listener-class>com.propertyvista.biz.system.AuditSessionListener</listener-class>
    </listener>

    <filter>
        <filter-name>GWTCacheFilter</filter-name>
        <filter-class>com.propertyvista.server.GWTCacheFilter</filter-class>
        <init-param>
            <param-name>cacheExpiresHours</param-name>
            <param-value>20</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>GWTCacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>RobotsFilter</filter-name>
        <filter-class>com.propertyvista.server.security.RobotsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RobotsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LifecycleFilter</filter-name>
        <filter-class>com.pyx4j.server.contexts.LifecycleFilter</filter-class>
        <!--
        <init-param>
            <param-name>developmentDebugResponse</param-name>
            <param-value>true</param-value>
        </init-param>
        -->
    </filter>

    <filter-mapping>
        <filter-name>LifecycleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>OpenIdFilter</filter-name>
        <filter-class>com.propertyvista.server.security.openId.OpenIdFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>OpenIdFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PMSiteRobotsTxtFilter</filter-name>
        <filter-class>com.propertyvista.pmsite.server.PMSiteRobotsTxtFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>PMSiteRobotsTxtFilter</filter-name>
        <url-pattern>/portal/robots.txt</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>wicket.site</filter-name>
        <filter-class>com.propertyvista.pmsite.server.PMSiteFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>com.propertyvista.pmsite.server.PMSiteApplication</param-value>
        </init-param>
        <init-param>
            <param-name>ignoreUrls</param-name>
            <param-value>/robots.txt,/favicon.ico,/portalWeb*,/residents/\w*,/vista/https/*,/media/*,/o/*,*.siteimgrc,/debug/*</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>wicket.site</filter-name>
        <url-pattern>/portal/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>OAPIFilter</filter-name>
        <filter-class>com.propertyvista.server.oapi.OAPIFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>OAPIFilter</filter-name>
        <url-pattern>/interfaces/oapi/*</url-pattern>
    </filter-mapping>

    <!-- Servlets -->

    <servlet>
        <servlet-name>OpenIdServlet</servlet-name>
        <servlet-class>com.propertyvista.server.security.openId.OpenIdServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OpenIdServlet</servlet-name>
        <url-pattern>/o/openid</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OpenIdServlet</servlet-name>
        <url-pattern>/ob/o/openid</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OpenIdServlet</servlet-name>
        <url-pattern>/portal/o/openid</url-pattern>
    </servlet-mapping>

    <!-- See RewriteRule in Apache HTTP -->
    <servlet-mapping>
        <servlet-name>OpenIdServlet</servlet-name>
        <url-pattern>/crm/o/openid</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OpenIdServlet</servlet-name>
        <url-pattern>/ptapp/o/openid</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IdpXrdsServlet</servlet-name>
        <servlet-class>com.propertyvista.server.security.idp.IdpXrdsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IdpXrdsServlet</servlet-name>
        <url-pattern>/static/accounts/idp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IdpEndpointServlet</servlet-name>
        <servlet-class>com.propertyvista.server.security.idp.IdpEndpointServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IdpEndpointServlet</servlet-name>
        <url-pattern>/static/accounts/endpoint</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>com.propertyvista.server.ci.VistaStatusServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/o/status</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/public/status</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeployVerificationServlet</servlet-name>
        <servlet-class>com.pyx4j.essentials.server.admin.DeployVerificationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeployVerificationServlet</servlet-name>
        <url-pattern>/public/verify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplicationVersionServlet</servlet-name>
        <servlet-class>com.pyx4j.config.server.ApplicationVersionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ApplicationVersionServlet</servlet-name>
        <url-pattern>/version</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApplicationVersionServlet</servlet-name>
        <url-pattern>/o/version</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApplicationVersionServlet</servlet-name>
        <url-pattern>/public/version</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DebugServlet</servlet-name>
        <servlet-class>com.pyx4j.essentials.server.dev.DebugServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/debug/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/interfaces/oapi/debug/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/o/debug/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/operations/debug/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/portal/debug/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/crm/debug/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/ptapp/debug/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/public/debug/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TestTimeoutServlet</servlet-name>
        <servlet-class>com.propertyvista.server.ci.TestTimeoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestTimeoutServlet</servlet-name>
        <url-pattern>/o/tt</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DBResetServlet</servlet-name>
        <servlet-class>com.propertyvista.server.ci.DBResetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DBResetServlet</servlet-name>
        <url-pattern>/o/db-reset</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DBResetServlet</servlet-name>
        <url-pattern>/operations/db-reset</url-pattern>
    </servlet-mapping>

<!--

http://static.dev.birchwoodsoftwaregroup.com:8888/vista/o/wsp/yardi.starlightinvest.com/voyager6008sp17/webservices/itfresidenttransactions20.asmx

-->

<!--
    <servlet>
        <servlet-name>DevDumpProxyServlet</servlet-name>
        <servlet-class>com.pyx4j.essentials.server.dev.DevDumpProxyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DevDumpProxyServlet</servlet-name>
        <url-pattern>/o/wsp/*</url-pattern>
    </servlet-mapping>
-->
    <servlet>
        <servlet-name>CardServiceSimulationServlet</servlet-name>
        <servlet-class>com.propertyvista.operations.server.services.simulator.CardServiceSimulationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CardServiceSimulationServlet</servlet-name>
        <url-pattern>/o/CardServiceSimulation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VistaDevSessionServlet</servlet-name>
        <servlet-class>com.propertyvista.server.security.openId.VistaDevSessionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VistaDevSessionServlet</servlet-name>
        <url-pattern>/o/sim-sim-otkroisa</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VistaDevSessionServlet</servlet-name>
        <url-pattern>/portal/o/sim-sim-otkroisa</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <servlet-class>com.pyx4j.rpc.server.RemoteServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <url-pattern>/ob/srv/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <url-pattern>/portal/residents/srv/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <url-pattern>/portal/portalWeb/srv/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <url-pattern>/ptapp/srv/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <url-pattern>/operations/srv/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <url-pattern>/crm/srv/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoteServiceServlet</servlet-name>
        <url-pattern>/field/srv/*</url-pattern>
    </servlet-mapping>

    <!-- <servlet> <servlet-name>RemoteJ2SEServiceServlet</servlet-name> <servlet-class>com.pyx4j.rpc.server.RemoteJ2SEServiceServlet</servlet-class>
        </servlet> <servlet-mapping> <servlet-name>RemoteJ2SEServiceServlet</servlet-name> <url-pattern>/internal/j2sesrv/*</url-pattern>
        </servlet-mapping> -->
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.pyx4j.essentials.server.download.DownloadServlet</servlet-class>
    </servlet>

    <!-- See ServletMapping class when moving to Servlet v3 -->
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/operations/download/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/crm/download/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/ptapp/download/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VistaUploadServlet</servlet-name>
        <servlet-class>com.propertyvista.server.VistaUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VistaUploadServlet</servlet-name>
        <url-pattern>/operations/upload/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VistaUploadServlet</servlet-name>
        <url-pattern>/crm/upload/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VistaUploadServlet</servlet-name>
        <url-pattern>/portal/residents/upload/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VistaUploadServlet</servlet-name>
        <url-pattern>/ptapp/upload/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplicationDocumentServlet</servlet-name>
        <servlet-class>com.propertyvista.portal.server.upload.ApplicationDocumentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ApplicationDocumentServlet</servlet-name>
        <url-pattern>/application_document/*</url-pattern>
    </servlet-mapping>

    <servlet>
    	<servlet-name>PmcDocumentServlet</servlet-name>
    	<servlet-class>com.propertyvista.portal.server.upload.PmcDocumentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    	<servlet-name>PmcDocumentServlet</servlet-name>
    	<url-pattern>/pmc_document/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    	<servlet-name>PmcDocumentServlet</servlet-name>
    	<url-pattern>/operations/pmc_document/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    	<servlet-name>PmcDocumentServlet</servlet-name>
    	<url-pattern>/crm/pmc_document/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SiteImageResourceServlet</servlet-name>
        <servlet-class>com.propertyvista.portal.server.upload.SiteImageResourceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SiteImageResourceServlet</servlet-name>
        <url-pattern>*.siteimgrc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomSkinProxyServlet</servlet-name>
        <servlet-class>com.propertyvista.portal.server.residentskinproxy.CustomSkinProxyServlet</servlet-class>
    </servlet>

    <!-- development URL mapping -->
    <servlet-mapping>
        <servlet-name>CustomSkinProxyServlet</servlet-name>
        <url-pattern>/https/*</url-pattern>
    </servlet-mapping>

    <!-- context less URL mapping -->
    <servlet-mapping>
        <servlet-name>CustomSkinProxyServlet</servlet-name>
        <url-pattern>/portal/vista/https/*</url-pattern>
    </servlet-mapping>

    <!-- need this for deployments where CRM is directly on root URL e.g. http://redridge.propertyvista.com/ -->
    <servlet-mapping>
        <servlet-name>ApplicationDocumentServlet</servlet-name>
        <url-pattern>/crm/application_document/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ApplicationDocumentServlet</servlet-name>
        <url-pattern>/ptapp/application_document/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PublicMediaServlet</servlet-name>
        <servlet-class>com.propertyvista.portal.server.portal.PublicMediaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PublicMediaServlet</servlet-name>
        <url-pattern>/portal/media/*</url-pattern>
    </servlet-mapping>

    <!-- need this for deployments where CRM is directly on root URL e.g. http://redridge.propertyvista.com/ -->
    <servlet-mapping>
        <servlet-name>PublicMediaServlet</servlet-name>
        <url-pattern>/crm/media/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PublicMediaServlet</servlet-name>
        <url-pattern>/ptapp/media/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VistaConfigInfoServlet</servlet-name>
        <servlet-class>com.propertyvista.operations.server.services.VistaConfigInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VistaConfigInfoServlet</servlet-name>
        <url-pattern>/operations/config</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EnvLinksServlet</servlet-name>
        <servlet-class>com.propertyvista.server.ci.EnvLinksServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EnvLinksServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.propertyvista.server.ci.bugs.WSServletContextListenerFix</listener-class>
    </listener>

    <servlet>
        <servlet-name>OpenApiWsService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OpenApiWsService</servlet-name>
        <url-pattern>/interfaces/oapi/ws/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OpenApiRsService</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.propertyvista.oapi.rs.OpenApiRsApplication</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>OpenApiRsService</servlet-name>
        <url-pattern>/interfaces/oapi/rs/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ILSKijijiService</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.propertyvista.ils.kijiji.rs.KijijiApiRsApplication</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ILSKijijiService</servlet-name>
        <url-pattern>/interfaces/ils/kijiji/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <!-- set 20 for production -->
        <session-timeout>240</session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/static/errors/404.html</location>
    </error-page>

    <error-page>
        <error-code>412</error-code>
        <location>/static/errors/412.html</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/static/errors/500.html</location>
    </error-page>

    <error-page>
        <exception-type>com.propertyvista.portal.rpc.shared.SiteWasNotActivatedUserRuntimeException</exception-type>
        <location>/static/errors/not-activated.html</location>
    </error-page>

    <error-page>
        <exception-type>com.propertyvista.portal.rpc.shared.SiteWasNotSetUpUserRuntimeException</exception-type>
        <location>/static/errors/not-setup.html</location>
    </error-page>

    <error-page>
        <exception-type>com.pyx4j.rpc.shared.ContainerHandledUserRuntimeException</exception-type>
        <location>/static/errors/500.html</location>
    </error-page>

</web-app>
