.vista-pmsite-residentPage {
	background: url("images/inner_content_bg.png") repeat-x scroll 0 0
		#37393F;
}

.vista-pmsite-residentPage .vista-pmsite-content {
	background: url("images/inner_bg.png") no-repeat scroll 50% 0
		transparent;
}


.vista-pmsite-residentPage .vista-pmsite-contentWrap {
	background: url("images/inner_content_bg.png") repeat-x scroll 0 0
		#37393F;
}

.vista-pmsite-residentPage .secondaryNavig {
	padding: 35px 0;
	width: 211px;
	float: left;
	min-height: 400px;
}

.vista-pmsite-residentPage .secondaryNavig ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.vista-pmsite-residentPage .secondaryNavig ul li {
	color: #CCCCCC;
	font-size: 17px;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	padding: 0 10px 0 35px;
}

.vista-pmsite-residentPage .secondaryNavig ul li:hover {
	color: #B5E329;
	text-decoration: none;
}

.vista-pmsite-residentPage .secondaryNavig ul li.active {
	background: url("images/menu_active.png") no-repeat scroll 0 50%
		transparent;
}

.vista-pmsite-residentPage .secondaryNavig ul li a {
	color: #CCCCCC;
}

.vista-pmsite-residentPage .secondaryNavig ul li a:hover {
	color: #B5E329;
	text-decoration: none;
}

.vista-pmsite-residentPage .content {
	min-height: 400px;
	color: #333333;
	background-color: white;
	line-height: 20px;
	overflow: hidden;
	padding-bottom: 20px;
}

.vista-pmsite-residentPage .LandingViewSectionHeader {
	text-align: center;
	font-size: 18px;
}

.vista-pmsite-residentPage .TenantDashboard .FormFlexPanelH1Label,.FormFlexPanel .FormFlexPanelH1Label,.LandingCaptionTextEmph
	{
	font-size: 18px;
	font-weight: bold;
	text-shadow: none;
}

.vista-pmsite-residentPage .LandingTermsAndConditionsBox {
	margin-left: 80px;
	margin-right: 80px;
}

.vista-pmsite-residentPage .Button,.gwt-Button {
	background: url("images/btn.png") no-repeat scroll 0 0 transparent;
	background-size: 100% 64px;
	border: medium none;
	color: #000000;
	cursor: pointer;
	font-size: 16px;
	height: 32px;
	text-shadow: 0 1px 0 #CCCCCC;
	text-transform: uppercase;
	min-width: 128px;
	text-align: center;
	white-space: nowrap;
	filter: false; /*for IE9*/
}

.vista-pmsite-residentPage .Button:hover {
	background-position: 0 -32px;
}

.vista-pmsite-residentPage .Button.TSPurchaseViewNextStepButton.Button-disabled,.Button.TSPurchaseViewNextStepButton
	{
	float: right;
	margin: 0 20px 20px 20px;
	width: auto;
}

.vista-pmsite-residentPage .Button-disabled {
	cursor: default;
}

.vista-pmsite-residentPage .ButtonText {
	bottom: -7px;;
}

.SiteViewAction .Anchor {
	white-space: nowrap;
	float: right;
}

.vista-pmsite-residentPage .ValidationLabel ul {
	padding-left: 10px;
}

.TriggerPannel .TextBox	{
	width: 90px !important;
}

.ProvideTIBGetTenantSure {
	padding: 0 0.4em !important;
	width: auto;
}

.TenantSureManagementStatusDetailsPanel {
    width: 65% !important;
}


.TenantSureManagementActionsPanel {
    width: 35% !important;
}

.TenantSureManagementActionsPanel .Anchor-disabled {
	color: #666666 !important;
    text-decoration: none;
    cursor: default;
}

.LandingButtonHolder {
    text-align: center !important;
}